Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(ks,employer): search employment data with birthdate and s/n
  frontend/kesaseteli/employer/src/components/application/form/DateInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/backend/useEmploymentQuery.ts
  frontend/shared/src/components/forms/inputs/DateInput.tsx
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: revert commitlint mess
  .husky/commit-msg
  commitlint.config.mjs
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix test for reintroduced signer section
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): run "ruff format && ruff check --fix"
  backend/kesaseteli/applications/migrations/0049_remove_employersummervoucher_employee_home_city_and_more.py
  backend/kesaseteli/applications/migrations/0050_add_target_group_to_youth_application.py
  backend/kesaseteli/applications/migrations/0052_remove_target_group_from_youth_summer_voucher.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_target_group_validation_api.py
  backend/kesaseteli/common/decorators.py
  backend/kesaseteli/companies/tests/test_company_services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): add django-auditlog & django-auditlog-extra packages
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks): change husky to fail fast
  .husky/commit-msg
  .husky/pre-commit
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): migrate husky to v9
  .husky/README.md
  .husky/commit-msg
  .husky/pre-commit
  .husky/scripts/doctoc-staged-readmes.sh
  .husky/scripts/run-frontend-lerna-pre-commit.sh
  .pre-commit-config.yaml
  README.md
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): add doctoc generated block to husky readme
  .husky/README.md
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): make commitlint run only through pre-commit
  .husky/README.md
  .husky/commit-msg
  .pre-commit-config.yaml
  README.md
  package.json
  yarn.lock
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): migrate doctoc to pre-commit
  .husky/README.md
  .husky/pre-commit
  .husky/scripts/doctoc-staged-readmes.sh
  .pre-commit-config.yaml
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): due date of second instalment
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/rules.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): configure & use auditlog + auditlog_extra
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/kesaseteli/apps.py
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks): drop doctoc dependency
  .husky/README.md
  README.md
  package.json
  yarn.lock
Due: pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): remove historical models as unnecessary
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/migrations/0053_remove_all_remaining_historical_models.py
  backend/kesaseteli/applications/migrations/0054_employerapplication_submitted_at.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/pyproject.toml
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/kesaseteli/simple_history/__init__.py
  backend/kesaseteli/simple_history/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli,backend): remove temporary HistoricalRecords stub
  backend/kesaseteli/simple_history/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,backend): remove HistoricalModel as unused
  backend/shared/shared/models/abstract_models.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): ensure tol-code is set for new appl
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): audit log access to change/history/delete django admin views
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/companies/admin.py
  backend/kesaseteli/kesaseteli/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): 2nd instalment requested to front page
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/applicant/src/components/applications/applicationList/SecondInstalmentList.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/useSecondInstalmentApplicationList.ts
  frontend/benefit/applicant/src/hooks/useApplicationsQuery.ts
  frontend/benefit/applicant/src/pages/index.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): security fix and birthdate field into employer app handling
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_validation.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): improve filling inputs and mocking post codes
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/tsconfig.json
  frontend/shared/browser-tests/utils/input.utils.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/__tests__/utils/test-utils.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.sc.ts
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/utils/__tests__/mask-gdpr-data.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): replace ssn with birthdate and other misc fixes
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/ApplicationForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/employer/src/hooks/application/usePersistFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): always return None when user company could not be found
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): fix IntegrityError in sequentialy tests
  backend/kesaseteli/applications/tests/test_models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): employer app filter defaults showing companys apps
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_validation.py
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: migrate shared UI to hds-react v5
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
  frontend/shared/.prettierrc.json
  frontend/shared/browser-tests/utils/random.utils.ts
  frontend/shared/browser-tests/utils/request-logger.ts
  frontend/shared/package.json
  frontend/shared/src/components/application-wizard/ApplicationWizard.tsx
  frontend/shared/src/components/attachments/UploadAttachment.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/link-button/LinkButton.sc.ts
  frontend/shared/src/components/modal/Modal.tsx
  frontend/shared/src/components/pages/NotificationPage.tsx
  frontend/shared/src/components/toast/ToastContainer.tsx
  frontend/shared/src/hooks/useCookieConsent.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/i18n/get-server-side-translations.ts
  frontend/shared/src/styles/fonts.ts
  frontend/shared/src/utils/application.utils.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
  frontend/shared/src/utils/file.utils.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): normal user should always represent some company
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): handler can handle applications with invalid SSN
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/VtjErrorNotification.tsx
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/VtjErrorNotification.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
