Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(ks,employer): remove referencable employment fields
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/application.utils.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,frontend): add matomo & cookie consent to employer & youth UIs
  .env.kesaseteli-employer.example
  .env.kesaseteli-youth.example
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/cookie-settings.tsx
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
  frontend/kesaseteli/shared/src/constants/cookie-consent.ts
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
  frontend/kesaseteli/youth/src/components/header/Header.tsx
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/kesaseteli/youth/src/pages/cookie-settings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(benefit): remove unused old audit logging settings
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new states for instalments
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/enums.py
  backend/benefit/calculator/migrations/0019_alter_instalment_status.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): created tests for sending emails
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(shared): add override_settings to audit log tests
  backend/benefit/helsinkibenefit/settings.py
  backend/shared/shared/audit_log/tests/test_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend,all): fix use of env vars in /frontend/next.config.js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): added fetching new instalment statuses to backend
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: update axios versions
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the test for request payslip
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): minor alterations to the code
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): upgrade Django 5.1→5.2 and all packages
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): iban input id property handling
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared,frontend): default value for DateInput and SelectionGroup
  frontend/shared/src/components/forms/inputs/DateInput.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/application.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): leave SSN field as read only after data is fetched
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): session storage for wizard values
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useLoadDraftOrCreateNewApplication.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/services/ApplicationPersistenceService.ts
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
  frontend/kesaseteli/employer/src/utils/application.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): translations
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: add missing things from previous pr
  frontend/benefit/applicant/src/utils/test-utils/axios-test-context.ts
  frontend/benefit/handler/src/utils/test-utils/axios-test-context.ts
  frontend/shared/src/__tests__/utils/create-axios-test-context.ts
  frontend/shared/src/components/pages/PageNotFound.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: update axios versions (#3907)
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/utils/test-utils/axios-test-context.ts
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/utils/test-utils/axios-test-context.ts
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/create-axios-test-context.ts
  frontend/shared/src/components/pages/PageNotFound.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): notification flashing briefly
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmploymentsErrorNotification.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): init list of vouchers with an empty one
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
Due: pipelines/yjdh-tet-api-dev.yml

style(ks,employer): fix misc linting issues
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/cookie-settings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): update axios for consistency and fix Nock test setup
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/create-axios-test-context.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): remove referencable employment fields from API
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/migrations/0049_remove_employersummervoucher_employee_home_city_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/common/tests/factories.py
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): remove referencable employment fields
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/migrations/0049_remove_employersummervoucher_employee_home_city_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/common/tests/factories.py
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/application.utils.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: readiness endpoint KEH-228
  frontend/Dockerfile
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): added a test for state transitions
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
