Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(ks,employer): single form wizard form flow
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/application.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/DateInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/SelectionGroup.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/Step1Employer.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/Step1EmployerAndEmployment.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/Step2Employments.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/Step2Summary.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/AccordionActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/AccordionFormContext.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/AddNewEmploymentButton.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordion.sc.ts
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordion.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordionForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordionHeader.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordions.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step3/Step3Summary.tsx
  frontend/kesaseteli/employer/src/components/application/summary/ApplicationSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useLoadDraftOrCreateNewApplication.ts
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/backend/backend-nocks.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/components/forms/inputs/DateInput.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui to reflect 2026 changes
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): add organization_type to organisation serializer
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/companies/api/v1/serializers.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): upgrade YTJ client to use v3 endpoint
  backend/shared/shared/ytj/README.md
  backend/shared/shared/ytj/exceptions.py
  backend/shared/shared/ytj/tests/test_ytj_client_v3.py
  backend/shared/shared/ytj/ytj_client.py
  backend/shared/shared/ytj/ytj_dataclasses.py
  backend/shared/shared/ytj/ytj_schema.yaml
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): upgrade YTJ client to use v3 endpoint
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/data/company_data.py
  backend/kesaseteli/companies/tests/test_company_api.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add & populate Company.created_at & modified_at fields
  backend/kesaseteli/companies/migrations/0009_company_created_at_company_modified_at.py
  backend/kesaseteli/companies/migrations/0010_populate_company_timestamps.py
  backend/kesaseteli/companies/migrations/helpers/__init__.py
  backend/kesaseteli/companies/migrations/helpers/company_timestamps.py
  backend/kesaseteli/companies/models.py
  backend/kesaseteli/companies/tests/test_populate_company_timestamps.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): update migrations after merging of PR #3871
  backend/kesaseteli/applications/migrations/0047_alter_historicalyouthsummervoucher_target_group_and_more.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): index Company.name for search & ordering performance
  backend/kesaseteli/companies/migrations/0011_company_add_name_index.py
  backend/kesaseteli/companies/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): index EmployerApplication timestamps & status field
  backend/kesaseteli/applications/migrations/0048_employerapplication_add_timestamp_and_status_indexes.py
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add django-filter package
  backend/docker/kesaseteli.Dockerfile
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui to reflect 2026 changes
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): update prerequisites reminder
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): allow filtering & ordering EmployerApplicationViewSet
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application disappears from "Maksuerät" tab
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): make excel-download page better UI-wise
  backend/kesaseteli/applications/templates/application_excel_download.html
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui to reflect 2026 changes
  backend/benefit/applications/tests/test_application_clone.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_applications_api_breaking_changes.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_benefit_aggregation.py
  backend/benefit/applications/tests/test_handler_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): updated links to About the service
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): move .env.kesaseteli.example to app specific files
  .env.kesaseteli-backend.example
  .env.kesaseteli-employer.example
  .env.kesaseteli-handler.example
  .env.kesaseteli-youth.example
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,backend,frontend): prune & augment env example files
  .env.kesaseteli-backend.example
  .env.kesaseteli-employer.example
  .env.kesaseteli-handler.example
  .env.kesaseteli-youth.example
  frontend/kesaseteli/youth/browser-tests/utils/url.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,backend,frontend): use .env.kesaseteli-<app> files
  README.md
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/settings.py
  compose.employer.yml
  compose.handler.yml
  frontend/kesaseteli/employer/.testcaferc.js
  frontend/kesaseteli/employer/next.config.js
  frontend/kesaseteli/handler/.testcaferc.js
  frontend/kesaseteli/handler/next.config.js
  frontend/kesaseteli/youth/.testcaferc.js
  frontend/kesaseteli/youth/next.config.js
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application disappears from "Maksuerät" tab
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(bf,shared): bump axios to 1.13.5, migration fixes Refs: RATY-299
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/utils/test-utils/axios-test-context.ts
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/utils/test-utils/axios-test-context.ts
  frontend/benefit/shared/package.json
  frontend/shared/src/__tests__/utils/create-axios-test-context.ts
  frontend/shared/src/components/pages/PageNotFound.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared,frontend): remove unnecessary .env.kesaseteli dotenv loading
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix broken employee consent pdf links
  frontend/benefit/applicant/public/locales/fi/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,frontend): add matomo support to employer & youth UIs
  .env.kesaseteli-employer.example
  .env.kesaseteli-youth.example
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/cookie-settings.tsx
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/kesaseteli/youth/src/pages/cookie-settings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix broken employee consent pdf links
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix broken employee consent pdf links
  frontend/benefit/applicant/public/employee_consent_en.pdf
  frontend/benefit/applicant/public/employee_consent_fi.pdf
  frontend/benefit/applicant/public/employee_consent_sv.pdf
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
