Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(benefit): cleanup next.config.js Ref: HL-1631
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: switch to real shared file where it should work
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
Due: none

feat: use common ci workflow
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/ci-node-shared.yml
  .github/workflows/ci-node.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
  .github/workflows/shared-frontend-tests.yml
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/shared/sonar-project.properties
  frontend/kesaseteli/youth/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove now unused versions of ci-node
  .github/workflows/ci-node-shared.yml
  .github/workflows/ci-node.yml
Due: none

chore: try the shared part ci flows with mock
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/shared-frontend-tests.yml
Due: none

chore: remove unneeded dir change
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
Due: none

chore: remove last unused version of ci-node
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/ci-node2.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/shared-frontend-tests.yml
Due: none

chore: try fixing the shared versions
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/shared-frontend-tests.yml
Due: none

chore: add new version of sharec ci
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/ci-node2.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
Due: none

chore: nextjs upgrade to 15
  frontend/benefit/applicant/instrumentation.ts
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/instrumentation.ts
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/instrumentation.ts
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/handler/instrumentation.ts
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/instrumentation.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade @sentry/nextjs @sentry/browser to latest
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: type check and eslint errors
  frontend/.eslintrc.base.js
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmployeeErrorNotification.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/handler/src/hooks/application/useApplicationWithoutSsnFormField.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/next.config.js
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/pages/PageNotFound.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/shared/src/utils/string.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: security update
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: increase max override monthly benefit
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/tests/test_calculator_api.py
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add .vscode to .gitignore
  .gitignore
Due: pipelines/yjdh-tet-api-dev.yml

fix(docker): do not set platform in compose
  compose.employer.yml
  compose.handler.yml
Due: pipelines/yjdh-tet-api-dev.yml

docs(env): add DATABASE_URL environment variable in env example
  .env.kesaseteli.example
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): update target group ages from 16 → 16/17 for year 2026
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/youth/browser-tests/utils/youth-application.utils.ts
  frontend/kesaseteli/youth/browser-tests/youth-application.testcafe.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): set school list for year 2026
  backend/kesaseteli/applications/migrations/0037_set_year_2026_schools.py
  backend/kesaseteli/common/tests/conftest.py
  backend/kesaseteli/common/tests/factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update target to es2018 and set all typescript to 5.9.3
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/utils/string.utils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use common ci wokflow for frontend HL-1637 (#3778)
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
  .github/workflows/shared-frontend-tests.yml
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/shared/sonar-project.properties
  frontend/kesaseteli/youth/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fix axios http adapter for tests. fix some eslint warnings
  frontend/.eslintrc.base.js
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: check authentication before calling for messages
  frontend/benefit/handler/src/hooks/useApplicationsWithMessagesQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: add note about about test data generation
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: null pointer exception in excel exporter
  backend/kesaseteli/applications/exporters/excel_exporter.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): trivial ts error in PageNotFound component
  frontend/shared/src/components/pages/PageNotFound.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): use legacyBehaviour with Link-component
  frontend/shared/src/components/link-text/LinkText.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(mocks): add VTJMockClient
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/common/tests/factories.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(mocks): company views
  backend/kesaseteli/companies/api/v1/views.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

WIP refactor(mocks): fixes
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/companies/api/v1/views.py
  backend/kesaseteli/companies/tests/test_company_api.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(auth): add timeouts to graph API calls
  backend/shared/shared/azure_adfs/auth.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(auth): clarify is staff field update on every auth
  backend/shared/shared/azure_adfs/auth.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(admin): login to admin site with ADFS
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/templates/admin/hel_login.html
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
