Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(benefit): new fields added to the backend
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/migrations/0095_application_purchased_service_and_more.py
  backend/benefit/applications/migrations/0096_application_other_subsidised_employed_and_more.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_application_clone.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): apprenticeship decoupling from pay subsidy
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/2-edit-application.testcafe.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/utils/validation.ts
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application list formatting
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListItem.sc.ts
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): no decimals in ahjo decisions
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/tests/test_ahjo_decisions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): wrong error message in a field
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): normalize undefined granted subsidy
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): rejected applications are shown in archive
  backend/benefit/applications/services/ahjo/response_handler.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): wrong status for responded application
  backend/benefit/applications/api/v1/status_transition_validator.py
  backend/benefit/applications/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks,backend): document employer application crud endpoints
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): add path-based employer excel export endpoints
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/templates/application_excel_download.html
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/openapi.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): decorate excel export get with adfs login
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): move create-without-ssn server fields to serializer
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): configure SCHEMA_PATH_PREFIX for cleaner tags
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): keep OpenAPI operationId stable
  backend/kesaseteli/common/openapi.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): simplify openapi type hints
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): show excel export errors on landing page
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add Swagger UI documentation route
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add OpenAPI and ReDoc for kesaseteli API
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/companies/api/v1/views.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): improve activate response description
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): improve OpenAPI docs for file endpoints
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): stabilize language enum name in OpenAPI schema
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): simplify youth application serialization and views
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): simplify fetch employee data response
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,api): redact employee data lookup warning
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): assert empty home city for turvakielto lookup
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): add operation ids
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): add explicit method-not-allowed fallback
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Revert "fix(ks,api): redact employee data lookup warning"
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): allow null home city for turvakielto applicants
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): add Swagger UI assertion to schema test
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,api): return 500 when fetch employee data response is invalid
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): remove committed OpenAPI snapshot
  backend/kesaseteli/README.md
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/schema.yaml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): use ISO date string in employee data test
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks,backend): remove redundant None return hints in tests
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): strip off view prefix from actions in open api docs
  backend/kesaseteli/common/openapi.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/schema.yaml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): move OpenAPI serializers into api serializers
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/data/create_without_ssn_examples.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(kesaseteli,benefit,shared): update to django-resilient-logger 2.3.0
  backend/benefit/requirements.txt
  backend/kesaseteli/kesaseteli/log_targets.py
  backend/kesaseteli/kesaseteli/tests/test_routed_log_target.py
  backend/kesaseteli/requirements.txt
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/tests/test_resilient_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): backend changes for new terms
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/terms/api/v1/serializers.py
  backend/benefit/terms/api/v1/views.py
  backend/benefit/terms/migrations/0008_terms_terms_pdf_2_en_terms_terms_pdf_2_fi_and_more.py
  backend/benefit/terms/migrations/0009_alter_applicantconsent_text_en_and_more.py
  backend/benefit/terms/models.py
  backend/benefit/terms/tests/factories.py
  backend/benefit/terms/tests/test_terms_pdf_download.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): frontend changes for new terms
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/ApplicationFormStep6.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/useApplicationFormStep6.test.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
