Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

chore(shared,backend): remove HistoricalModel as unused
  backend/shared/shared/models/abstract_models.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test information in mail body
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_en.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_fi.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_sv.txt
  backend/benefit/messages/automatic_messages.py
  frontend/benefit/common/src/emails/text-templates/payslip-required.template.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,compose): restructure development compose files
  compose.employer.yml
  compose.handler.yml
  compose/base.kesaseteli.yml
  compose/employer.dev.yml
  compose/employer.yml
  compose/handler.dev.yml
  compose/handler.yml
  compose/linux.yml
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

docs(backend): add running tests section
  backend/README.md
Due: pipelines/yjdh-tet-api-dev.yml

docs: restore release please and git workflow section in readme
  README.md
Due: none

docs: add table of contents to root readme
  README.md
Due: none

docs: rewrite root README for handover and clarity
  README.md
Due: none

chore: minor readme style fixes
  README.md
Due: none

docs: update README for restructured compose files
  README.md
Due: none

fix(ks,api): employee name is removed from EmployerSumemrVoucher
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): custom logout handler to fix next-url handling
  backend/kesaseteli/kesaseteli/urls.py
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(backend): fix Kesäseteli test compose path
  backend/README.md
Due: pipelines/yjdh-tet-api-dev.yml

ci(benefit): hel base sonar-project.properties Refs: KEH-189
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): restructure README for onboarding and handover
  README.md
  backend/README.md
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the tests
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks,employer): fix tab sizes
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/types/types.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore: benefit backend ci workflow
  .github/workflows/bf-backend-ci.yml
  backend/benefit/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: variable needed to run migration check
  .github/workflows/bf-backend-ci.yml
Due: none

fix(ks): add error handler in dashboard create new handler
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,api): employer can delete draft application
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): add creaEmptyVoucher for improved code quality
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared): duplicated element id in modal component
  frontend/shared/src/components/modal/Modal.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add error handler route push of leave confirm hook
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): improve success handler
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): invalidate queries with only_mine -parameter
  frontend/kesaseteli/employer/src/hooks/backend/useCreateApplicationQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useDeleteApplicationQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): fix linting issues
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/hooks/application/useLoadDraftOrCreateNewApplication.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): wizard process cancellation and navigation guard
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/url.utils.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/components/application/ApplicationForm.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/backend/useDeleteApplicationQuery.ts
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/shared/src/hooks/useLeaveConfirm.ts
  frontend/testcafeClientErrorHandler.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): error page redirect is missing a leading slash
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): disable cancel button while loading
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): get organisation name from session info
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useCompanyQuery.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): add error handler in thank you page's create app handler
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): structured query key for only_mine filter
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,employer): optimize browser tests form filling
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/shared/browser-tests/utils/input.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): clicking add another directly starts new wizard
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/thankyou-page/thank-you.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): change test method name
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): change postal code type to string
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): dashboard as a landing page
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/types/types.ts
  frontend/shared/src/components/application-wizard/ApplicationWizard.sc.ts
  frontend/shared/src/components/application-wizard/ApplicationWizard.tsx
  frontend/shared/src/components/layout/Layout.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
