Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(backend): protect dependency metadata in Docker images
  backend/docker/benefit.Dockerfile
  backend/docker/kesaseteli.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(frontend): update README table of contents
  frontend/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): require youth applications to be active for attachments
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): secure youth attachment delivery and handler uploads
  backend/kesaseteli/applications/api/v1/mixins.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add setting to disable anonymous youth attachments
  .env.kesaseteli-backend.example
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add youth application attachments backend implementation
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/authentications.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/migrations/0067_alter_attachment_options_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
  backend/kesaseteli/common/tests/conftest.py
  backend/kesaseteli/common/tests/factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks): update Finnish translation messages
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/common/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/handler_notes/locale/fi/LC_MESSAGES/django.po
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: remove readiness endpoint from frontend readme
  frontend/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add post_delete cleanup for attachment files
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): lock youth application during attachment deletion
  backend/kesaseteli/applications/api/v1/mixins.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): implement youth application attachments and refactor
  frontend/kesaseteli/handler/src/components/attachments/ApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/attachments/ApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/AttachmentCommentsDialog.tsx
  frontend/kesaseteli/handler/src/components/attachments/DeleteAttachmentDialog.tsx
  frontend/kesaseteli/handler/src/components/attachments/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/YouthApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/__tests__/DeleteAttachmentDialog.test.tsx
  frontend/kesaseteli/handler/src/components/attachments/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/hooks/attachments/useAttachmentActionToasts.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/invalidateEmployerAttachmentQueries.test.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useCreateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useDeleteNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUpdateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/invalidateEmployerAttachmentQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/invalidateYouthAttachmentQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteEmployerAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteYouthAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useOpenEmployerAttachment.ts
  frontend/kesaseteli/handler/src/hooks/backend/useOpenYouthAttachment.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUploadEmployerAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUploadYouthAttachmentQuery.ts
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/handler/src/utils/attachment.utils.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): show success toast when note is deleted
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteYouthAttachmentMutation.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add ensure_talpa_export_test_applications command
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/management/commands/ensure_talpa_export_test_applications.py
  backend/kesaseteli/applications/mock_context_service.py
  backend/kesaseteli/applications/tests/test_ensure_talpa_export_test_applications_command.py
  backend/kesaseteli/applications/tests/test_talpa_export_mock_service.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): fix Talpa webhook payload in README diagram
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): add page containers to prevent layout blowout
  frontend/kesaseteli/handler/src/pages/employer-applications/index.tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): fix application list table layout blowout on mobile
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.sc.ts
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared): prevent toast overflow on mobile screens
  frontend/shared/src/components/toast/ToastContainer.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared,handler): move create app without ssn to nav
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/index.tsx
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/types/common.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): transition Talpa export to ACCEPTED_FOR_PAYMENT
  backend/kesaseteli/applications/api/integration_views.py
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/management/commands/ensure_talpa_export_test_applications.py
  backend/kesaseteli/applications/mock_context_service.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_ensure_talpa_export_test_applications_command.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
  backend/kesaseteli/applications/tests/test_talpa_export_mock_service.py
  backend/kesaseteli/applications/tests/test_talpa_webhook_service.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: make request_payslip include older application start_dates
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks, youth): uniform response to ssn and email in use
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  frontend/kesaseteli/youth/browser-tests/youth-application.testcafe.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): remove unnecessary EmployerApplicationStatus.SENT_FOR_PAYMENT
  backend/kesaseteli/applications/api/v1/dashboard_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0068_alter_employerapplication_status.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/docs/diagrams/employer-application-status-changes.mmd
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/shared/src/constants/employer-application-status.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade next.js to 16.3.3
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/.eslintignore
  frontend/shared/package.json
  frontend/shared/src/server/next-build.js
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: resolve handler build failure from cross-app import
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: remove unused eslint-config-next
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style: add numeric separator to satisfy lint rule
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: keep applicant tests out of the production build
  frontend/benefit/applicant/src/components/cookieConsent/__tests__/CookieConsent.test.tsx
  frontend/benefit/applicant/src/components/link/__tests__/OpenInNewTabLink.test.tsx
  frontend/benefit/applicant/src/utils/__tests__/common.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(frontend): limit Next.js build workers
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): load root dotenv fallback
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: change Dependabot to use uv
  .github/dependabot.yml
Due: none

fix(backend): exclude local virtualenvs from translation compilation
  backend/benefit/docker-entrypoint.sh
  backend/kesaseteli/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
