Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(benefit): pagination for load_all path
  backend/benefit/applications/api/v1/search_views.py
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): backend changes for archival pagination
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add permissions-policy to django html pages
  backend/kesaseteli/common/middleware.py
  backend/kesaseteli/common/tests/test_permissions_policy.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): remove load_all and ensure parameter sanity
  backend/benefit/applications/api/v1/search_views.py
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
  frontend/benefit/handler/src/components/applicationsArchive/__tests__/useApplicationsArchive.test.ts
  frontend/benefit/handler/src/components/applicationsArchive/useApplicationsArchive.ts
  frontend/benefit/handler/src/hooks/__tests__/useSearchApplicationQuery.test.ts
  frontend/benefit/handler/src/hooks/useSearchApplicationQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): prevent queryset evaluation
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add pagination to other searches
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf): fix Sentry edge runtime configuration
  frontend/.dockerignore
  frontend/benefit/applicant/instrumentation.ts
  frontend/benefit/applicant/sentry.edge.config.ts
  frontend/benefit/handler/instrumentation.ts
  frontend/benefit/handler/sentry.edge.config.ts
  frontend/benefit/shared/src/config/sentry-common.ts
  frontend/benefit/shared/src/config/sentry-config.ts
  frontend/shared/src/components/app/BaseApp.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): restrict handler permissions to authenticated users
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/permissions.py
  backend/kesaseteli/common/tests/test_permissions.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,youth): fix browser tests and additional info form selection
  frontend/kesaseteli/youth/browser-tests/handler-application.testcafe.ts
  frontend/kesaseteli/youth/browser-tests/page-models/AdditionalInfoPage.tsx
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): skip redundant logout logs for already logged out users
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): move email preview permissions-policy test
  backend/kesaseteli/applications/tests/test_permissions_policy.py
  backend/kesaseteli/common/tests/test_permissions_policy.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): skip permissions-policy on csp-exempt probes
  backend/kesaseteli/common/middleware.py
  backend/kesaseteli/common/tests/test_probes.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add target group calculation and exclude 2026 columns
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): unblock django admin without widening global csp
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/kesaseteli/admin_site.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add ordering to querysets
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): update labels
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix boolean field error messages
  frontend/benefit/handler/src/components/applicationForm/__tests__/useApplicationForm.test.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/useApplicationForm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add EXCLUDE_2026_EXCEL_FIELDS feature flag
  .env.kesaseteli-backend.example
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): restore and move 2026 columns to end of Talpa Excel
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): enable target group calculation status in Talpa Excel
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): check full CSP lines in redoc test
  backend/kesaseteli/common/tests/test_openapi_csp.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): keep existing next.js headers when adding CSP
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): drop connect-src from excel-download csp
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): tighten kesaseteli csp policy and tests
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/common/openapi_views.py
  backend/kesaseteli/common/tests/test_openapi_csp.py
  backend/kesaseteli/common/tests/test_probes.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,frontend): apply csp headers on root and locale paths
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): allow cdn sources on openapi doc pages
  backend/kesaseteli/common/openapi_views.py
  backend/kesaseteli/common/tests/test_openapi_csp.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): add base-uri and object-src to global CSP
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): remove unsafe-inline from frontend script-src
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,frontend): add csp headers to frontend
  frontend/kesaseteli/employer/next.config.js
  frontend/kesaseteli/handler/next.config.js
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
  frontend/kesaseteli/youth/next.config.js
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,frontend): add nosniff, referrer and permissions headers
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): allow bootstrap CDN on excel-download page only
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,frontend): copy csp config into production docker image
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): avoid trailing whitespace in matomo csp directives
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add csp middleware
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/common/tests/test_probes.py
  backend/kesaseteli/common/views.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
