Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

refactor(ks,handler): move select all notification
  frontend/kesaseteli/handler/src/components/applicationList/PaymentApprovalList.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): active tab indicator was shown only after reload
  frontend/kesaseteli/handler/src/components/header/Header.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): use props object in useApplicationTableQuery
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/PaymentApprovalList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add year filter to handler application lists
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/PaymentApprovalList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/YearFilter.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): clear selection on sort and handle role lookup error
  frontend/kesaseteli/handler/src/__tests__/payment-approval.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ApplicationListTable.test.tsx
  frontend/kesaseteli/handler/src/pages/payment-approval/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

deps(shared): remove unused cors Refs: HL-1870
  frontend/pnpm-lock.yaml
  frontend/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit-applicant): remove unnecessary uuid Refs: HL-1870
  frontend/benefit/applicant/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove pool definition from pipelines
  pipelines/helsinkilisa-api-dev.yml
  pipelines/helsinkilisa-api-release.yml
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/helsinkilisa-ui-handler-release.yml
  pipelines/helsinkilisa-ui-release.yml
  pipelines/kesaseteli-api-dev.yml
  pipelines/kesaseteli-api-release.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-ui-release.yml
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
Due: pipelines/yjdh-tet-api-dev.yml

deps: upgrade resilient logger and normalize audit request IDs
  backend/benefit/uv.lock
  backend/kesaseteli/uv.lock
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/tests/test_resilient_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): templates in the frontend
  backend/kesaseteli/applications/templates/email/youth_external_message_email_en.html
  backend/kesaseteli/applications/templates/email/youth_external_message_email_fi.html
  backend/kesaseteli/applications/templates/email/youth_external_message_email_sv.html
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/types/note.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): frontend for unread messages
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useExternalMessagesQuery.ts
  frontend/kesaseteli/handler/src/types/note.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): linting and test fixes
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): allowed transitions and flag sending
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/api/v1/views.py
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): additional information status
  backend/kesaseteli/applications/models.py
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/employer/src/components/employer-application/YouthInfoFieldsSection.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useExternalMessagesQuery.ts
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): backend test fixes
  backend/kesaseteli/applications/mock_context_service.py
  backend/kesaseteli/handler_notes/tests/test_unread_messages.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): employer UI for showing applications
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationStatusFieldsSection.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerCompanyFieldsSection.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerContactPersonFieldsSection.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerInvoicerFieldsSection.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerPaymentFieldsSection.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerVoucherFieldsSection.tsx
  frontend/kesaseteli/employer/src/components/employer-application/YouthInfoFieldsSection.tsx
  frontend/kesaseteli/employer/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/employer/src/components/employer-application/__tests__/YouthInfoSection.test.tsx
  frontend/kesaseteli/employer/src/components/employer-application/fixtures.ts
  frontend/kesaseteli/employer/src/components/form/Field.tsx
  frontend/kesaseteli/employer/src/hooks/useMediaQuery.ts
  frontend/kesaseteli/employer/src/pages/applications/[id].tsx
  frontend/kesaseteli/employer/src/types/HandlerEmployerApplication.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): send email backend logic
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/mock_context_service.py
  backend/kesaseteli/applications/templates/email/employer_external_message_email_en.html
  backend/kesaseteli/applications/templates/email/employer_external_message_email_fi.html
  backend/kesaseteli/applications/templates/email/employer_external_message_email_sv.html
  backend/kesaseteli/applications/templates/email/youth_external_message_email_en.html
  backend/kesaseteli/applications/templates/email/youth_external_message_email_fi.html
  backend/kesaseteli/applications/templates/email/youth_external_message_email_sv.html
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/services.py
  backend/kesaseteli/handler_notes/tests/test_send_email.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): linting and frontend test fixes
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0071_alter_emailtemplate_type.py
  backend/kesaseteli/applications/migrations/0072_alter_emailtemplate_type.py
  backend/kesaseteli/applications/tests/test_services.py
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/tests/test_send_email.py
  backend/kesaseteli/handler_notes/tests/test_unread_messages.py
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/employer/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/employer/src/components/employer-application/__tests__/YouthInfoSection.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useExternalMessagesQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useMarkMessagesReadMutation.ts
  frontend/kesaseteli/employer/src/hooks/backend/useUnreadMessagesCountQuery.ts
  frontend/kesaseteli/employer/src/types/note.ts
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteForm.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): remove a tag from employer view
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): additional info requested state
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/api/v1/views.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NoteForm.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/types/note.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): handle email sending error
  backend/kesaseteli/handler_notes/api/v1/serializers.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): backend for unread messages
  backend/kesaseteli/handler_notes/api/v1/views.py
  backend/kesaseteli/handler_notes/tests/test_unread_messages.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): unread message count to employer UI
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUnreadMessagesCountQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): fixes to translations
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): mark messages read
  backend/kesaseteli/handler_notes/api/v1/views.py
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/employer/src/components/employer-application/YouthInfoFieldsSection.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useMarkMessagesReadMutation.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): handle permissions correctly
  backend/kesaseteli/handler_notes/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): backend API for getting unread message counts
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/api/v1/views.py
  backend/kesaseteli/handler_notes/migrations/0002_note_seen_at_note_seen_by.py
  backend/kesaseteli/handler_notes/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): fix employer permission handling
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/api/v1/views.py
  backend/kesaseteli/handler_notes/tests/test_api.py
  backend/kesaseteli/handler_notes/tests/test_employer_regression.py
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationStatusFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): translation files
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): external messaging to handler UI
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesSectionTimeline.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/types/note.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, employer): backend for unread messages
  backend/kesaseteli/handler_notes/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): fixes to tests and from AI
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/tests/test_api.py
  backend/kesaseteli/handler_notes/tests/test_employer_regression.py
  backend/kesaseteli/handler_notes/tests/test_send_email.py
  backend/kesaseteli/handler_notes/tests/test_unread_messages.py
  frontend/kesaseteli/employer/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade next.js to 16.3.3
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/.eslintignore
  frontend/shared/package.json
  frontend/shared/src/server/next-build.js
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
