Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

style(benefit,shared): fix typecheck and linting issues
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/benefit/shared/src/components/alterationForm/utils/validation.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/benefit/shared/src/components/statusIcon/StatusIcon.tsx
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/context/AlterationFormContext.tsx
  frontend/benefit/shared/src/types/application.d.ts
  frontend/benefit/shared/src/utils/common.ts
  frontend/benefit/shared/src/utils/forms.ts
  frontend/benefit/shared/src/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(benefit,handler): fix linting issues
  frontend/benefit/handler/src/components/alteration/NewAlteration.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandling.sc.ts
  frontend/benefit/handler/src/components/alterationList/AlterationList.sc.ts
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.sc.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.sc.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.sc.ts
  frontend/benefit/handler/src/components/applicationForm/review/summarySection/SummarySection.sc.ts
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/ReviewEditChanges.sc.ts
  frontend/benefit/handler/src/components/applicationHeader/ApplicationHeader.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.sc.ts
  frontend/benefit/handler/src/components/applicationReview/calculationTable/CalculationTable.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handledView/HandledView.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationAccordionItem.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/ApplicationStepper.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/EditorAhjoProposal.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep.sc.ts
  frontend/benefit/handler/src/components/applicationReview/notificationView/NotificatinsView.sc.ts
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.sc.ts
  frontend/benefit/handler/src/components/batchProcessing/ApplicationsHandled.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchAction/BatchActions.sc.ts
  frontend/benefit/handler/src/components/footer/Footer.sc.ts
  frontend/benefit/handler/src/components/header/Header.sc.ts
  frontend/benefit/handler/src/components/header/HeaderNotifier.tsx
  frontend/benefit/handler/src/components/header/NumberTag.tsx
  frontend/benefit/handler/src/components/layout/Layout.tsx
  frontend/benefit/handler/src/components/mainIngress/MainIngress.sc.ts
  frontend/benefit/handler/src/components/reviewSection/ReviewSection.tsx
  frontend/benefit/handler/src/components/table/TableExtras.sc.ts
  frontend/benefit/handler/src/layout/Layout.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(benefit,handler): fix linting issues (#3944)
  frontend/benefit/handler/src/components/alteration/NewAlteration.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandling.sc.ts
  frontend/benefit/handler/src/components/alterationList/AlterationList.sc.ts
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.sc.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.sc.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.sc.ts
  frontend/benefit/handler/src/components/applicationForm/review/summarySection/SummarySection.sc.ts
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/ReviewEditChanges.sc.ts
  frontend/benefit/handler/src/components/applicationHeader/ApplicationHeader.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.sc.ts
  frontend/benefit/handler/src/components/applicationReview/calculationTable/CalculationTable.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handledView/HandledView.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationAccordionItem.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/ApplicationStepper.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/EditorAhjoProposal.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep.sc.ts
  frontend/benefit/handler/src/components/applicationReview/notificationView/NotificatinsView.sc.ts
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.sc.ts
  frontend/benefit/handler/src/components/batchProcessing/ApplicationsHandled.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchAction/BatchActions.sc.ts
  frontend/benefit/handler/src/components/footer/Footer.sc.ts
  frontend/benefit/handler/src/components/header/Header.sc.ts
  frontend/benefit/handler/src/components/header/HeaderNotifier.tsx
  frontend/benefit/handler/src/components/header/NumberTag.tsx
  frontend/benefit/handler/src/components/layout/Layout.tsx
  frontend/benefit/handler/src/components/mainIngress/MainIngress.sc.ts
  frontend/benefit/handler/src/components/reviewSection/ReviewSection.tsx
  frontend/benefit/handler/src/components/table/TableExtras.sc.ts
  frontend/benefit/handler/src/layout/Layout.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(benefit): fix typecheck issues
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationForm/actionBar/ActionBarEdit.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/deMinimisAid/DeMinimisAidForm.tsx
  frontend/benefit/handler/src/components/applicationReports/ApplicationReports.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/CancelModalContent/CancelModalContent.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitManualCalculatorView.tsx
  frontend/benefit/handler/src/components/attachmentsListView/AttachmentsListView.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterInspection.tsx
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/shared/src/components/forms/fields/dateInputWithSeparator/DateInputWithSeparator.tsx
  frontend/shared/src/components/messaging/Actions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application number to log and instalment start date
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/calculator/rules.py
  backend/benefit/calculator/tests/test_calculator_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): date change text and fixtures
  backend/benefit/applications/fixtures/test_applications.json
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update target to es2018 and set all typescript to 5.9.3
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/utils/string.utils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fix axios http adapter for tests. fix some eslint warnings
  frontend/.eslintrc.base.js
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: cookie consent bug and data-testid typing
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: nextjs upgrade to 15
  frontend/benefit/applicant/instrumentation.ts
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/instrumentation.ts
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/instrumentation.ts
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/handler/instrumentation.ts
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/instrumentation.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: type check and eslint errors
  frontend/.eslintrc.base.js
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmployeeErrorNotification.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/handler/src/hooks/application/useApplicationWithoutSsnFormField.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/pages/PageNotFound.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/shared/src/utils/string.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: security update
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: some test errors and warnings
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/header/Header.tsx
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/kesaseteli/youth/src/pages/cookie-settings.tsx
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/components/drawer/Drawer.tsx
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: benefit browser tests
  .env.benefit-applicant.example
  .env.benefit-backend.example
  .env.benefit-handler.example
  frontend/benefit/applicant/browser-tests/page-model/step3.ts
  frontend/benefit/applicant/browser-tests/page-model/step4.ts
  frontend/benefit/applicant/browser-tests/page-model/step6.ts
  frontend/benefit/applicant/browser-tests/pages/sample.pdf
Due: pipelines/yjdh-tet-api-dev.yml

fix: https in tests and pdf samples
  compose/employer.dev.yml
  compose/handler.dev.yml
  frontend/benefit/handler/browser-tests/pages/sample.pdf
  frontend/benefit/handler/browser-tests/pages/sample2.pdf
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

style(benefit): fix typecheck issues (#3946)
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationForm/actionBar/ActionBarEdit.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/deMinimisAid/DeMinimisAidForm.tsx
  frontend/benefit/handler/src/components/applicationReports/ApplicationReports.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/CancelModalContent/CancelModalContent.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitManualCalculatorView.tsx
  frontend/benefit/handler/src/components/attachmentsListView/AttachmentsListView.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterInspection.tsx
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/shared/src/components/forms/fields/dateInputWithSeparator/DateInputWithSeparator.tsx
  frontend/shared/src/components/messaging/Actions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: rebased on main and fixed conflicts
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/hooks/useInstalmentDateChange.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

WIP fix: koros hydration issue in footer
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
Due: pipelines/yjdh-tet-api-dev.yml

WIP ks youth transform app to rsc
  frontend/kesaseteli/youth/src/app/ClientProviders.tsx
  frontend/kesaseteli/youth/src/app/I18nClientProvider.tsx
  frontend/kesaseteli/youth/src/app/StyledComponentsRegistry.tsx
  frontend/kesaseteli/youth/src/app/[locale]/accepted/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/activated/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/additional_info/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/already_activated/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/already_assigned/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/cookie-settings/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/email_in_use/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/expired/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/inadmissible_data/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/layout.tsx
  frontend/kesaseteli/youth/src/app/[locale]/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/thankyou/page.tsx
  frontend/kesaseteli/youth/src/components/ApplicationNotOpen.tsx
  frontend/kesaseteli/youth/src/components/additional-info-form/AdditionalInfoForm.tsx
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
  frontend/kesaseteli/youth/src/components/header/Header.tsx
  frontend/kesaseteli/youth/src/components/youth-form/ForceSubmitInfo.tsx
  frontend/kesaseteli/youth/src/components/youth-form/SchoolSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthApplication.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthForm.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthFormFields.tsx
  frontend/kesaseteli/youth/src/hooks/backend/useCreateAdditionalInfoQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useCreateYouthApplicationQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useSchoolListQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useYouthApplicationStatusQuery.ts
  frontend/kesaseteli/youth/src/hooks/useHandleYouthApplicationSubmit.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/kesaseteli/youth/src/middleware.ts
Due: pipelines/yjdh-tet-api-dev.yml

WIP new ks-shared for router changes
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/hooks/useErrorHandler.ts
  frontend/kesaseteli/shared/src/hooks/useGetLanguage.ts
  frontend/kesaseteli/shared/src/hooks/useGoToPage.ts
  frontend/kesaseteli/shared/src/hooks/useIsRouting.ts
  frontend/kesaseteli/shared/src/hooks/useLocale.ts
  frontend/kesaseteli/shared/src/hooks/useRouterQueryParam.ts
Due: pipelines/yjdh-tet-api-dev.yml

WIP shared transform app to rsc
  frontend/shared/src/components/pages/NotificationPage.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

WIP upgrade react to 19
  frontend/kesaseteli/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

WIP use next/navigation router in youth
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/hooks/useErrorHandler.ts
  frontend/kesaseteli/shared/src/hooks/useGetLanguage.ts
  frontend/kesaseteli/shared/src/hooks/useGoToPage.ts
  frontend/kesaseteli/shared/src/hooks/useIsRouting.ts
  frontend/kesaseteli/shared/src/hooks/useLocale.ts
  frontend/kesaseteli/shared/src/hooks/useRouterQueryParam.ts
  frontend/kesaseteli/youth/src/app/[locale]/accepted/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/activated/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/additional_info/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/already_activated/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/already_assigned/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/email_in_use/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/expired/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/inadmissible_data/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/thankyou/page.tsx
Due: pipelines/yjdh-tet-api-dev.yml

WIP partially fix youth lint, tsc and tests
  frontend/kesaseteli/youth/jest.config.js
  frontend/kesaseteli/youth/src/__tests__/accepted.test.tsx
  frontend/kesaseteli/youth/src/__tests__/activated.test.tsx
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/__tests__/already_activated.test.tsx
  frontend/kesaseteli/youth/src/__tests__/already_assigned.test.tsx
  frontend/kesaseteli/youth/src/__tests__/email_in_use.test.tsx
  frontend/kesaseteli/youth/src/__tests__/expired.test.tsx
  frontend/kesaseteli/youth/src/__tests__/inadmissible_data.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.test.tsx
  frontend/kesaseteli/youth/src/__tests__/simple_debug.test.tsx
  frontend/kesaseteli/youth/src/__tests__/simple_debug_direct.test.tsx
  frontend/kesaseteli/youth/src/__tests__/simple_debug_no_jsx.test.tsx
  frontend/kesaseteli/youth/src/__tests__/thankyou.test.tsx
  frontend/kesaseteli/youth/src/app/ClientProviders.tsx
  frontend/kesaseteli/youth/src/app/[locale]/additional_info/page.tsx
  frontend/kesaseteli/youth/src/app/[locale]/thankyou/page.tsx
  frontend/kesaseteli/youth/typecheck_output.txt
  frontend/kesaseteli/youth/typecheck_output_v2.txt
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/render-component/render-component.tsx
  frontend/shared/src/__tests__/utils/render-component/render-page.tsx
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/__tests__/utils/test-utils.tsx
  frontend/shared/src/components/pages/NotificationPage.tsx
  frontend/shared/src/components/toast/Toast.tsx
  frontend/shared/src/contexts/DialogContext.tsx
  frontend/shared/src/types/styled.d.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): activating 2nd part of employment form
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove second instalment amount
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to the fixtures
  backend/benefit/applications/fixtures/test_applications.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): nav on same page should not trigger leave confirm prompt
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): add ids to sentry sampler parametrize cases
  backend/kesaseteli/kesaseteli/tests/test_sentry_config.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to the code and UI
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/UploadAttachmentButton.tsx
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): improve health and readiness endpoints
  .env.kesaseteli-backend.example
  backend/kesaseteli/common/tests/test_probes.py
  backend/kesaseteli/common/views.py
  backend/kesaseteli/kesaseteli/__init__.py
  backend/kesaseteli/kesaseteli/sentry_config.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/tests/__init__.py
  backend/kesaseteli/kesaseteli/tests/test_sentry_config.py
  backend/kesaseteli/kesaseteli/urls.py
  release-please-config.json
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): attachment deletion feature
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): adding payslip feature
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/UploadAttachmentButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
