Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(benefit): wire decision template admin form
  backend/benefit/applications/admin.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): tidy CSV types and names
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): simplify Ahjo payload construction
  backend/benefit/applications/services/ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): validation Number.parseFloat Refs: HL-1855
  frontend/benefit/handler/src/components/alterationHandling/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): error util reduce regex runtime Refs: HL-1855
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
  frontend/benefit/shared/src/utils/errors.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): add PDF logo alt text
  backend/benefit/applications/services/pdf_templates/base.html
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): use bash conditional syntax
  backend/benefit/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): remove commented configuration
  backend/benefit/users/__init__.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): define admin fields explicitly
  backend/benefit/applications/admin.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): modernize type annotations
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/services/ahjo/request_handler.py
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/services/ahjo_authentication.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/services/ahjo_xml_builder.py
  backend/benefit/applications/services/application_alteration_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/services/csv_export_base.py
  backend/benefit/calculator/api/v1/serializers.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): annotate Ahjo request class attributes
  backend/benefit/applications/services/ahjo_client.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): centralize repeated literals
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/api/v1/serializers/decision_text.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/terms/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): simplify serializer validation
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): align integration return annotations
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/services/ahjo/request_handler.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): use specific exception types
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/calculator/models.py
  backend/benefit/common/delay_call.py
  backend/benefit/terms/models.py
  backend/benefit/users/management/commands/set_group_permissions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: replace pytz with stdlib timezone
  backend/benefit/applications/management/commands/seed.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): improve exception logging
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/api/v1/serializers/attachment.py
  backend/benefit/applications/management/commands/ahjo_base_command.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/management/commands/subscribe_to_decisions_api.py
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_xml_builder.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add new employer application statuses & status changes
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0062_alter_employerapplication_status.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/docs/diagrams/employer-application-status-changes.mmd
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): stabilize query side effects across frontend hooks
  frontend/benefit/applicant/src/hooks/useUserQuery.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationAlterationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchQuery.test.ts
  frontend/benefit/handler/src/hooks/useApplicationAlterationsQuery.ts
  frontend/benefit/handler/src/hooks/useApplicationsQuery.ts
  frontend/benefit/handler/src/hooks/useBatchQuery.ts
  frontend/benefit/handler/src/hooks/useMessagesQuery.ts
  frontend/benefit/handler/src/hooks/useUserQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useCompanyQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useApplicationTimelineQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useHandlerNotesQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
  frontend/kesaseteli/shared/src/hooks/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useSchoolListQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useYouthApplicationStatusQuery.ts
  frontend/shared/src/hooks/useErrorHandler.ts
  frontend/shared/src/hooks/useQuerySideEffect.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add new employer application statuses & refactor
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ActionCell.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ApplicationListTable.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/StatusFilter.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationStatusFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationSidebar.tsx
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/sidebar/__tests__/ApplicationSidebar.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/types/HandlerEmployerApplication.ts
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/shared/browser-tests/page-models/HandlerForm.ts
  frontend/kesaseteli/shared/src/constants/employer-application-status.ts
  frontend/kesaseteli/shared/src/constants/youth-application-status-arrays.ts
  frontend/kesaseteli/shared/src/constants/youth-application-status.ts
  frontend/kesaseteli/shared/src/types/created-youth-application.d.ts
  frontend/kesaseteli/shared/src/types/employer-application-status-type.d.ts
  frontend/kesaseteli/shared/src/types/youth-application-status-props.d.ts
  frontend/kesaseteli/shared/src/types/youth-application-status-type.d.ts
  frontend/kesaseteli/shared/src/types/youth-application-status.d.ts
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/hooks/backend/useYouthApplicationStatusQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,frontend): make more use of (Employer|Youth)ApplicationStatus
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/__tests__/thankyou.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/ApplicationForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useApplicationApi.test.ts
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useLoadDraftOrCreateNewApplication.test.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useLoadDraftOrCreateNewApplication.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
  frontend/kesaseteli/handler/src/__tests__/create-application-without-ssn.test.tsx
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/backend/fake-notes.ts
  frontend/kesaseteli/handler/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/fixtures.ts
  frontend/kesaseteli/handler/src/hooks/application/__tests__/useHandleApplicationWithoutSsnSubmit.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useCreateYouthApplicationWithoutSsnQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useEmployerApplicationQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useEmployerApplicationsListQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useYouthApplicationsListQuery.test.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-additional-info-page-api.ts
  frontend/kesaseteli/youth/src/pages/additional_info.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix: restore Sentry reporting for query failures
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/shared/src/query-client/__tests__/create-query-caches.test.ts
  frontend/shared/src/query-client/create-query-caches.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): restore error summary focus
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/handler/src/components/form/SubmitErrorSummary.tsx
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared): stabilize error handler callbacks
  frontend/shared/src/hooks/__tests__/useErrorHandler.test.ts
  frontend/shared/src/hooks/useErrorHandler.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): prevent duplicate message error toasts
  frontend/benefit/applicant/src/hooks/__tests__/useMessagesQuery.test.ts
  frontend/benefit/applicant/src/hooks/useMessagesQuery.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsWithMessagesQuery.test.ts
  frontend/benefit/handler/src/hooks/useApplicationsWithMessagesQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): handle query side effects by status
  frontend/shared/src/hooks/__tests__/useQuerySideEffect.test.ts
  frontend/shared/src/hooks/useQuerySideEffect.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): add direct i18next dependency
  frontend/benefit/applicant/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): model successful user query state
  frontend/benefit/applicant/src/hooks/__tests__/useUserQuery.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,handler): fix NoteCard visual treatment assertions
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(frontend): stop redirect loop in withAuth HOC
  frontend/shared/src/components/hocs/withAuth.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade styled-components to v6.1.19
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.sc.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handledView/HandledView.sc.ts
  frontend/benefit/handler/src/components/footer/Footer.sc.ts
  frontend/benefit/handler/src/components/layout/Layout.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/Field.tsx
  frontend/kesaseteli/handler/src/components/form/VtjRawData.tsx
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/package.json
  frontend/shared/src/components/benefit/summaryView/SummaryView.sc.ts
  frontend/shared/src/components/container/Container.sc.ts
  frontend/shared/src/components/drawer/Drawer.sc.tsx
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/inputs/Dropdown.sc.ts
  frontend/shared/src/components/forms/inputs/TextInput.sc.ts
  frontend/shared/src/components/forms/section/FormSection.sc.ts
  frontend/shared/src/components/messaging/Messaging.sc.tsx
  frontend/shared/src/components/stepper/Stepper.sc.ts
  frontend/shared/src/components/stepper/WizardStepper.sc.ts
  frontend/shared/src/types/cssprop.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(frontend): migrate suites to Jest 30 and Testing Library 16
  frontend/benefit/applicant/jest-canvas-env.js
  frontend/benefit/applicant/jest.config.js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/jest-canvas-env.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
  frontend/benefit/handler/src/components/header/__tests__/TemporaryAhjoModeSwitch.test.tsx
  frontend/benefit/shared/jest-canvas-env.js
  frontend/benefit/shared/package.json
  frontend/benefit/shared/src/utils/__tests__/common.test.ts
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/tsconfig.json
  frontend/kesaseteli/youth/jest.config.js
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/jest-canvas-env.js
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.utils.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks-handler): extract shared note query invalidation helper
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useCreateNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUpdateNoteMutation.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(frontend): replace react-input-mask with Maskito across apps
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationAccordionItem.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/foreign-iban.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/utils/maskito.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml
