Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(benefit): use only integers in instalment sums
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/tests/test_ahjo_decisions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed ugly error message in number of employees
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: fix browser test employment data input handling
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): cognitive complexity and async linter issues
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useApplicationApi.test.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): add debug logging to employer application serializers
  backend/kesaseteli/applications/api/v1/serializers.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): potentially missing employer summer voucher id
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useApplicationApi.test.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): improve friendly errors for employee data fetch
  backend/kesaseteli/applications/api/v1/views.py
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useApplicationApi.test.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/shared/src/error-handler/error-handler.ts
  frontend/shared/src/hooks/useErrorHandler.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): single submit flow without intermediate saves
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useApplicationApi.test.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): change logical order of employment data fetch handlers
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): update pdf viewer
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build: fix typo in NEXT_PUBLIC_SENTRY_DEBUG Docker arg
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add .agents -folder to gitignore
  .gitignore
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks,employer): remove unused components
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmployeeErrorNotification.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmploymentsErrorNotification.tsx
  frontend/kesaseteli/employer/src/hooks/application/useAccordionStateLocalStorage.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): allow null home city for turvakielto applicants
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): simplify openapi type hints
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): improve activate response description
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): add Swagger UI assertion to schema test
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add Swagger UI documentation route
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): add explicit method-not-allowed fallback
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add OpenAPI and ReDoc for kesaseteli API
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/companies/api/v1/views.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): simplify fetch employee data response
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): assert empty home city for turvakielto lookup
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): use ISO date string in employee data test
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): stabilize language enum name in OpenAPI schema
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks,backend): remove redundant None return hints in tests
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): configure SCHEMA_PATH_PREFIX for cleaner tags
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): move create-without-ssn server fields to serializer
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): add path-based employer excel export endpoints
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/templates/application_excel_download.html
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/openapi.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): show excel export errors on landing page
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): move OpenAPI serializers into api serializers
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/data/create_without_ssn_examples.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,employer): improve test coverage
  frontend/kesaseteli/employer/src/components/application/form/error-summary/__tests__/ErrorNotificationRow.test.tsx
  frontend/kesaseteli/employer/src/hocs/__tests__/withEmployerAuth.test.tsx
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useApplicationFormField.test.tsx
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useLoadDraftOrCreateNewApplication.test.ts
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useResetApplicationFormValuesEffect.test.ts
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useCreateApplicationQuery.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useDeleteApplicationQuery.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useOpenAttachment.test.ts
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useOperationPermitted.test.ts
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useGetEmploymentErrors.test.tsx
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useValidateEmployment.test.tsx
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useValidateEmploymentsNotEmpty.test.tsx
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useWatchEmployeeDisplayName.test.tsx
  frontend/kesaseteli/employer/src/utils/application-form.utils.test.ts
  frontend/kesaseteli/employer/src/utils/localstorage.utils.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove fields from required fields
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): restore scandic characters in cookie consent translations
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,api): return 500 when fetch employee data response is invalid
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks,shared): upgrade direct dependencies for security
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit,shared): upgrade direct dependencies
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
