Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

refactor(ks,shared): use IconSize for hds icons in shared ui
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.tsx
  frontend/shared/src/components/messaging/Message.tsx
  frontend/shared/src/components/pages/ErrorPage.tsx
  frontend/shared/src/components/table/Table.tsx
  frontend/shared/src/components/table/utils.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(shared): update AttachmentsList for hds-react v5 refs: YJDH-824
  frontend/shared/src/components/attachments/AttachmentsList.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: migrate shared UI to hds-react v5
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
  frontend/shared/.prettierrc.json
  frontend/shared/browser-tests/utils/random.utils.ts
  frontend/shared/browser-tests/utils/request-logger.ts
  frontend/shared/package.json
  frontend/shared/src/components/application-wizard/ApplicationWizard.tsx
  frontend/shared/src/components/attachments/UploadAttachment.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/link-button/LinkButton.sc.ts
  frontend/shared/src/components/modal/Modal.tsx
  frontend/shared/src/components/pages/NotificationPage.tsx
  frontend/shared/src/components/toast/ToastContainer.tsx
  frontend/shared/src/hooks/useCookieConsent.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/i18n/get-server-side-translations.ts
  frontend/shared/src/styles/fonts.ts
  frontend/shared/src/utils/application.utils.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
  frontend/shared/src/utils/file.utils.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react to 5.0.0 in kesaseteli employer UI
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/application.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/Step1EmployerAndEmployment.tsx
  frontend/kesaseteli/employer/src/components/application/summary/ApplicationSummary.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useEmploymentQuery.ts
  frontend/kesaseteli/employer/src/pages/login.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/utils/application-wizard.utils.ts
  frontend/kesaseteli/employer/src/utils/application.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react from 3.11.0 to 5.0.0 in benefit applicant UI
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/public/assets/siteSettings.json
  frontend/benefit/applicant/src/components/applications/NoApplications.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationAccordionItem.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationDeleteModal.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationFormContainer.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationPage.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/ExpandableApplicationList.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListContents.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListItem.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/ConsentViewer.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/DeMinimisAidForm.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/list/DeMinimisAidsList.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step4/ApplicationFormStep4.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/stepperActions/StepperActions.tsx
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/benefit/applicant/src/components/decisions/DecisionsApplicationList.tsx
  frontend/benefit/applicant/src/components/errorPage/ErrorPage.tsx
  frontend/benefit/applicant/src/components/footer/Footer.tsx
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.tsx
  frontend/benefit/applicant/src/components/notificationView/NotificationView.tsx
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/applicant/src/components/prerequisiteReminder/PrerequisiteReminder.tsx
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/applicant/src/pages/index.tsx
  frontend/benefit/applicant/src/pages/login.tsx
  frontend/benefit/applicant/src/utils/common.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): update upload attachment types for hds-react
  frontend/shared/src/components/attachments/UploadAttachment.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): replace string default for notification size
  frontend/shared/src/components/pages/NotificationPage.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): type LinkButton for supplementary variant
  frontend/shared/src/components/link-button/LinkButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): migrate SaveFormButton to HDS ButtonProps
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react from 3.11.0 to 5.0.0 in benefit shared package
  frontend/benefit/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: bump hds-react to 5.0.0 in Kesaseteli handler UI
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/pages/login.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore(benefit): merged changes from main branch
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0092_application_employer_assurance_and_more.py
  backend/benefit/applications/migrations/0093_alter_attachment_attachment_type_and_more.py
  backend/benefit/applications/models.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from sentry
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/clone_application.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tests and fix to buttons
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/11-paid-salaries-to-handler.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix application cloning
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/tests/test_application_clone.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test setting assurance
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(frontend): use ButtonVariant for HDS v5 buttons
  frontend/benefit/applicant/src/components/applications/forms/application/step4/ApplicationFormStep4.tsx
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): use shared cookie consent settings
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared): type SelectionGroup radio onChange
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): use react-jsx in shared tsconfig
  frontend/benefit/shared/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): show more new auditlog fields in django admin
  backend/kesaseteli/kesaseteli/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): created tests
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/__tests__/PaidSalariesAccordion.test.tsx
  frontend/benefit/handler/src/hooks/__tests__/useChangeEmployerAssurance.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from sentry
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): infinite loop when adfs used
  frontend/kesaseteli/employer/src/__tests__/application.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/hocs/__tests__/withOrganisation.test.tsx
  frontend/kesaseteli/employer/src/hocs/withOrganisation.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
  frontend/shared/src/hooks/useGoToPage.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): adapt dropdowns to hds select v5 api
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks,shared): clarify cookie consent and Matomo comments
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): remove dead cookie consent constants
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): hds 5 compatibility for tags and uploads
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationReview/consentView/consentActions/ConsentActions.tsx
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeActions/EmployeeActions.tsx
  frontend/benefit/handler/src/components/applicationReview/employmentView/employmentActions/EmploymentActions.tsx
  frontend/benefit/handler/src/components/statusLabel/StatusLabel.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): paid salaries to handler view
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0092_application_employer_assurance_and_more.py
  backend/benefit/applications/migrations/0093_alter_attachment_attachment_type_and_more.py
  backend/benefit/applications/models.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): handling assurance, payslips and button visibility
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/clone_application.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to file input and serializer
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to fixtures
  backend/benefit/applications/fixtures/test_applications.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli,backend): change "nuorten.helsinki" to "nuorten.hel.fi"
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_en.html
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_fi.html
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_sv.html
  backend/kesaseteli/docs/kesaseteli-endpoints.md
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): don't auditlog VTJ JSON fields
  backend/kesaseteli/kesaseteli/auditlog_settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
