Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(ks): add handler attachment admin API and timeline support
  .gitignore
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0064_refactor_timeline_activity_log.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_signals.py
  backend/kesaseteli/applications/tests/test_timeline_service.py
  backend/kesaseteli/handler_notes/tests/test_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): synchronize payment statuses
  backend/kesaseteli/applications/enums.py
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/types/application.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): implement attachment admin UI
  frontend/kesaseteli/handler/src/components/employer-application/AttachmentCommentsDialog.tsx
  frontend/kesaseteli/handler/src/components/employer-application/DeleteAttachmentDialog.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/DeleteAttachmentDialog.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/invalidateAttachmentQueries.test.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useCreateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useDeleteNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUpdateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/invalidateAttachmentQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useCreateNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUpdateNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUploadAttachmentQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): refine timeline UI and shared types
  frontend/kesaseteli/handler/src/components/notes/DeleteNoteDialog.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesSectionTimeline.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NotesTimeline.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/DeleteNoteDialog.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesTimeline.test.tsx
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationSidebar.sc.ts
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationSidebar.tsx
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/sidebar/__tests__/ApplicationSidebar.test.tsx
  frontend/kesaseteli/handler/src/components/sidebar/__tests__/useSidebarState.test.ts
  frontend/kesaseteli/handler/src/components/sidebar/useSidebarState.ts
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/timeline/TimelineTheme.ts
  frontend/kesaseteli/handler/src/components/timeline/__tests__/ApplicationTimeline.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/types/timeline.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/application-status.d.ts
  frontend/shared/src/types/attachment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add dashboard application statistics endpoint
  backend/kesaseteli/applications/api/v1/dashboard_views.py
  backend/kesaseteli/applications/tests/test_dashboard_stats_api.py
  backend/kesaseteli/kesaseteli/urls.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/hooks/backend/useDashboardStatsQuery.ts
  frontend/kesaseteli/handler/src/pages/dashboard.tsx
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): rename YouthApplicationExcelExportSerializer
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add fields for talpa integration on employer vouchers
  backend/kesaseteli/applications/migrations/0065_employersummervoucher_invoiced_at_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/kesaseteli/constants.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): implement talpa and reporting integration endpoints
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/authentications.py
  backend/kesaseteli/applications/api/employer_summer_voucher_reporting_views.py
  backend/kesaseteli/applications/api/integration_filters.py
  backend/kesaseteli/applications/api/integration_serializers.py
  backend/kesaseteli/applications/api/integration_views.py
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/api/youth_application_views.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_reporting_api.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
  backend/kesaseteli/applications/tests/test_youth_application_export_api.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/kesaseteli/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add audit log entry to unhandled excel export
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared,employer): add job type selection to employer app
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/tests/test_job_types_api.py
  backend/kesaseteli/kesaseteli/urls.py
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/shared/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/kesaseteli/shared/src/hooks/useJobTypesQuery.ts
  frontend/kesaseteli/shared/src/types/job-type.d.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): limit Next.js build workers
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): disable external messages
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/flags/is-handler-external-messages-enabled.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): change env variable handling
  .env.kesaseteli-handler.example
  frontend/Dockerfile
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): change README.md
  frontend/kesaseteli/handler/README.md
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): rename serializer and improve excel export audit log
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): remove distinct from talpa voucher updates
  backend/kesaseteli/applications/api/talpa_views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): sonar jest coverage exclusions match Refs: HL-1853
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): aggregate voucher outcomes per application in webhook
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): useApplicationForm tests Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/__tests__/useApplicationForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(benefit): useCompanySearch useDependentFieldsEffect Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/companySearch/__tests__/useCompanySearch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDependentFieldsEffect.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(benefit): applicationForm useApplicationListData Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/utils/__tests__/applicationForm.test.ts
  frontend/benefit/handler/src/components/applicationList/__tests__/useApplicationListData.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): extract Talpa webhook logic to TalpaWebhookService
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
  backend/kesaseteli/applications/tests/test_talpa_webhook_service.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): display job type on application summary page
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/application.utils.ts
  frontend/kesaseteli/employer/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/components/application/summary/__tests__/EmploymentSummary.test.tsx
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): continue after Ahjo decision errors
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): show success toast
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/ResendVoucher.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): backend check for existence of voucher
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): frontend for resending youth voucher
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/ResendVoucher.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): show youth summer voucher serial number
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): backend for resending youth voucher
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
