Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(benefit): de minimis report interface and report generation
  backend/benefit/applications/api/v1/deminimis_integration_views.py
  backend/benefit/applications/migrations/0091_add_de_minimis_grant_send_to_batch.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/applications_deminimis_csv_report.py
  backend/benefit/common/authentications.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): deminimis callback integration test
  backend/benefit/applications/tests/test_deminimis_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): deminimis integration callback
  backend/benefit/applications/api/v1/deminimis_integration_views.py
  backend/benefit/applications/api/v1/serializers/deminimis_callback.py
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/tests/test_ahjo_payload.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(backend): test for deminimis csv creation
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/services/applications_deminimis_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_deminimis_integration.py
  backend/benefit/common/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): handle AD authentication timeout gracefully
  backend/kesaseteli/applications/tests/test_handler_auth_decorator.py
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/common/decorators.py
  backend/kesaseteli/common/tests/test_decorators.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,backend): add audit logging of changes using serializer
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/tests/test_audit_logging.py
  backend/shared/shared/audit_log/viewsets.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): remove historical models as unnecessary
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0053_remove_all_remaining_historical_models.py
  backend/kesaseteli/applications/migrations/0054_employerapplication_submitted_at.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/pyproject.toml
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/kesaseteli/simple_history/__init__.py
  backend/kesaseteli/simple_history/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,backend): remove HistoricalModel as unused
  backend/shared/shared/models/abstract_models.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli,backend): remove temporary HistoricalRecords stub
  backend/kesaseteli/simple_history/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test: leave only 10 biggest school in fake objects list
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): target group field in youth application
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0050_add_target_group_to_youth_application.py
  backend/kesaseteli/applications/migrations/0051_populate_youth_application_target_group.py
  backend/kesaseteli/applications/migrations/0052_remove_target_group_from_youth_summer_voucher.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/management/commands/test_create_summervoucher_configuration.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_serializers.py
  backend/kesaseteli/applications/tests/test_youth_application_configuration_validation.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): auto select YouthApplication on YouthSummervoucher
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,youth): target group field in youth application
  frontend/kesaseteli/employer/src/hooks/backend/useTargetGroupsQuery.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/kesaseteli/shared/src/types/summer-voucher-configuration.d.ts
  frontend/kesaseteli/shared/src/types/youth-application.d.ts
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/__tests__/index.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/youth-form/TargetGroupSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthFormFields.tsx
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): clean target group field
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): admin should override get_queryset instead of just `queryset`
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add target group field to anonymous youth form
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/SelectionGroup.tsx
  frontend/kesaseteli/handler/src/constants/data-mappings.ts
  frontend/kesaseteli/handler/src/hooks/backend/useCreateYouthApplicationWithoutSsnQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/handler/src/types/application-without-ssn-types.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

WIP
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/handler/src/__tests__/utils/backend/expectToGetSummerVoucherConfiguration.ts
  frontend/kesaseteli/handler/src/__tests__/utils/components/render-page.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(ks): target group api validation
  backend/kesaseteli/applications/tests/test_target_group_validation_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixing application cloning
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): fake target groups with abstract values
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/handler/src/__tests__/utils/backend/expectToGetSummerVoucherConfiguration.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
  frontend/kesaseteli/youth/src/__tests__/index.base.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.recheck.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.submission.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.validation.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-additional-info-page-api.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/youth-form/YouthForm.tsx
  frontend/kesaseteli/youth/src/hooks/useHandleYouthApplicationSubmit.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/shared/src/__tests__/utils/component.utils.ts
  frontend/shared/src/__tests__/utils/jest-timeout.ts
  frontend/shared/src/__tests__/utils/test-utils.tsx
  frontend/shared/src/components/forms/inputs/Checkbox.sc.ts
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.sc.ts
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): clarify target-group helper docstrings
  backend/kesaseteli/applications/target_groups.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): improve target groups loading error handling
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): fetch summer voucher configuration with proper date
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
  frontend/kesaseteli/shared/src/types/youth-application.d.ts
  frontend/shared/src/utils/date.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(shared): update yarn.lock
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

build(shared): set jsx to react-jsx
  frontend/shared/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(shared): reduce complexity of useLeaveConfirm
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): fix linting issues
  frontend/shared/src/__tests__/matomo.test.ts
  frontend/shared/src/__tests__/utils/render-component/render-component.tsx
  frontend/shared/src/components/accordion/Accordion.module.sc.ts
  frontend/shared/src/components/app/BaseApp.tsx
  frontend/shared/src/components/attachments/AttachmentsItem.sc.ts
  frontend/shared/src/components/attachments/AttachmentsList.sc.ts
  frontend/shared/src/components/benefit/summaryView/SummaryView.sc.ts
  frontend/shared/src/components/container/Container.sc.ts
  frontend/shared/src/components/drawer/Drawer.sc.tsx
  frontend/shared/src/components/forms/fields/dateFieldsSeparator/DateFieldsSeparator.sc.ts
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/fields/fieldLabel/FieldLabel.sc.ts
  frontend/shared/src/components/forms/heading/Heading.sc.ts
  frontend/shared/src/components/forms/section/FormSection.sc.ts
  frontend/shared/src/components/forms/spacing/Spacing.sc.ts
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/layout/Layout.sc.ts
  frontend/shared/src/components/messaging/Messaging.sc.tsx
  frontend/shared/src/components/pages/ErrorPage.sc.ts
  frontend/shared/src/components/pages/PageLoadingSpinner.sc.ts
  frontend/shared/src/components/stepper/Stepper.sc.ts
  frontend/shared/src/components/stepper/WizardStepper.sc.ts
  frontend/shared/src/components/stickyActionBar/StickyActionBar.sc.ts
  frontend/shared/src/components/table/Table.sc.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/useLeaveConfirm.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml
