Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(ks): show detailed employer application view and form refactor
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerInfoSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerVoucherSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/YouthInfoSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerInfoSection.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/YouthInfoSection.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/fixtures.ts
  frontend/kesaseteli/handler/src/components/form/Field.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/LinkedEmployerApplications.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/LinkedEmployerApplications.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/shared/browser-tests/page-models/HandlerForm.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
Due: pipelines/yjdh-tet-api-dev.yml

docs(ks,employer): create robust readme for employer UI
  frontend/kesaseteli/employer/README.md
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,shared,handler): add masking utils and shared configs
  frontend/.eslintrc.base.js
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
  frontend/kesaseteli/shared/src/constants/routes.ts
  frontend/kesaseteli/shared/src/hooks/__tests__/useMatomo.test.ts
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
  frontend/shared/browser-tests/page-models/PageComponent.ts
  frontend/shared/src/utils/string.utils.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): introduce React Query hooks and type definitions
  frontend/kesaseteli/handler/src/flags/is-handler-new-beta-ui-enabled.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useEmployerApplicationQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useEmployerApplicationsListQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useYouthApplicationsListQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/types/HandlerEmployerApplication.ts
  frontend/kesaseteli/handler/src/types/application.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): fix fragile 404/403 checks
  frontend/kesaseteli/employer/src/hocs/withOrganisation.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useYouthApplicationStatusQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): implement new dashboard and application lists
  frontend/kesaseteli/handler/src/components/applicationList/ActionCell.tsx
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ActionCell.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ApplicationListTable.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/pages/dashboard.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/index.tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,handler): fix typecheck errors in dashboard list tests
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ActionCell.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ApplicationListTable.test.tsx
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): extract generic table state management hook
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/types/application.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): add helper hook for application table creation
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): ordering, serializer, locale, and query typing
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  frontend/.eslintrc.base.js
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerVoucherSection.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/pages/employer-applications/index.tsx
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,handler): move CLAUDE.md to app root
  frontend/kesaseteli/handler/CLAUDE.md
Due: pipelines/yjdh-tet-api-dev.yml

docs(ks,handler): establish architectural docs and configurations
  .env.kesaseteli-handler.example
  frontend/Dockerfile
  frontend/kesaseteli/handler/CLAUDE.md
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/handler/docs/ARCHITECTURE.md
  frontend/kesaseteli/handler/docs/DESIGN.md
  frontend/kesaseteli/handler/next.config.js
  frontend/kesaseteli/handler/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): secure youth applications listing and linked employer APIs
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/common/tests/test_permissions_policy.py
  frontend/shared/src/utils/string.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): fix init table sorting column indicator mismatch
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): refactor form components to remove inline styles
  frontend/kesaseteli/handler/src/components/form/Field.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): align application list structures
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add status filters for youth and employer lists
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/StatusFilter.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useEmployerApplicationsListQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useYouthApplicationsListQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,handler): skip form not found test when beta UI is enabled
  frontend/kesaseteli/handler/browser-tests/handler-form/handler-form.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): implement common FilterSection component
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/FilterSection.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add status filters to youth and employer lists
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): fix employer application list initial sorting mismatch
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): fix AbstractTargetGroup abstract instantiation type errors
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): avoid querying backend when status filter is empty
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/StatusFilter.tsx
Due: pipelines/yjdh-tet-api-dev.yml
