Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(kesaseteli,admin): register organisation to admin site
  backend/kesaseteli/companies/admin.py
  backend/kesaseteli/companies/migrations/0006_alter_company_options.py
  backend/kesaseteli/companies/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(kesaseteli): improve summer voucher config docs
  backend/kesaseteli/applications/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): resend youth summer vouchers
  backend/kesaseteli/applications/README.md
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): configurable admin (site) group name
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/kesaseteli/staff_admin_permissions/constants.py
  backend/kesaseteli/staff_admin_permissions/management/commands/setup_admin_permissions.py
  backend/kesaseteli/staff_admin_permissions/signals.py
  backend/kesaseteli/staff_admin_permissions/tests/test_management_command.py
  backend/kesaseteli/staff_admin_permissions/tests/test_signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,auth): preserved system groups that ADFS cannot remove
  backend/kesaseteli/README.md
  backend/kesaseteli/authentication.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/staff_admin_permissions/signals.py
  backend/kesaseteli/tests/test_authentication.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): configurable admin (site) group name
  .env.kesaseteli.example
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/kesaseteli/staff_admin_permissions/constants.py
  backend/kesaseteli/staff_admin_permissions/management/commands/setup_admin_permissions.py
  backend/kesaseteli/staff_admin_permissions/signals.py
  backend/kesaseteli/staff_admin_permissions/tests/test_management_command.py
  backend/kesaseteli/staff_admin_permissions/tests/test_signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(kesaseteli): fixed code style and formatting
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/migrations/0038_summervoucherconfiguration_and_more.py
  backend/kesaseteli/applications/migrations/0039_emailtemplate.py
  backend/kesaseteli/applications/migrations/0040_alter_employerapplication_options_and_more.py
  backend/kesaseteli/companies/migrations/0006_alter_company_options.py
  backend/kesaseteli/staff_admin_permissions/management/commands/setup_admin_permissions.py
  backend/kesaseteli/staff_admin_permissions/signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(kesaseteli): document authentication methods by UI
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): import schools
  backend/kesaseteli/applications/README.md
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/admin_forms.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/templates/admin/applications/school/change_list.html
  backend/kesaseteli/applications/templates/admin/applications/school/import_form.html
  backend/kesaseteli/applications/tests/test_admin_school_import.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(kesaseteli): application endpoints and ADFS configuration
  backend/kesaseteli/docs/kesaseteli-endpoints.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui to reflect 2026 changes
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): applicant ui to reflect 2026 changes
  backend/benefit/applications/tests/factories.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,youth): application not open when config not available
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/kesaseteli/shared/src/types/summer-voucher-configuration.d.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/__tests__/index.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/ApplicationNotOpen.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthApplication.tsx
  frontend/kesaseteli/youth/src/hooks/backend/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/youth/src/pages/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat: use resilient logger
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/shared/shared/audit_log/audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,frontend): add `readOnly` property support to TextInput
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/types/input-props.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,frontend): add `disabled` property support to TextInput
  frontend/shared/src/components/forms/inputs/TextInput.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared,frontend): fix fakeEmployment's summer_voucher_serial_number
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): migrate summer voucher serial numbers to foreign keys
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/migrations/0041_rename_serial_number_field_and_add_youth_voucher_foreign_key.py
  backend/kesaseteli/applications/migrations/0042_migrate_youth_summer_voucher_foreign_keys.py
  backend/kesaseteli/applications/migrations/helpers/__init__.py
  backend/kesaseteli/applications/migrations/helpers/serial_number_foreign_keys.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/common/tests/factories.py
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/form/TextInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/AccordionActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordion.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useEmploymentQuery.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): applicant ui to reflect 2026 changes
  backend/benefit/applications/tests/test_application_change_sets.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): decouple employment form from accordion
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/AccordionFormContext.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordion.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordionForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): fetch target group options to form from API
  frontend/kesaseteli/employer/src/components/application/form/SelectionGroup.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordionForm.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useTargetGroupsQuery.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/kesaseteli/shared/src/types/target-group.ts
Due: pipelines/yjdh-tet-api-dev.yml

test: use correct request type
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): move uwsgi to main requirements
  backend/benefit/requirements-prod.in
  backend/benefit/requirements-prod.txt
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/docker/benefit.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(frontend,docker): add TURBOPACK disabling, configure file polling
  frontend/Dockerfile-localdevelopment
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml
