Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(kesaseteli): summer voucher configuration
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0038_summervoucherconfiguration_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/conftest.py
  backend/kesaseteli/applications/tests/factories.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): reject appl. if no summer voucher config for year
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_application_configuration_validation.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): models and base files for email templates
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/management/commands/ensure_email_templates.py
  backend/kesaseteli/applications/migrations/0039_emailtemplate.py
  backend/kesaseteli/applications/mock_context_service.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/templates/admin/applications/emailtemplate/change_form.html
  backend/kesaseteli/applications/templates/admin/applications/emailtemplate/change_list.html
  backend/kesaseteli/applications/templates/admin/applications/emailtemplate/preview.html
  backend/kesaseteli/applications/templates/application_excel_download.html
  backend/kesaseteli/applications/templates/email/activation_email_en.html
  backend/kesaseteli/applications/templates/email/activation_email_fi.html
  backend/kesaseteli/applications/templates/email/activation_email_sv.html
  backend/kesaseteli/applications/templates/email/additional_info_request_email_en.html
  backend/kesaseteli/applications/templates/email/additional_info_request_email_fi.html
  backend/kesaseteli/applications/templates/email/additional_info_request_email_sv.html
  backend/kesaseteli/applications/templates/email/processing_email_en.html
  backend/kesaseteli/applications/templates/email/processing_email_fi.html
  backend/kesaseteli/applications/templates/email/processing_email_sv.html
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_en.html
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_fi.html
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_sv.html
  backend/kesaseteli/applications/templates/youth_summer_voucher_email.html
  backend/kesaseteli/applications/templates/youth_summer_voucher_email.txt
  backend/kesaseteli/applications/tests/conftest.py
  backend/kesaseteli/applications/tests/test_admin_actions.py
  backend/kesaseteli/applications/tests/test_admin_preview.py
  backend/kesaseteli/applications/tests/test_management_commands.py
  backend/kesaseteli/applications/tests/test_services.py
  backend/kesaseteli/applications/tests/test_validators.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/validators.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): add description property to target group
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/test_serializers.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(kesaseteli): yearly configuration and email templates management
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): use staticmethods in target group service
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: migrate summer voucher serial numbers to actual foreign keys
  backend/kesaseteli/applications/migrations/0038_employersummervoucher__obsolete_unclean_serial_number_and_more.py
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): add custom admin site for context management
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/tests/test_admin_site.py
  backend/kesaseteli/kesaseteli/admin_site.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,admin): login form can be hidden if context disables it
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/templates/admin/hel_login.html
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): mngmt.cmd. to create summer voucher config instance
  backend/kesaseteli/applications/management/commands/create_summervoucher_configuration.py
  backend/kesaseteli/applications/tests/management/commands/test_create_summervoucher_configuration.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): docker-entrypoint to create summer voucher config
  backend/kesaseteli/docker-entrypoint.sh
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): admin employer applications and vouchers
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): change verbose name for employer appl. and voucher
  backend/kesaseteli/applications/migrations/0040_alter_employerapplication_options_and_more.py
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): register organisation to admin site
  backend/kesaseteli/companies/admin.py
  backend/kesaseteli/companies/migrations/0006_alter_company_options.py
  backend/kesaseteli/companies/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): admin youth applications and summer vouchers
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_youth_application_admin.py
  backend/kesaseteli/applications/tests/test_youth_application_admin_permissions.py
  backend/kesaseteli/applications/tests/test_youth_application_admin_school.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  frontend/benefit/applicant/browser-tests/page-model/step2.ts
  frontend/benefit/applicant/browser-tests/pages/association.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): move ssn masking to common utility function
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/common/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): resend youth summer vouchers
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  frontend/benefit/applicant/browser-tests/utils/fieldMaps.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  backend/benefit/applications/tests/test_applications_api.py
  frontend/benefit/applicant/browser-tests/utils/fieldMaps.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  frontend/benefit/applicant/browser-tests/utils/fieldMaps.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
