Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(ks,backend): disable TURBOPACK in .env.kesaseteli.example
  .env.kesaseteli.example
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): number of applications is zero
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(frontend,docker): add TURBOPACK disabling, configure file polling
  frontend/Dockerfile-localdevelopment
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): applications show up on wrong tab
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use resilient logger
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/tests/test_audit_logging.py
  backend/shared/shared/audit_log/tests/test_resilient_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): remove target_group field from employer summer voucher
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/migrations/0043_migrate_target_group_data.py
  backend/kesaseteli/applications/migrations/0044_remove_employersummervoucher_target_group_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/test_factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,admin): full permissions for superuser
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_youth_application_admin_permissions.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): employer application should allow empty target group
  backend/kesaseteli/applications/api/v1/serializers.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test: use correct request type
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): move uwsgi to main requirements
  backend/benefit/requirements-prod.in
  backend/benefit/requirements-prod.txt
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/docker/benefit.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,be,fe): add job type and organization type and use them
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0045_employerapplication_organization_type_and_more.py
  backend/kesaseteli/applications/models.py
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordionForm.tsx
  frontend/shared/src/constants/employee-constants.ts
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: parse IP address without the port number
  backend/benefit/applications/api/v1/application_batch_views.py
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/common/tests/test_utils.py
  backend/benefit/common/utils.py
  backend/shared/shared/audit_log/tests/test_get_remote_address.py
  backend/shared/shared/audit_log/utils.py
  backend/shared/shared/audit_log/viewsets.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,auth): logout handler with cookie relay
  backend/kesaseteli/kesaseteli/auth_views.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/tests/__init__.py
  backend/kesaseteli/kesaseteli/tests/test_auth_views.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add OrganizationType enum & Company.organization_type
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0045_employersummervoucher_job_type_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/companies/migrations/0007_company_organization_type.py
  backend/kesaseteli/companies/models.py
  backend/kesaseteli/companies/tests/test_company_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,frontend): add translations for organization type & job type
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): make Company.business_id unique
  backend/kesaseteli/companies/migrations/0008_make_company_business_id_unique.py
  backend/kesaseteli/companies/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui to reflect 2026 changes
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add EmployerApplicationViewSet limit+offset pagination
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0046_make_employerapplication_ordering_consistent.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add & populate Company.created_at & modified_at fields
  backend/kesaseteli/companies/migrations/0009_company_created_at_company_modified_at.py
  backend/kesaseteli/companies/migrations/0010_populate_company_timestamps.py
  backend/kesaseteli/companies/migrations/helpers/__init__.py
  backend/kesaseteli/companies/migrations/helpers/company_timestamps.py
  backend/kesaseteli/companies/models.py
  backend/kesaseteli/companies/tests/test_company_api.py
  backend/kesaseteli/companies/tests/test_populate_company_timestamps.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): update prerequisites reminder
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): updated links to About the service
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): add organization_type to organisation serializer
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/companies/api/v1/serializers.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): upgrade YTJ client to use v3 endpoint
  backend/shared/shared/ytj/README.md
  backend/shared/shared/ytj/exceptions.py
  backend/shared/shared/ytj/tests/test_ytj_client_v3.py
  backend/shared/shared/ytj/ytj_client.py
  backend/shared/shared/ytj/ytj_dataclasses.py
  backend/shared/shared/ytj/ytj_schema.yaml
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): upgrade YTJ client to use v3 endpoint
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/data/company_data.py
  backend/kesaseteli/companies/tests/test_company_api.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add 15, 18 y.o. Helsinkian target groups, not defaults
  .env.kesaseteli.example
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/management/commands/create_summervoucher_configuration.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/conftest.py
  backend/kesaseteli/applications/tests/management/commands/test_create_summervoucher_configuration.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application disappears from "Maksuerät" tab
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add django-filter package
  backend/docker/kesaseteli.Dockerfile
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
