Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(ks,handler): redesign youth application view layout and alerts
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/LinkedEmployerApplications.tsx
  frontend/kesaseteli/handler/src/components/form/VtjErrorNotification.tsx
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/LinkedEmployerApplications.test.tsx
  frontend/kesaseteli/handler/src/constants/vtj-exception.ts
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/handler/src/utils/__tests__/map-vtj-data.test.ts
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/shared/browser-tests/page-models/HandlerForm.ts
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add YTJ data bulk-backfill scripts and README
  .gitignore
  backend/kesaseteli/scripts/README.md
  backend/kesaseteli/scripts/filter_ytj_dump_by_business_ids.py
  backend/kesaseteli/scripts/populate_ytj_data_to_companies.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): update company data from YTJ on application submission
  .env.kesaseteli-backend.example
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/tests/test_probes.py
  backend/kesaseteli/companies/management/__init__.py
  backend/kesaseteli/companies/management/commands/__init__.py
  backend/kesaseteli/companies/management/commands/update_companies_from_ytj.py
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/conftest.py
  backend/kesaseteli/companies/tests/test_company_api.py
  backend/kesaseteli/companies/tests/test_company_services.py
  backend/kesaseteli/companies/tests/test_update_companies_from_ytj.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add update_from_ytj action to company admin
  backend/kesaseteli/companies/admin.py
  backend/kesaseteli/companies/tests/test_company_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add search and filter features to company admin
  backend/kesaseteli/companies/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): implement handler notes system and application timeline
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/handler_notes/README.md
  backend/kesaseteli/handler_notes/__init__.py
  backend/kesaseteli/handler_notes/admin.py
  backend/kesaseteli/handler_notes/api/__init__.py
  backend/kesaseteli/handler_notes/api/v1/__init__.py
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/api/v1/views.py
  backend/kesaseteli/handler_notes/apps.py
  backend/kesaseteli/handler_notes/enums.py
  backend/kesaseteli/handler_notes/managers.py
  backend/kesaseteli/handler_notes/migrations/0001_initial.py
  backend/kesaseteli/handler_notes/migrations/__init__.py
  backend/kesaseteli/handler_notes/models.py
  backend/kesaseteli/handler_notes/tests/__init__.py
  backend/kesaseteli/handler_notes/tests/conftest.py
  backend/kesaseteli/handler_notes/tests/factories.py
  backend/kesaseteli/handler_notes/tests/test_api.py
  backend/kesaseteli/handler_notes/tests/test_models.py
  backend/kesaseteli/handler_notes/utils.py
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): include username as id in OIDC user info
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/oidc/views/mock_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): implement user context and improve auth flow
  frontend/kesaseteli/handler/src/__tests__/_app.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/components/render-page.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/contexts/UserContext.tsx
  frontend/kesaseteli/handler/src/contexts/__tests__/UserContext.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUserQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/hooks/useUser.ts
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/handler/src/pages/dashboard.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/index.tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/index.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
  frontend/kesaseteli/shared/src/constants/routes.ts
Due: pipelines/yjdh-tet-api-dev.yml

style(ks,shared,handler): refactor timeline and sidebar styling
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationSidebar.sc.ts
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationSidebar.tsx
  frontend/kesaseteli/handler/src/components/timeline/Timeline.sc.ts
  frontend/kesaseteli/handler/src/components/timeline/TimelineItem.sc.ts
  frontend/shared/src/components/benefit/tabs/Tabs.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): optimize note actions and form buttons on mobile
  frontend/kesaseteli/handler/src/components/notes/NoteCard.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.sc.ts
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): move styled components to sc file
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): remove mobile notes pagination
  frontend/kesaseteli/handler/src/components/notes/NoteCard.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NotesSection.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): ignore S6770 JSX PascalCase rules in Sonar
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/shared/sonar-project.properties
  frontend/kesaseteli/youth/sonar-project.properties
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add attachments accordion to employer detail view
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerVoucherAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler,youth): show amount of items in accordion headings
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): make attachment file names clickable download links
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useOpenAttachment.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore: update .gitignore
  .gitignore
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): implement timeline activity log for applications
  backend/kesaseteli/applications/README.md
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_timeline_service.py
  backend/kesaseteli/handler_notes/api/v1/serializers.py
  backend/kesaseteli/handler_notes/tests/test_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): fix openapi schema for timeline retrieve endpoints
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): adapt timeline UI to support activity log items
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/__tests__/utils/backend/fake-notes.ts
  frontend/kesaseteli/handler/src/components/notes/NoteCard.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/sidebar/__tests__/ApplicationSidebar.test.tsx
  frontend/kesaseteli/handler/src/components/timeline/TimelineItem.sc.ts
  frontend/kesaseteli/handler/src/components/timeline/TimelineItem.tsx
  frontend/kesaseteli/handler/src/components/timeline/TimelineTheme.ts
  frontend/kesaseteli/handler/src/hooks/backend/useApplicationTimelineQuery.ts
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/handler/src/types/timeline.ts
Due: pipelines/yjdh-tet-api-dev.yml

docs(ks,handler): add handler timeline architecture diagrams
  backend/kesaseteli/README.md
  backend/kesaseteli/docs/diagrams/timeline-01-data-models.mmd
  backend/kesaseteli/docs/diagrams/timeline-02-note-constraints.mmd
  backend/kesaseteli/docs/diagrams/timeline-03-assembly-flow.mmd
  backend/kesaseteli/docs/diagrams/timeline-05-unified-overview.mmd
  frontend/kesaseteli/handler/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): replace auditlog timeline with permanent activity log
  backend/kesaseteli/applications/apps.py
  backend/kesaseteli/applications/migrations/0061_timelineactivitylog.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_signals.py
  backend/kesaseteli/applications/tests/test_timeline_service.py
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
