Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(shared): fix SuomiFi SAML2 Single Logout redirect loop
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(shared): add unit and integration tests for SAML login and logout
  backend/shared/shared/suomi_fi/tests/mock_data.py
  backend/shared/shared/suomi_fi/tests/test_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): add suomifi auth related logging
  .env.kesaseteli-backend.example
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add antigravity files to gitignore
  .gitignore
Due: pipelines/yjdh-tet-api-dev.yml

chore: add pyrefly.toml
  pyrefly.toml
Due: pipelines/yjdh-tet-api-dev.yml

feat(shared): add local SAML 2.0 mock IdP configuration and docs
  README.md
  compose/saml-mock.yml
  localdevelopment/saml-mock/README.md
  localdevelopment/saml-mock/authsources.php
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): locally mocked idp
  backend/.dockerignore
  backend/shared/shared/suomi_fi/attributemaps/saml_uri.py
  backend/shared/shared/suomi_fi/metadata/mock-idp-metadata.xml
  compose/employer.dev.yml
  compose/saml-mock.yml
  localdevelopment/saml-mock/authsources.php
  localdevelopment/saml-mock/saml20-idp-hosted.php
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): fix SAML logout redirection using saml_session
  backend/shared/shared/suomi_fi/tests/test_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add download url for attachments in django admin
  backend/benefit/applications/admin.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: handle possible ValidationError with AuditLoggingModelViewSet
  backend/shared/shared/audit_log/tests/test_viewsets.py
  backend/shared/shared/audit_log/viewsets.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(ks): add sonar cloud project names
  backend/kesaseteli/sonar-project.properties
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/shared/sonar-project.properties
  frontend/kesaseteli/youth/sonar-project.properties
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(ks): fix sonar properties exclusions
  backend/kesaseteli/sonar-project.properties
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/shared/sonar-project.properties
  frontend/kesaseteli/youth/sonar-project.properties
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add terms download endpoint to api
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/terms/api/v1/serializers.py
  backend/benefit/terms/api/v1/views.py
  backend/benefit/terms/tests/test_terms_pdf_download.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add error handling to attachment download
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(ks): ignore text:S8565 from sonar report
  backend/kesaseteli/sonar-project.properties
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): compliance logging for login, logout, mandates
  backend/kesaseteli/README.md
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/test_company_auth_logging.py
  backend/kesaseteli/kesaseteli/AUTH_LOGGING.md
  backend/kesaseteli/kesaseteli/apps.py
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/jobs/__init__.py
  backend/kesaseteli/kesaseteli/jobs/quarter_hourly/__init__.py
  backend/kesaseteli/kesaseteli/jobs/quarter_hourly/submit_resilient_log.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/tests/conftest.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/shared/shared/oidc/signals.py
  backend/shared/shared/oidc/utils.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): fix type hints and pyrefly issues
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/companies/services.py
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): add request ID to VTJ query client and logging
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): document django-auditlog and django-auditlog-extra usage
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks): remove old auditlog envvars and settings
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks): remove shared.audit_log from installed apps
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): use signal's non robust send instead of robust
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove AuditLogEntry model and admin view
  backend/shared/shared/audit_log/admin.py
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/migrations/0003_delete_auditlogentry.py
  backend/shared/shared/audit_log/models.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove old audit log transfer tasks
  backend/shared/shared/audit_log/jobs/monthly/clear_audit_log_entries.py
  backend/shared/shared/audit_log/jobs/quarter_hourly/send_audit_log.py
  backend/shared/shared/audit_log/tasks.py
  backend/shared/shared/audit_log/tests/test_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): extract VTJ query type string to a constant
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks): remove elasticsearch 7 from deps
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: update audit_log README with deprecation status
  backend/shared/shared/audit_log/README.md
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): add compliance logging for VTJ queries
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/signals.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml
