Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

deps(kesaseteli,benefit,shared): update to django-resilient-logger 2.3.0
  backend/benefit/requirements.txt
  backend/kesaseteli/kesaseteli/log_targets.py
  backend/kesaseteli/kesaseteli/tests/test_routed_log_target.py
  backend/kesaseteli/requirements.txt
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/tests/test_resilient_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks,backend): update dependencies to latest
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): backend changes for new terms
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/terms/api/v1/serializers.py
  backend/benefit/terms/api/v1/views.py
  backend/benefit/terms/migrations/0008_terms_terms_pdf_2_en_terms_terms_pdf_2_fi_and_more.py
  backend/benefit/terms/migrations/0009_alter_applicantconsent_text_en_and_more.py
  backend/benefit/terms/models.py
  backend/benefit/terms/tests/factories.py
  backend/benefit/terms/tests/test_terms_pdf_download.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): frontend changes for new terms
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/ApplicationFormStep6.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/useApplicationFormStep6.test.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): error toast for failing tol code
  backend/benefit/companies/tests/test_api.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/hooks/__tests__/useHandlerReviewActions.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateCompanyIndustryCode.test.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
  frontend/benefit/handler/src/hooks/useUpdateCompanyIndustryCode.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for manual industrycode update
  backend/benefit/companies/tests/test_api.py
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
  frontend/benefit/handler/src/components/applicationReview/__tests__/CalculationReview.test.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/__tests__/HandlingApplicationActionsAhjo.test.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/__tests__/ApplicationProcessingView.test.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/__tests__/useSalaryBenefitCalculatorData.test.ts
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/useSalaryBenefitCalculatorData.ts
  frontend/benefit/handler/src/hooks/__tests__/useHandlerReviewActions.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateCompanyIndustryCode.test.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tol-code helper text
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): de minimis with radio buttons
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/CalculationReview.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/useHandlingApplicationActions.ts
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/useSalaryBenefitCalculatorData.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
  frontend/benefit/handler/src/hooks/useUpdateCompanyIndustryCode.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): endpoint to set company TOL code
  backend/benefit/companies/api/v1/serializers.py
  backend/benefit/companies/api/v1/views.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tol-code type and handler API endpoint
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): trim tol code input
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/hooks/__tests__/useHandlerReviewActions.test.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): add delay to failing test
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): onChange/onBlur race condition fix
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/__tests__/HandlingApplicationActionsAhjo.test.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/__tests__/ApplicationProcessingView.test.tsx
  frontend/benefit/handler/src/context/AppContext.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): handler application pdf export
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/generate_application_summary.py
  backend/benefit/applications/templates/application_handler.html
  backend/benefit/applications/templates/base.html
  backend/benefit/applications/templates/footer.html
  backend/benefit/applications/templates/style.html
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): malformed uuids handling in tol code
  backend/benefit/companies/api/v1/views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): minor fixes to applicant ui
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: make company TOL code endpoint use drf
  backend/benefit/companies/api/v1/serializers.py
  backend/benefit/companies/api/v1/views.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): description field width
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): don't hardcode SearchField hash key into migrations
  backend/kesaseteli/applications/management/commands/rehash_youth_application_ssn.py
  backend/kesaseteli/applications/migrations/0060_alter_youthapplication_social_security_number.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_rehash_youth_application_ssn_command.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test: inject cookie consent for Kesäseteli tests in base config
  frontend/.testcaferc.base.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add missing and fix wrong favicons
  frontend/kesaseteli/employer/public/favicon.ico
  frontend/kesaseteli/employer/public/favicons/apple-touch-icon.png
  frontend/kesaseteli/employer/public/favicons/favicon-192x192.png
  frontend/kesaseteli/employer/public/favicons/favicon-32x32.ico
  frontend/kesaseteli/employer/public/favicons/favicon-512x512.png
  frontend/kesaseteli/employer/public/favicons/favicon.svg
  frontend/kesaseteli/employer/public/favicons/manifest.webmanifest
  frontend/kesaseteli/employer/src/pages/_document.tsx
  frontend/kesaseteli/handler/public/favicons/apple-touch-icon.png
  frontend/kesaseteli/handler/public/favicons/favicon-192x192.png
  frontend/kesaseteli/handler/public/favicons/favicon-32x32.ico
  frontend/kesaseteli/handler/public/favicons/favicon-512x512.png
  frontend/kesaseteli/handler/public/favicons/favicon.svg
  frontend/kesaseteli/handler/public/favicons/manifest.webmanifest
  frontend/kesaseteli/handler/src/pages/_document.tsx
  frontend/kesaseteli/youth/public/favicons/apple-touch-icon.png
  frontend/kesaseteli/youth/public/favicons/favicon-192x192.png
  frontend/kesaseteli/youth/public/favicons/favicon-32x32.ico
  frontend/kesaseteli/youth/public/favicons/favicon-512x512.png
  frontend/kesaseteli/youth/public/favicons/favicon.svg
  frontend/kesaseteli/youth/public/favicons/manifest.webmanifest
  frontend/kesaseteli/youth/src/pages/_document.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): pdf dl button,archived applications
  backend/benefit/applications/templates/application_handler.html
  backend/benefit/applications/templates/footer.html
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/hooks/useDownloadApplicationPdf.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new fields for handler
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/__tests__/FormContent.test.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/review/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/EmployeeSection.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/__tests__/EmployeeSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/EmploymentSection.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/__tests__/EmploymentSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/utils/validation.ts
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new fields to handler review
  frontend/benefit/handler/src/components/applicationReview/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeView.tsx
  frontend/benefit/handler/src/components/applicationReview/employmentView/EmpoymentView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): remove 2nd sum from instalments
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for usedownloadapplicationpdf
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadApplicationPdf.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): pdf footer dynamic total pages
  backend/benefit/applications/templates/application.html
  backend/benefit/applications/templates/footer.html
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): review fixes
  backend/benefit/applications/services/generate_application_summary.py
  backend/benefit/sonar-project.properties
  frontend/benefit/handler/src/hooks/__tests__/useDownloadApplicationPdf.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): upgrade ibantools & validate IBAN
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): browser test for cookie consent checksums
  frontend/kesaseteli/employer/browser-tests/cookie-consent/cookie-consent.testcafe.ts
  frontend/kesaseteli/handler/browser-tests/cookie-consent/cookie-consent.testcafe.ts
  frontend/kesaseteli/shared/browser-tests/cookie-consent/cookie-consent.ts
  frontend/kesaseteli/shared/tsconfig.json
  frontend/kesaseteli/youth/browser-tests/cookie-consent/cookie-consent.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add youth summer voucher inline to youth application admin
  backend/kesaseteli/applications/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): line breaks to consents
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/ConsentViewer.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): business brief line breaks preserved
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): role of employee attributes fixed
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
