Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix: lint and remove print
  backend/shared/shared/oidc/views/eauth_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: remove debug prints
  backend/shared/shared/oidc/auth.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(backend): clone application for less manual form filling
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(applicant): add buttons and texts to clone application
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.sc.ts
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.tsx
  frontend/benefit/applicant/src/hooks/useCloneApplicationMutation.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: typing issue in test
  frontend/benefit/shared/src/utils/dates.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add locale prefix to title url
  frontend/benefit/applicant/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build: tet pipeline refactor (#3307)
  pipelines/tet-admin-ui-dev.yml
  pipelines/tet-admin-ui-release.yml
  pipelines/tet-api-dev.yml
  pipelines/tet-api-release.yml
  pipelines/tet-review.yml
  pipelines/tet-youth-ui-dev.yml
  pipelines/tet-youth-ui-release.yml
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: request error logging when no failureDetails
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: store request id in ahjoStatus on failure
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/migrations/0083_ahjostatus_ahjo_request_id.py
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: csv for powerBI integration
  backend/benefit/applications/api/v1/power_bi_integration_views.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_power_bi_integration.py
  backend/benefit/common/tests/conftest.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: find related applications for a single employee (hl-1354) (#3321)
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/tests/test_application_search.py
  backend/benefit/applications/tests/test_command_import_archival_applications.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeView.tsx
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
  frontend/benefit/handler/src/components/applicationsArchive/useApplicationsArchive.ts
  frontend/benefit/handler/src/hooks/useSearchApplicationQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: schedule get_decision_maker command
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: ahjo_case_id in django admin
  backend/benefit/applications/admin.py
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: HL 1465 improve Ahjo callback error logging (#3325)
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0083_ahjostatus_ahjo_request_id.py
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: csv for powerBI integration (#3327)
  backend/benefit/applications/api/v1/power_bi_integration_views.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_power_bi_integration.py
  backend/benefit/common/tests/conftest.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: whitelist next for audit-ci
  frontend/audit-ci.jsonc
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: fix routing; active tab function was off if locale was used
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/applicant/src/components/header/useHeader.ts
  frontend/shared/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: bump nextjs version
  frontend/audit-ci.jsonc
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add missing field values to fixtures
  backend/benefit/applications/fixtures/test_applications.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: change has_batch to batch_status for applicant
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add typing for handledByAhjoAutomation for applicant
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: refactor and change logic on when alteration summary is shown
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/usePageContent.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove env flag to display alterations
  .env.benefit-applicant.example
  .env.benefit-handler.example
  frontend/benefit/applicant/src/components/applications/alteration/AlterationPage.tsx
  frontend/benefit/applicant/src/components/decisions/DecisionsApplicationList.tsx
  frontend/benefit/handler/src/components/alteration/NewAlteration.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: fix routing; active tab function was off if locale was used (#3331)
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/applicant/src/components/header/useHeader.ts
  frontend/shared/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: save request id, not ahjo guid after request
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: decision details for automated applications
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: change columns according to powerBI spec
  backend/benefit/applications/api/v1/power_bi_integration_views.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_power_bi_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: bump nextjs version (#3332)
  frontend/audit-ci.jsonc
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: clone application on applicant side (hl-1447) (#3324)
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/clone_application.py
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.sc.ts
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.tsx
  frontend/benefit/applicant/src/hooks/useCloneApplicationMutation.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/utils/dates.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: bump express version
  frontend/audit-ci.jsonc
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: display ahjo error in handler ui
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add ahjo error status to handler's app list
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove now built-in "next-transpile-modules" package
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/tet/admin/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: test columns for the powerBI report
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_power_bi_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: HL 1461 + HL 1466 fixes (#3336)
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: Hl 1445 add powerBI fields (#3334)
  backend/benefit/applications/api/v1/power_bi_integration_views.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_power_bi_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: store ahjo validation errors to ahjoStatus
  backend/benefit/applications/migrations/0084_ahjostatus_validation_error_from_ahjo.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/tests/test_ahjo_requests.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add ahjo errors to handler's application lists (hl-1421) (#3289)
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: ensure pip, setuptools, and wheel are up to date
  backend/docker/benefit-arm.Dockerfile
  backend/docker/benefit-ubi-arm.Dockerfile
  backend/docker/benefit.Dockerfile
  backend/docker/kesaseteli.Dockerfile
  backend/docker/tet.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(settings): make debug setting configurable
  backend/tet/tet/settings.py
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
