Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(benefit): fixed no instalments case
  backend/benefit/applications/services/ahjo_decision_service.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed frontend test
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(shared,backend): remove HistoricalModel as unused
  backend/shared/shared/models/abstract_models.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): remove historical models as unnecessary
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0050_remove_all_remaining_historical_models.py
  backend/kesaseteli/applications/migrations/0051_employerapplication_submitted_at.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/pyproject.toml
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/kesaseteli/simple_history/__init__.py
  backend/kesaseteli/simple_history/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,backend): add audit logging of changes using serializer
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/tests/test_audit_logging.py
  backend/shared/shared/audit_log/viewsets.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli,backend): run "ruff format && ruff check --fix"
  backend/kesaseteli/applications/migrations/0049_remove_employersummervoucher_employee_home_city_and_more.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(shared,backend): run "ruff format && ruff check --fix"
  backend/shared/shared/audit_log/tests/test_get_remote_address.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli,backend): remove temporary HistoricalRecords stub
  backend/kesaseteli/simple_history/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: actually let's not
  frontend/benefit/applicant/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: temp test
  .github/workflows/bf-applicant-frontend-tests.yml
Due: none

fix(benefit): remove 2nd sum
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix application send message
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/useApplicationFormStep5.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/usePageContent.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add adfs auth related configuration
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: https in tests and pdf samples
  compose/employer.dev.yml
  compose/handler.dev.yml
  frontend/benefit/handler/browser-tests/pages/sample.pdf
  frontend/benefit/handler/browser-tests/pages/sample2.pdf
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for application step 5&6
  frontend/benefit/applicant/src/components/applications/forms/application/step5/__tests__/useApplicationFormStep5.test.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/useApplicationFormStep6.test.ts
  frontend/benefit/applicant/src/components/applications/pageContent/__tests__/usePageContent.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

ci(benefit-api): add templates to sonar exclusions
  backend/benefit/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,youth): fix browser tests
  .env.kesaseteli-backend.example
  .env.kesaseteli-youth.example
  frontend/.testcaferc.base.js
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/youth/browser-tests/handler-application.testcafe.ts
  frontend/kesaseteli/youth/browser-tests/youth-application.testcafe.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): use next-i18next instad of react-i18next
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: add react-i18next as dep in kesaseteli
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): linting fixes to the code
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the notify_applications logic
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): added unit test for _send_notification_mail
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test information in mail body
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_en.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_fi.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_sv.txt
  backend/benefit/messages/automatic_messages.py
  frontend/benefit/common/src/emails/text-templates/payslip-required.template.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): writing tests for the code
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): added integration test for command request_payslip
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): automatic checkpoint notification
  backend/benefit/applications/management/commands/request_payslip.py
  frontend/benefit/common/src/emails/i18n/en.json
  frontend/benefit/common/src/emails/i18n/fi.json
  frontend/benefit/common/src/emails/i18n/sv.json
  frontend/benefit/common/src/emails/templates/payslip-required.template.mjml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): minor alterations to the code
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): created tests for sending emails
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the email context information
  backend/benefit/messages/automatic_messages.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): automatic checkpoint notification
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): augmented the tests
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): fixed .po files
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): generated email templates for notification emails
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_en.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_fi.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_sv.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_en.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_fi.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_sv.txt
  frontend/benefit/common/src/emails/i18n/sv.json
  frontend/benefit/common/src/emails/text-templates/payslip-required.template.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the test for request payslip
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks,shared): fix linting issues
  frontend/.eslintrc.base.js
  frontend/shared/src/components/forms/inputs/DateInput.sc.ts
  frontend/shared/src/components/header/Header.tsx
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks): fix linting issues
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/src/components/application/companyInfo/CompanyInfo.sc.ts
  frontend/kesaseteli/employer/src/components/application/summary/ApplicationSummary.sc.ts
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentFieldSummary.sc.ts
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/footer/Footer.sc.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/tsconfig.json
  frontend/kesaseteli/handler/src/components/footer/Footer.sc.ts
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/handler/tsconfig.json
  frontend/kesaseteli/youth/browser-tests/handler-application.testcafe.ts
  frontend/kesaseteli/youth/browser-tests/youth-application.testcafe.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/footer/Footer.sc.ts
  frontend/kesaseteli/youth/src/components/youth-form/YouthApplication.tsx
  frontend/kesaseteli/youth/tsconfig.json
Due: pipelines/yjdh-tet-api-dev.yml

style(ks,shared): fix issues with strict typechecking
  frontend/shared/src/components/accordion/Accordion.tsx
  frontend/shared/src/components/app/BaseApp.tsx
  frontend/shared/src/components/confirm-dialog/Portal.tsx
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/components/forms/inputs/DateInput.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/components/forms/inputs/SocialSecurityNumberInput.tsx
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/header/useHeader.ts
  frontend/shared/src/components/hocs/initLocale.tsx
  frontend/shared/src/components/hocs/withAuth.tsx
  frontend/shared/src/components/pages/SentryErrorPage.tsx
  frontend/shared/src/components/stepper/WizardStep.tsx
  frontend/shared/src/hooks/useGdprMaskedFormValues.ts
  frontend/shared/src/types/employment.d.ts
  frontend/shared/src/utils/localstorage.utils.ts
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): portal document usage
  frontend/shared/src/components/confirm-dialog/Portal.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
