Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(shared): auth-adfs should support redirecting to front services
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_hki_views.py
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): custom logout handler to fix next-url handling
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): override User and Group admins
  backend/kesaseteli/kesaseteli/admin.py
  backend/kesaseteli/kesaseteli/admin_site.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add adfs auth related configuration
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test: improvements to unit tests
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs logout handling
  backend/kesaseteli/kesaseteli/admin_site.py
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add header with login and logout features
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/browser-tests/handler-form/handler-form.testcafe.ts
  frontend/kesaseteli/handler/browser-tests/page-models/LoginPage.ts
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogin.ts
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/pages/login.tsx
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs claim mapping for email
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: support admin AD login, update django-helusers
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to linting
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/common/utils.py
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/SetInstalmentToAcceptedButton.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/SetInstalmentToPendingButton.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/UploadAttachmentButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): de minimis report interface and report generation
  backend/benefit/applications/api/v1/deminimis_integration_views.py
  backend/benefit/applications/migrations/0091_add_de_minimis_grant_send_to_batch.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/applications_deminimis_csv_report.py
  backend/benefit/common/authentications.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): tests for changing date
  frontend/benefit/handler/browser-tests/page-model/ApplicationListForInstalments.ts
Due: pipelines/yjdh-tet-api-dev.yml

style(benefit): fix linting issue
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): create organisation also when not found from YTJ
  backend/kesaseteli/companies/services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): activating 2nd part of employment form
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): nav on same page should not trigger leave confirm prompt
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): manamenent command to cleanup draft and expired application
  backend/kesaseteli/applications/management/commands/cleanup_applications.py
  backend/kesaseteli/applications/tests/test_cleanup_applications_command.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): salaries to handler interface
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/migrations/0091_application_employer_assurance_and_more.py
  backend/benefit/applications/models.py
  backend/benefit/helsinkibenefit/settings.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): rebase changes from main
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): setting employer assurance
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): test for full clone
  backend/benefit/applications/tests/test_application_clone.py
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add file upload button
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to the tests
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: nextjs upgrade to 15
  frontend/benefit/applicant/instrumentation.ts
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/instrumentation.ts
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/instrumentation.ts
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/handler/instrumentation.ts
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/instrumentation.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: benefit browser tests
  .env.benefit-applicant.example
  .env.benefit-backend.example
  .env.benefit-handler.example
  frontend/benefit/applicant/browser-tests/page-model/step3.ts
  frontend/benefit/applicant/browser-tests/page-model/step4.ts
  frontend/benefit/applicant/browser-tests/page-model/step6.ts
  frontend/benefit/applicant/browser-tests/pages/sample.pdf
Due: pipelines/yjdh-tet-api-dev.yml

fix: cookie consent bug and data-testid typing
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fix axios http adapter for tests. fix some eslint warnings
  frontend/.eslintrc.base.js
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(benefit): fix typecheck issues (#3946)
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationForm/actionBar/ActionBarEdit.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/deMinimisAid/DeMinimisAidForm.tsx
  frontend/benefit/handler/src/components/applicationReports/ApplicationReports.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/CancelModalContent/CancelModalContent.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitManualCalculatorView.tsx
  frontend/benefit/handler/src/components/attachmentsListView/AttachmentsListView.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterInspection.tsx
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/shared/src/components/forms/fields/dateInputWithSeparator/DateInputWithSeparator.tsx
  frontend/shared/src/components/messaging/Actions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: some test errors and warnings
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/header/Header.tsx
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/kesaseteli/youth/src/pages/cookie-settings.tsx
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/components/drawer/Drawer.tsx
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: type check and eslint errors
  frontend/.eslintrc.base.js
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmployeeErrorNotification.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/handler/src/hooks/application/useApplicationWithoutSsnFormField.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/pages/PageNotFound.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/shared/src/utils/string.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: https in tests and pdf samples
  compose/employer.dev.yml
  compose/handler.dev.yml
  frontend/benefit/handler/browser-tests/pages/sample.pdf
  frontend/benefit/handler/browser-tests/pages/sample2.pdf
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

fix: update target to es2018 and set all typescript to 5.9.3
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/utils/string.utils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: security update
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(benefit,handler): fix linting issues (#3944)
  frontend/benefit/handler/src/components/alteration/NewAlteration.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandling.sc.ts
  frontend/benefit/handler/src/components/alterationList/AlterationList.sc.ts
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.sc.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.sc.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.sc.ts
  frontend/benefit/handler/src/components/applicationForm/review/summarySection/SummarySection.sc.ts
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/ReviewEditChanges.sc.ts
  frontend/benefit/handler/src/components/applicationHeader/ApplicationHeader.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.sc.ts
  frontend/benefit/handler/src/components/applicationReview/calculationTable/CalculationTable.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handledView/HandledView.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationAccordionItem.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/ApplicationStepper.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/EditorAhjoProposal.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep.sc.ts
  frontend/benefit/handler/src/components/applicationReview/notificationView/NotificatinsView.sc.ts
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.sc.ts
  frontend/benefit/handler/src/components/batchProcessing/ApplicationsHandled.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchAction/BatchActions.sc.ts
  frontend/benefit/handler/src/components/footer/Footer.sc.ts
  frontend/benefit/handler/src/components/header/Header.sc.ts
  frontend/benefit/handler/src/components/header/HeaderNotifier.tsx
  frontend/benefit/handler/src/components/header/NumberTag.tsx
  frontend/benefit/handler/src/components/layout/Layout.tsx
  frontend/benefit/handler/src/components/mainIngress/MainIngress.sc.ts
  frontend/benefit/handler/src/components/reviewSection/ReviewSection.tsx
  frontend/benefit/handler/src/components/table/TableExtras.sc.ts
  frontend/benefit/handler/src/layout/Layout.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: rebased on main and fixed conflicts
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/hooks/useInstalmentDateChange.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: some new unit tests
  frontend/benefit/handler/src/__tests__/applications.test.ts
  frontend/benefit/shared/jest.config.js
  frontend/benefit/shared/src/__tests__/validation.test.ts
  frontend/shared/src/__tests__/matomo.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
