Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

deps: update pre-commit tool versions
  .pre-commit-config.yaml
Due: pipelines/yjdh-tet-api-dev.yml

style(ks): apply ruff format
  backend/kesaseteli/applications/templates/admin/applications/emailtemplate/change_list.html
  backend/kesaseteli/applications/templates/admin/applications/emailtemplate/preview.html
  backend/kesaseteli/applications/templates/admin/applications/school/import_form.html
  backend/kesaseteli/applications/templates/email/README.md
  backend/kesaseteli/applications/templates/email/activation_email_en.html
  backend/kesaseteli/applications/templates/email/activation_email_fi.html
  backend/kesaseteli/applications/templates/email/activation_email_sv.html
  backend/kesaseteli/applications/templates/email/additional_info_request_email_en.html
  backend/kesaseteli/applications/templates/email/additional_info_request_email_fi.html
  backend/kesaseteli/applications/templates/email/additional_info_request_email_sv.html
  backend/kesaseteli/applications/templates/email/processing_email_en.html
  backend/kesaseteli/applications/templates/email/processing_email_fi.html
  backend/kesaseteli/applications/templates/email/processing_email_sv.html
  backend/kesaseteli/applications/tests/test_email_template_model.py
  backend/kesaseteli/handler_notes/README.md
  frontend/kesaseteli/employer/tsconfig.json
  frontend/kesaseteli/handler/sentry.client.config.js
  frontend/kesaseteli/handler/tsconfig.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/tsconfig.json
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add separate pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix(ks, youth): uniform response to ssn and email in use
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  frontend/kesaseteli/youth/browser-tests/youth-application.testcafe.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add ensure_talpa_export_test_applications command
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/management/commands/ensure_talpa_export_test_applications.py
  backend/kesaseteli/applications/mock_context_service.py
  backend/kesaseteli/applications/tests/test_ensure_talpa_export_test_applications_command.py
  backend/kesaseteli/applications/tests/test_talpa_export_mock_service.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): fix Talpa webhook payload in README diagram
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: skip shared pipeline pre-commit
  .github/workflows/bf-backend-ci.yml
  .github/workflows/ks-backend-ci.yml
Due: none

fix(ks): fix readiness endpoint
  frontend/Dockerfile
  frontend/README.md
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): secure youth attachment delivery and handler uploads
  backend/kesaseteli/applications/api/v1/mixins.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add post_delete cleanup for attachment files
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): require youth applications to be active for attachments
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add youth application attachments backend implementation
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/authentications.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/migrations/0067_alter_attachment_options_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
  backend/kesaseteli/common/tests/conftest.py
  backend/kesaseteli/common/tests/factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add setting to disable anonymous youth attachments
  .env.kesaseteli-backend.example
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks): update Finnish translation messages
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/common/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/handler_notes/locale/fi/LC_MESSAGES/django.po
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): lock youth application during attachment deletion
  backend/kesaseteli/applications/api/v1/mixins.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: remove readiness endpoint from frontend readme
  frontend/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: change Dependabot to use uv
  .github/dependabot.yml
Due: none

build(ks,uv): migrate dependency management from pip-tools to uv
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/README.md
  backend/kesaseteli/pyproject.toml
  backend/kesaseteli/requirements-dev.in
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements-prod.in
  backend/kesaseteli/requirements-prod.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/kesaseteli/scripts/README.md
  backend/kesaseteli/sonar-project.properties
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/kesaseteli/uv.lock
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade Python dependencies
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/pyproject.toml
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(ks): use uv backend workflow
  .github/workflows/ks-backend-ci.yml
  release-please-config.json
Due: none

fix(ks): load root dotenv fallback
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): isolate media and PDF test dependencies
  backend/benefit/applications/tests/conftest.py
  backend/benefit/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build(backend): validate uv locks in pre-commit
  .pre-commit-config.yaml
Due: pipelines/yjdh-tet-api-dev.yml

ci(backend): pass Sonar token to reusable workflows
  .github/workflows/bf-backend-ci.yml
  .github/workflows/ks-backend-ci.yml
Due: none

chore: add style-only commits to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove vulnerable ecdsa dependency
  backend/benefit/pyproject.toml
  backend/benefit/users/tests/keys.py
  backend/benefit/users/tests/test_gdpr_api.py
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): upgrade urllib3 for security fixes
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(frontend): correct applicant README typo
  frontend/benefit/applicant/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(benefit): use uv backend workflow
  .github/workflows/bf-backend-ci.yml
  release-please-config.json
Due: none

style(ci): normalize shared Python version
  .github/workflows/shared-backend-coding-style.yml
Due: none

build(benefit,uv): migrate dependency management from pip-tools to uv
  .gitignore
  .husky/README.md
  backend/README.md
  backend/benefit/README.md
  backend/benefit/pyproject.toml
  backend/benefit/requirements-dev.in
  backend/benefit/requirements-dev.txt
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build(ks,docker): install uv and use uv sync instead of pip install
  backend/docker/kesaseteli.Dockerfile
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove vulnerable pdfkit dependency
  backend/benefit/README.md
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/generate_application_summary.py
  backend/benefit/applications/services/pdf_renderer.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_pdf_renderer.py
  backend/benefit/conftest.py
  backend/benefit/pyproject.toml
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build(benefit,docker): install uv and use uv sync instead of pip install
  backend/.dockerignore
  backend/docker/benefit.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(backend): align project versions with release manifest
  backend/benefit/pyproject.toml
  backend/benefit/uv.lock
  backend/kesaseteli/pyproject.toml
  backend/kesaseteli/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(backend): exclude local virtualenvs from translation compilation
  backend/benefit/docker-entrypoint.sh
  backend/kesaseteli/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
