Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(benefit): fix broken employee consent pdf links
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix broken employee consent pdf links
  frontend/benefit/applicant/public/employee_consent_en.pdf
  frontend/benefit/applicant/public/employee_consent_fi.pdf
  frontend/benefit/applicant/public/employee_consent_sv.pdf
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix broken employee consent pdf links
  frontend/benefit/applicant/public/locales/fi/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui to reflect 2026 changes
  frontend/benefit/applicant/browser-tests/page-model/step2.ts
  frontend/benefit/applicant/browser-tests/pages/association.testcafe.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
  frontend/benefit/applicant/browser-tests/utils/fieldMaps.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step3/ApplicationFormStep3.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application disappears from "Maksuerät" tab
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the apprenticeship validation
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the tests
  backend/benefit/applications/tests/test_application_clone.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_applications_api_breaking_changes.py
  backend/benefit/applications/tests/test_benefit_aggregation.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): automatic checkpoint notification
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): automatic checkpoint notification
  backend/benefit/applications/management/commands/request_payslip.py
  frontend/benefit/common/src/emails/i18n/en.json
  frontend/benefit/common/src/emails/i18n/fi.json
  frontend/benefit/common/src/emails/i18n/sv.json
  frontend/benefit/common/src/emails/templates/payslip-required.template.mjml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): fixed .po files
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): removed commented out code
  frontend/benefit/applicant/browser-tests/pages/association.testcafe.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): new states for instalments
  backend/benefit/calculator/enums.py
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use release-please github action maintained by Google
  .github/workflows/release-please.yml
Due: none

refactor(ks,employer): iban input id property handling
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): make migration for instalments
  backend/benefit/calculator/migrations/0019_alter_instalment_status.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(release-please): count chore(deps) as dependencies
  release-please-config.json
Due: none

chore(dependabot): make dependabot use commit prefix for backend
  .github/dependabot.yml
Due: none

feat(ks,frontend): add matomo & cookie consent to employer & youth UIs
  .env.kesaseteli-employer.example
  .env.kesaseteli-youth.example
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/cookie-settings.tsx
  frontend/kesaseteli/shared/constants.ts
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
  frontend/kesaseteli/youth/src/components/header/Header.tsx
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/kesaseteli/youth/src/pages/cookie-settings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore: nextjs upgrade to 15
  frontend/benefit/applicant/instrumentation.ts
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/instrumentation.ts
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/instrumentation.ts
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/handler/instrumentation.ts
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/instrumentation.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: type check and eslint errors
  frontend/.eslintrc.base.js
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmployeeErrorNotification.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/handler/src/hooks/application/useApplicationWithoutSsnFormField.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/next.config.js
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/pages/PageNotFound.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/shared/src/utils/string.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update target to es2018 and set all typescript to 5.9.3
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/utils/string.utils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fix axios http adapter for tests. fix some eslint warnings
  frontend/.eslintrc.base.js
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: security update
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): remove unused old audit logging settings
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: cookie consent bug and data-testid typing
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): translations
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): leave SSN field as read only after data is fetched
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): upgrade Django 5.1→5.2 and all packages
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): added new states to language files
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared,frontend): default value for DateInput and SelectionGroup
  frontend/shared/src/components/forms/inputs/DateInput.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/application.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): session storage for wizard values
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useLoadDraftOrCreateNewApplication.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/services/ApplicationPersistenceService.ts
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
  frontend/kesaseteli/employer/src/utils/application.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml
