Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(ks): youth form description should have dynamic voucher value
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/backend/expectToGetSummerVoucherConfiguration.ts
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/VtjErrorNotification.test.tsx
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/shared/src/hooks/useCurrentYearSummerVoucherConfig.tsx
  frontend/kesaseteli/shared/src/hooks/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-additional-info-page-api.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/additional-info-form/AdditionalInfoForm.tsx
  frontend/kesaseteli/youth/src/components/youth-form/TargetGroupSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthApplication.tsx
  frontend/kesaseteli/youth/src/pages/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): show "is up to date" info for email templates
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to file input and serializer
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): paid salaries to handler view
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0092_application_employer_assurance_and_more.py
  backend/benefit/applications/migrations/0093_alter_attachment_attachment_type_and_more.py
  backend/benefit/applications/models.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): handling assurance, payslips and button visibility
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/clone_application.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix application cloning
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/tests/test_application_clone.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): created tests
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/__tests__/PaidSalariesAccordion.test.tsx
  frontend/benefit/handler/src/hooks/__tests__/useChangeEmployerAssurance.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tests and fix to buttons
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/11-paid-salaries-to-handler.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to fixtures
  backend/benefit/applications/fixtures/test_applications.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test setting assurance
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to condition loading broken by nextjs update
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): don't auditlog VTJ JSON fields
  backend/kesaseteli/kesaseteli/auditlog_settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli,backend): change "nuorten.helsinki" to "nuorten.hel.fi"
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_en.html
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_fi.html
  backend/kesaseteli/applications/templates/email/youth_summer_voucher_email_sv.html
  backend/kesaseteli/docs/kesaseteli-endpoints.md
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): prevent infinite loop on no-organisation page
  frontend/kesaseteli/employer/src/hocs/__tests__/withOrganisation.test.tsx
  frontend/kesaseteli/employer/src/hocs/withEmployerAuth.tsx
  frontend/kesaseteli/employer/src/hocs/withOrganisation.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): handle cancelled login and suomi-fi -logout next-path
  backend/kesaseteli/kesaseteli/urls.py
  backend/shared/shared/suomi_fi/tests/test_views.py
  backend/shared/shared/suomi_fi/views.py
  frontend/kesaseteli/employer/src/components/header/__tests__/Header.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): formalize design and improve mocks
  frontend/kesaseteli/employer/DESIGN.md
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): persist only employer data to session storage
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/usePersistFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/services/ApplicationPersistenceService.ts
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): rebase and fix linter issues
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/Step1EmployerAndEmployment.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
  frontend/kesaseteli/employer/src/components/application/summary/ApplicationSummary.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/hocs/__tests__/withOrganisation.test.tsx
  frontend/kesaseteli/employer/src/hocs/withEmployerAuth.tsx
  frontend/kesaseteli/employer/src/hocs/withOrganisation.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): remove employee_ssn from fetch_employee_data & some others
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/employment.d.ts
  frontend/shared/src/utils/__tests__/mask-gdpr-data.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): allow employer UI as logout redirect host
  .env.kesaseteli-backend.example
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): fix creating company with None address values
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/test_company_services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(ks): execute test workflows when PR to main is created
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
Due: none

fix(ks,youth): fix routing tests following shared useGoToPage changes
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/__tests__/email_in_use.test.tsx
  frontend/kesaseteli/youth/src/__tests__/expired.test.tsx
  frontend/kesaseteli/youth/src/__tests__/inadmissible_data.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.recheck.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.submission.test.tsx
  frontend/kesaseteli/youth/src/__tests__/thankyou.test.tsx
  frontend/kesaseteli/youth/src/hooks/useHandleYouthApplicationSubmit.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(ks): add canvas mock
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/shared/jest.config.js
  frontend/kesaseteli/youth/jest.config.js
  frontend/shared/src/__tests__/utils/canvasMock.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): fix linter issues
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): fix linting issue
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/pages/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,shared): use shared jest-canvas-env
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/shared/jest.config.js
  frontend/kesaseteli/youth/jest.config.js
  frontend/shared/jest-canvas-env.js
  frontend/shared/src/__tests__/utils/canvasMock.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
