Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

deps(ks): remove elasticsearch 7 from deps
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): extract VTJ query type string to a constant
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): add compliance logging for VTJ queries
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/signals.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): add request ID to VTJ query client and logging
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): document django-auditlog and django-auditlog-extra usage
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove AuditLogEntry model and admin view
  backend/shared/shared/audit_log/admin.py
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/migrations/0003_delete_auditlogentry.py
  backend/shared/shared/audit_log/models.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove old audit log transfer tasks
  backend/shared/shared/audit_log/jobs/monthly/clear_audit_log_entries.py
  backend/shared/shared/audit_log/jobs/quarter_hourly/send_audit_log.py
  backend/shared/shared/audit_log/tasks.py
  backend/shared/shared/audit_log/tests/test_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: update audit_log README with deprecation status
  backend/shared/shared/audit_log/README.md
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks): remove old auditlog envvars and settings
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): remove attachment_file (i.e. URL) from attachment API response
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/attachment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): file upload reset the form
  frontend/benefit/applicant/src/components/applications/forms/application/step3/ApplicationFormStep3.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step3/attachmentsList/AttachmentsList.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step3/attachmentsList/useAttachmentsList.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step4/ApplicationFormStep4.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step4/useApplicationFormStep4.ts
  frontend/benefit/applicant/src/hooks/useRemoveAttachmentQuery.ts
  frontend/benefit/applicant/src/hooks/useUploadAttachmentQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): summary page for applicant
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tests for backend and frontend
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_application_clone.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_command_set_as_archived.py
  frontend/benefit/applicant/src/components/applications/forms/application/step3/__tests__/ApplicationFormStep3.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step4/__tests__/ApplicationFormStep4.test.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): pdf output for applicant and bugfixes
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/templates/application.html
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step3/ApplicationFormStep3.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step3/attachmentsList/AttachmentsList.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step3/useApplicationFormStep3.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(browser): stabilize benefit browser tests
  frontend/benefit/applicant/browser-tests/page-model/step3.ts
  frontend/benefit/applicant/browser-tests/page-model/step4.ts
  frontend/benefit/applicant/browser-tests/utils/attachmentSelectors.ts
  frontend/benefit/handler/browser-tests/pages/4-make-decision.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/8-create-alteration-errors.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(youth): add school dropdown filtering and update tests
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-additional-info-page-api.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/youth-form/SchoolSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/__tests__/SchoolSelection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(shared): add HelsinkiGroteskPro variable font-face definitions
  frontend/shared/src/styles/fonts.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: create custom Button wrapper with loading state support
  frontend/benefit/applicant/src/components/applications/alteration/AlterationAccordionItem.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationDeleteModal.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationFormContainer.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/handler/src/components/alteration/AlterationFormContainer.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingConfirmationModal.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/editAction/EditAction.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationCancelModal.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationDeleteModal.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterCompletion.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterDraft.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/shared/src/components/attachments/UploadAttachment.tsx
  frontend/shared/src/components/button/Button.tsx
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
  frontend/shared/src/components/link-button/LinkButton.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: add global jest-dom type reference
  frontend/shared/src/types/jest-dom.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix accordion component styling and size prop
  frontend/benefit/applicant/src/components/applications/alteration/AlterationAccordionItem.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationAccordionItem.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationAccordionItem.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): upgrade hds-react to 5.0.0 in kesaseteli employer UI
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/hocs/__tests__/withOrganisation.test.tsx
  frontend/kesaseteli/employer/src/hocs/withOrganisation.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useEmploymentQuery.ts
  frontend/kesaseteli/employer/src/pages/login.tsx
  frontend/kesaseteli/employer/src/pages/no-organisation.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/utils/application-wizard.utils.ts
  frontend/kesaseteli/employer/src/utils/application.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,employer): add coverage for dashboard, form, footer and utils
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/__tests__/DashboardFilterBar.test.tsx
  frontend/kesaseteli/employer/src/components/footer/__tests__/Footer.test.tsx
  frontend/kesaseteli/employer/src/utils/application-wizard.utils.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(applicant): add unit tests for benefit applicant UI components
  frontend/benefit/applicant/jest.config.js
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/applicant/src/__tests__/utils/mock-data.ts
  frontend/benefit/applicant/src/__tests__/utils/mock-hds-date-input.ts
  frontend/benefit/applicant/src/__tests__/utils/render-component.tsx
  frontend/benefit/applicant/src/__tests__/utils/user-render-helper.ts
  frontend/benefit/applicant/src/components/applications/__tests__/NoApplications.test.tsx
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationAccordionItem.test.tsx
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationDeleteModal.test.tsx
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationFormContainer.test.tsx
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationPage.test.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/__tests__/ExpandableApplicationList.test.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/__tests__/ListContents.test.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/__tests__/ListItem.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/__tests__/ConsentViewer.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/__tests__/DeMinimisAidForm.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/list/__tests__/DeMinimisAidsList.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/__tests__/ApplicationFormStep1.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/__tests__/CompanyInfo.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/__tests__/ApplicationFormStep2.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step4/__tests__/ApplicationFormStep4.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/__tests__/ApplicationFormStep5.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/__tests__/CompanyInfoView.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/__tests__/EmployeeView.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/ApplicationFormStep6.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/stepperActions/__tests__/StepperActions.test.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/__tests__/PageContent.test.tsx
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.test.tsx
  frontend/benefit/applicant/src/components/decisions/__tests__/DecisionsApplicationList.test.tsx
  frontend/benefit/applicant/src/components/errorPage/__tests__/ErrorPage.test.tsx
  frontend/benefit/applicant/src/components/footer/__tests__/Footer.test.tsx
  frontend/benefit/applicant/src/components/header/__tests__/Header.test.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/__tests__/FrontPageMainIngress.test.tsx
  frontend/benefit/applicant/src/components/notificationView/__tests__/NotificationView.test.tsx
  frontend/benefit/applicant/src/components/pdfViewer/__tests__/PdfViewer.test.tsx
  frontend/benefit/applicant/src/components/prerequisiteReminder/__tests__/PrerequisiteReminder.test.tsx
  frontend/benefit/applicant/src/components/termsOfService/__tests__/TermsOfService.test.tsx
  frontend/benefit/applicant/src/utils/common.test.ts
  frontend/benefit/applicant/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): adapt dropdowns to hds select v5 api
  frontend/kesaseteli/shared/src/hooks/useCurrentYearSummerVoucherConfig.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/__tests__/Dropdown.test.tsx
  frontend/shared/src/components/forms/inputs/__tests__/MultiSelectDropdown.test.tsx
  frontend/shared/src/types/input-props.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): set APPLICATION_START_DATE to start of current date
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/handler/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared-modal): use Extract for dialog-compatible variants
  frontend/benefit/applicant/src/components/applications/forms/application/stepperActions/StepperActions.tsx
  frontend/benefit/handler/src/components/applicationForm/actionBar/ActionBarNew.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/TalpaStatusChangeDialog.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/ConfirmModalContent/__tests__/confirm.test.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/ConfirmModalContent/confirm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/batchProcessing/BatchApplicationList.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterCompletion.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterDraft.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterInspection.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/shared/src/components/modal/Modal.tsx
  frontend/shared/src/contexts/DialogContext.tsx
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit-shared): improve Sonar quality with unit tests
  frontend/benefit/handler/src/components/alteration/AlterationFormContainer.tsx
  frontend/benefit/shared/jest.config.js
  frontend/benefit/shared/package.json
  frontend/benefit/shared/sonar-project.properties
  frontend/benefit/shared/src/__tests__/utils/render-component.tsx
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/benefit/shared/src/components/alterationForm/__tests__/AlterationForm.test.tsx
  frontend/benefit/shared/src/components/alterationForm/utils/__tests__/validation.test.ts
  frontend/benefit/shared/src/components/alterationForm/utils/validation.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/benefit/shared/src/components/decisionSummary/__tests__/DecisionSummary.test.tsx
  frontend/benefit/shared/src/context/__tests__/AlterationFormProvider.test.tsx
  frontend/benefit/shared/src/jest.d.ts
  frontend/benefit/shared/src/utils/__tests__/common.test.ts
  frontend/benefit/shared/src/utils/__tests__/dates.test.ts
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
  frontend/benefit/shared/src/utils/__tests__/forms.test.ts
  frontend/benefit/shared/src/utils/forms.ts
  frontend/benefit/shared/test/i18n/i18n-test.ts
  frontend/benefit/shared/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(frontend): tune test coverage scope
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
  frontend/jest.config.js
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/youth/jest.config.js
  frontend/kesaseteli/youth/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): update tag selector styles for HDS CSS modules
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.sc.ts
  frontend/benefit/handler/src/components/statusLabel/StatusLabel.sc.ts
  frontend/shared/src/styles/globalStyling.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add OpenInNewTabLink component
  frontend/benefit/applicant/__mocks__/next-i18next.js
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/ConsentViewer.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/__tests__/ConsentViewer.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/attachmentsListView/AttachmentsListView.tsx
  frontend/benefit/applicant/src/components/link/OpenInNewTabLink.sc.ts
  frontend/benefit/applicant/src/components/link/OpenInNewTabLink.test.tsx
  frontend/benefit/applicant/src/components/link/OpenInNewTabLink.tsx
  frontend/benefit/applicant/src/components/prerequisiteReminder/PrerequisiteReminder.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): bump hds-react to 5.0.0 in Kesaseteli handler UI
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/VtjErrorNotification.test.tsx
  frontend/kesaseteli/handler/src/pages/login.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit,shared): upgrade hds-react to 5.0.0
  frontend/benefit/shared/package.json
  frontend/benefit/shared/src/__tests__/validation.test.ts
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/benefit/shared/src/components/alterationForm/utils/validation.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/benefit/shared/src/utils/forms.ts
  frontend/benefit/shared/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,youth): upgrade hds-react to 5.0.0 in kesaseteli youth UI
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from bots
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/templates/application.html
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step3/__tests__/ApplicationFormStep3.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
  frontend/benefit/applicant/src/hooks/__tests__/useRemoveAttachmentQuery.test.tsx
  frontend/benefit/applicant/src/hooks/useRemoveAttachmentQuery.ts
  frontend/benefit/applicant/src/hooks/useUploadAttachmentQuery.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
