Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

style(ks): fix typecheck issues
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/DateInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/TextInput.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/components/form/DateInput.tsx
  frontend/kesaseteli/handler/src/components/form/SubmitErrorSummary.tsx
  frontend/kesaseteli/handler/src/components/form/TextInput.tsx
  frontend/kesaseteli/handler/src/hooks/application/useHandleApplicationWithoutSsnSubmit.ts
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/tsconfig.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
  frontend/kesaseteli/youth/src/hooks/useHandleYouthApplicationSubmit.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix application send message
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/useApplicationFormStep5.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/usePageContent.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for application step 5&6
  frontend/benefit/applicant/src/components/applications/forms/application/step5/__tests__/useApplicationFormStep5.test.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/useApplicationFormStep6.test.ts
  frontend/benefit/applicant/src/components/applications/pageContent/__tests__/usePageContent.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): changing the test for date ranges and sums
  backend/benefit/applications/tests/test_ahjo_decisions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): date ranges of instalments in decisions
  backend/benefit/applications/fixtures/test_decision_templates.json
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_ahjo_decisions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed no instalments case
  backend/benefit/applications/services/ahjo_decision_service.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the calculation of 2nd instalment due date
  backend/benefit/applications/tests/test_ahjo_decisions.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/rules.py
  backend/benefit/calculator/tests/test_calculator_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed frontend test
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): set default value for date picker
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): changed test date format
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for changing date
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/tests/test_validator.py
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): run pre-commit on code
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/api/v1/views.py
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the tests
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new actions for instalments
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useRouterNavigation.ts
  frontend/benefit/handler/src/hooks/useInstalmentDateChange.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes according to review
  backend/benefit/calculator/api/v1/serializers.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from Sentry bot and refactoring
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): corrected states for instalment actions
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/tests/test_validator.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/hooks/useInstalmentDateChange.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): automatic checkpoint notification
  backend/benefit/applications/management/commands/request_payslip.py
  frontend/benefit/common/src/emails/i18n/en.json
  frontend/benefit/common/src/emails/i18n/fi.json
  frontend/benefit/common/src/emails/i18n/sv.json
  frontend/benefit/common/src/emails/templates/payslip-required.template.mjml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): minor alterations to the code
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test information in mail body
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_en.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_fi.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_sv.txt
  backend/benefit/messages/automatic_messages.py
  frontend/benefit/common/src/emails/text-templates/payslip-required.template.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the notify_applications logic
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): added integration test for command request_payslip
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): generated email templates for notification emails
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_en.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_fi.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_sv.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_en.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_fi.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_sv.txt
  frontend/benefit/common/src/emails/i18n/sv.json
  frontend/benefit/common/src/emails/text-templates/payslip-required.template.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): automatic checkpoint notification
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): writing tests for the code
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the email context information
  backend/benefit/messages/automatic_messages.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): linting fixes to the code
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): augmented the tests
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the test for request payslip
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): created tests for sending emails
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): added unit test for _send_notification_mail
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): fixed .po files
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs logout handling
  backend/kesaseteli/kesaseteli/admin_site.py
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add header with login and logout features
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/browser-tests/handler-form/handler-form.testcafe.ts
  frontend/kesaseteli/handler/browser-tests/page-models/LoginPage.ts
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogin.ts
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/pages/login.tsx
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): paid salaries to application
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0091_application_employer_assurance_and_more.py
  backend/benefit/applications/models.py
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/SetInstalmentToAcceptedButton.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/SetInstalmentToPendingButton.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/UploadAttachmentButton.tsx
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to the code and UI
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/UploadAttachmentButton.tsx
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs claim mapping for email
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): override User and Group admins
  backend/kesaseteli/kesaseteli/admin.py
  backend/kesaseteli/kesaseteli/admin_site.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style: set strict mode on in tsconfig
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): fix typecheck and linting issues
  frontend/shared/src/__tests__/utils/render-component/render-component.tsx
  frontend/shared/src/components/app/BaseApp.tsx
  frontend/shared/src/components/forms/heading/Heading.sc.ts
  frontend/shared/src/components/layout/Layout.tsx
  frontend/shared/src/components/messaging/Actions.tsx
  frontend/shared/src/utils/dom.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml
