Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix: move runtime deps to dependencies, drop Yarn resolutions
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add react-i18next to app runtimes and clean root workspace config
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: migrate frontend workflows to pnpm and bump actions
  .github/workflows/audit.yml
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
  .github/workflows/shared-backend-coding-style.yml
  .github/workflows/shared-frontend-tests.yml
  .github/workflows/yarn-audit-scheduled.yml
Due: none

feat: migrate from yarn to pnpm across monorepo
  .gitignore
  .husky/README.md
  README.md
  compose/linux.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: pipelines/yjdh-tet-api-dev.yml

fix: add esnext lib to testcafe tsconfig for replaceAll
  frontend/tsconfig.testcafe.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump dompurify to >=3.4.11 to fix ALLOWED_ATTR pollution
  frontend/benefit/handler/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump next to 15.5.22 to patch security advisories
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): force sigstore 4.1.1 to enforce certificateOIDs checks
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): declare i18next directly in each next app
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump @opentelemetry/core to >=2.8.0 for baggage DoS
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: pin styled-components and next/router to one instance in jest
  frontend/benefit/applicant/jest.config.js
  frontend/benefit/handler/jest.config.js
  frontend/benefit/shared/jest.config.js
  frontend/jest.config.js
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/shared/jest.config.js
  frontend/kesaseteli/youth/jest.config.js
  frontend/shared/jest.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade testcafe to 3.7.6 to drop vulnerable replicator
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): resolve high/critical audit advisories via pnpm overrides
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/audit-ci.jsonc
  frontend/patches/brace-expansion@5.0.8.patch
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): bump cross-spawn to 7.0.6 to fix ReDoS
  pnpm-lock.yaml
Due: pipelines/yjdh-tet-api-dev.yml

fix(frontend): disable dev indicator to silence HMR warning
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: pin ip-address to >=10.3.1 for SSRF advisory
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump postcss to >=8.5.23 for sourceMappingURL read
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): prevent consent checkbox race in handler form
  frontend/benefit/handler/src/components/applicationForm/useApplicationForm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump fast-uri to 4.1.2 for host-confusion advisory
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(bf-handler): make browser-test date entry robust
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(deps): prune stale minimumReleaseAge exclusions
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add null check for i18n.changeLanguage in initLocale HOC
  frontend/shared/src/components/hocs/initLocale.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): transform allowlisted esm packages in jest
  frontend/jest.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(kesaseteli-handler): add CORS headers to userinfo test mocks
  frontend/kesaseteli/handler/browser-tests/handler-form/handler-form.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

deps: bump brace-expansion to 5.0.9 for DoS advisory
  frontend/patches/brace-expansion@5.0.9.patch
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: speed up step6 open-as-pdf test to avoid timeout
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/ApplicationFormStep6.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): mask per-package node_modules in dev compose
  compose.benefit.yml
Due: pipelines/yjdh-tet-api-dev.yml

deps: force body-parser 1.20.6 to patch DoS advisory
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): make .next group-writable for OpenShift ISR
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: update pipeline references to use YJDH-900-migrate-to-pnpm branch
  pipelines/helsinkilisa-review.yml
  pipelines/kesaseteli-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

deps: force cookie 0.7.2 to patch out-of-bounds char advisory
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): bump lerna to 9 to patch nx CORS advisory
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(frontend): migrate package manager from yarn to pnpm
  .husky/scripts/run-frontend-lerna-pre-commit.sh
  .pre-commit-config.yaml
  frontend/.eslintrc.base.js
  frontend/.gitignore
  frontend/.lintstagedrc.js
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/applicant/package.json
  frontend/benefit/common/package.json
  frontend/benefit/handler/jest.config.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationReports/__tests__/useApplicationReports.test.ts
  frontend/benefit/shared/package.json
  frontend/jest.config.js
  frontend/kesaseteli/README.md
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/README.md
  frontend/kesaseteli/youth/package.json
  frontend/lerna.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
  frontend/shared/src/hooks/useGdprMaskedFormValues.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: override vulnerable transitive packages
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade Node.js to 24.18.1
  .nvmrc
  README.md
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/shared/package.json
  frontend/kesaseteli/README.md
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/youth/README.md
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/helsinkilisa-ui-handler-release.yml
  pipelines/helsinkilisa-ui-release.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-ui-release.yml
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
  pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: migrate frontend Docker builds from yarn to pnpm
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
