Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(ks): remove actor anonymization signal and fix unsaved-instance test
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): handler attachment mgmt for employer apps
  .gitignore
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useUploadAttachmentQuery.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): decouple tests from environment variables
  backend/benefit/applications/tests/test_ahjo_authentication.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_ahjo_requests.py
  backend/benefit/companies/tests/test_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): improve companies.test.test_api
  backend/benefit/companies/tests/test_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): replace eauth with suomifi-on-behalf
  backend/benefit/common/permissions.py
  backend/benefit/companies/api/v1/views.py
  backend/benefit/companies/resolvers.py
  backend/benefit/companies/tests/test_api.py
  backend/benefit/helsinkibenefit/oidc_urls.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/benefit/users/utils.py
  backend/shared/shared/oidc/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks,handler): add application timeline architecture Mermaid diagrams
  backend/kesaseteli/README.md
  backend/kesaseteli/docs/diagrams/application-timeline-01-data-models.mmd
  backend/kesaseteli/docs/diagrams/application-timeline-02-assembly-flow.mmd
  frontend/kesaseteli/handler/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): replace auditlog timeline with TimelineActivityLog
  backend/kesaseteli/applications/apps.py
  backend/kesaseteli/applications/migrations/0061_timelineactivitylog.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_signals.py
  backend/kesaseteli/applications/tests/test_timeline_service.py
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: do not retry open case requests if error from ahjo is present
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: limit retry application count to 5 / run
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/test_application_tasks.py
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): use youth's most official name in excel exports & employer UI
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): test most official name related functionalities
  backend/kesaseteli/applications/tests/test_most_official_name.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: resolve lint errors
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): resolve lint and type issues
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/useApplicationFormStep1.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/secondInstalmentUpload/SecondInstalmentUploadPage.tsx
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/handler/src/components/applicationForm/useApplicationForm.ts
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/attachmentsListView/AttachmentsListView.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useDecisionProposalDraftMutation.tsx
  frontend/benefit/handler/src/hooks/useCalculatorData.ts
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/shared/src/components/accordion/Accordion.module.sc.ts
  frontend/shared/src/components/accordion/Accordion.tsx
  frontend/shared/src/utils/mask-gdpr-data.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: enhance test coverage
  frontend/benefit/handler/src/components/applicationForm/formContent/__tests__/useFormContent.test.ts
  frontend/benefit/handler/src/components/applicationReports/__tests__/useApplicationReports.test.ts
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/__tests__/ApplicationProcessingView.test.tsx
  frontend/benefit/handler/src/components/applicationReview/calculatorErrors/__tests__/CalculatorErrors.test.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchProposals.test.tsx
  frontend/benefit/handler/src/components/header/__tests__/Header.test.tsx
  frontend/benefit/handler/src/hooks/__tests__/useCalculatorData.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useFormActions.test.tsx
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): handle CompanyResolutionErrors globally
  backend/benefit/common/exception_handlers.py
  backend/benefit/common/permissions.py
  backend/benefit/common/tests/test_exception_handlers.py
  backend/benefit/companies/api/v1/views.py
  backend/benefit/companies/tests/test_api.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/users/tests/test_utils.py
  backend/benefit/users/utils.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(deps): bump pip-tools from 7.5.2 to 7.6.0
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): raise 404 on TOS permission HttpError
  backend/benefit/common/permissions.py
  backend/benefit/companies/tests/test_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): declare CSRF cookie in cookie consent required groups
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/utils/__tests__/cookieConsentSettings.test.tsx
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): read CSRF token per request instead of at provider mount
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/backend-api/__tests__/BackendAPIProvider.test.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): re-issue CSRF cookie from the userinfo endpoint
  backend/shared/shared/oidc/tests/test_oidc_views.py
  backend/shared/shared/oidc/views/hki_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): prefer suomi-fi-on-behalf env vars over legacy
  .env.benefit-backend.example
  backend/benefit/companies/tests/conftest.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/tests/test_settings.py
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(frontend): migrate package manager from yarn to pnpm
  .husky/scripts/run-frontend-lerna-pre-commit.sh
  .pre-commit-config.yaml
  frontend/.eslintrc.base.js
  frontend/.gitignore
  frontend/.lintstagedrc.js
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/applicant/package.json
  frontend/benefit/common/package.json
  frontend/benefit/handler/jest.config.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationReports/__tests__/useApplicationReports.test.ts
  frontend/benefit/shared/package.json
  frontend/jest.config.js
  frontend/kesaseteli/README.md
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/README.md
  frontend/kesaseteli/youth/package.json
  frontend/lerna.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
  frontend/shared/src/hooks/useGdprMaskedFormValues.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: override vulnerable transitive packages
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: migrate frontend Docker builds from yarn to pnpm
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade Node.js to 24.18.1
  .nvmrc
  README.md
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/shared/package.json
  frontend/kesaseteli/README.md
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/youth/README.md
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/helsinkilisa-ui-handler-release.yml
  pipelines/helsinkilisa-ui-release.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-ui-release.yml
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
  pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml
