Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(ks): add application assignee functionality and endpoints
  backend/kesaseteli/applications/api/v1/dashboard_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/exceptions.py
  backend/kesaseteli/applications/migrations/0069_employerapplication_assignee_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_assign_endpoint.py
  backend/kesaseteli/applications/tests/test_dashboard_stats_api.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_signals.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/timeline_service.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add assignment controls and update handler form
  frontend/kesaseteli/handler/src/components/assignment/AssignmentControls.sc.ts
  frontend/kesaseteli/handler/src/components/assignment/AssignmentControls.tsx
  frontend/kesaseteli/handler/src/components/assignment/__tests__/AssignmentControls.test.tsx
  frontend/kesaseteli/handler/src/components/attachments/ApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationStatusFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationStatusFieldsSection.test.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.sc.ts
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.sc.ts
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/handler/src/hooks/__tests__/useAssignee.test.tsx
  frontend/kesaseteli/handler/src/hooks/useAssignee.ts
  frontend/kesaseteli/handler/src/utils/__tests__/assignee.utils.test.ts
  frontend/kesaseteli/handler/src/utils/assignee.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): render assignee change activities in timeline
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/timeline/TimelineTheme.ts
  frontend/kesaseteli/handler/src/components/timeline/__tests__/ApplicationTimeline.test.tsx
  frontend/kesaseteli/handler/src/types/timeline.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler,youth): add assignee column and refactor lists
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/pages/additional_info.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): unify employer application assignee box and status
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationStatusFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationStatusFieldsSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): add assignee types and application status constants
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/constants/youth-application-status-arrays.ts
  frontend/kesaseteli/shared/src/constants/youth-application-status.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
  frontend/kesaseteli/shared/src/types/application.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add assignee mutation hooks and invalidator
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/invalidateApplicationAssignmentQueries.test.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useAssignApplicationMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUnassignApplicationMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/invalidateApplicationAssignmentQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useAssignApplicationMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUnassignApplicationMutation.ts
  frontend/kesaseteli/handler/src/types/application.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): unify status and received date in header card
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationStatusFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/form/ApplicationStatusCard.sc.ts
  frontend/kesaseteli/handler/src/components/form/ApplicationStatusCard.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/ApplicationStatusCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): standardize assignee permission restrictions
  frontend/kesaseteli/handler/src/components/attachments/ApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/attachments/ApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/YouthApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteForm.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
  frontend/kesaseteli/handler/src/components/timeline/__tests__/ApplicationTimeline.test.tsx
  frontend/kesaseteli/handler/src/contexts/HandlerPermissionsContext.tsx
  frontend/kesaseteli/handler/src/contexts/__tests__/HandlerPermissionsContext.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): safeguard timeline from bad status changes
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add application received event to timeline
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/timeline/TimelineTheme.ts
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/types/timeline.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add assignee permission notifications to note forms
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add assigned to me filter to handler UI
  backend/kesaseteli/applications/api/v1/views.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/FilterSection.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useEmployerApplicationsListQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useYouthApplicationsListQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): auto-select processing status for assignee filter
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/FilterSection.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/StatusFilter.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add approver actions to employer application view set
  .env.kesaseteli-backend.example
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0070_employerapplication_accepted_for_payment_at_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_payment_review_api.py
  backend/kesaseteli/common/permissions.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/users/__init__.py
  backend/kesaseteli/users/api/__init__.py
  backend/kesaseteli/users/api/v1/__init__.py
  backend/kesaseteli/users/api/v1/serializers.py
  backend/kesaseteli/users/api/v1/views.py
  backend/kesaseteli/users/tests/__init__.py
  backend/kesaseteli/users/tests/conftest.py
  backend/kesaseteli/users/tests/test_user_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add handler accept and reject logic for employer applications
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add employer application action buttons
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerActionButtons.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerActionButtons.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useCompleteEmployerApplicationQuery.ts
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/handler/src/types/employer-complete-operation.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(benefit): useApplicationForm fix Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/__tests__/useApplicationForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore(benefit): sonar jest coverage exclusions match Refs: HL-1853
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): useCompanySearch useDependentFieldsEffect Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/companySearch/__tests__/useCompanySearch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDependentFieldsEffect.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(benefit): applicationForm useApplicationListData Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/utils/__tests__/applicationForm.test.ts
  frontend/benefit/handler/src/components/applicationList/__tests__/useApplicationListData.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(benefit): useDependentFieldsEffect fix Refs: HL-1853
  frontend/benefit/handler/src/hooks/__tests__/useDependentFieldsEffect.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(benefit): sonar exclusions page patterns Refs: HL-1853
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): useApplicationForm tests Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/__tests__/useApplicationForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
