Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

ci(ks): execute test workflows when PR to main is created
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
Due: none

fix(ks,youth): fix routing tests following shared useGoToPage changes
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/__tests__/email_in_use.test.tsx
  frontend/kesaseteli/youth/src/__tests__/expired.test.tsx
  frontend/kesaseteli/youth/src/__tests__/inadmissible_data.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.recheck.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.submission.test.tsx
  frontend/kesaseteli/youth/src/__tests__/thankyou.test.tsx
  frontend/kesaseteli/youth/src/hooks/useHandleYouthApplicationSubmit.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): fix linter issues
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): fix linting issue
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/pages/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): language maintenance
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/handler/browser-tests/page-models/LoginPage.ts
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/shared/browser-tests/page-models/HandlerForm.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): applications with requested payslips
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/applicationList/ApplicationList.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
  frontend/benefit/applicant/src/hooks/useApplicationsQuery.ts
  frontend/benefit/applicant/src/pages/index.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useRouterNavigation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): test invalid non_vtj_birthdate values
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): handle missing birthdates gracefully in youth excel export
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): update upload attachment types for hds-react
  frontend/shared/src/components/attachments/UploadAttachment.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react to 5.0.0 in kesaseteli employer UI
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useEmploymentQuery.ts
  frontend/kesaseteli/employer/src/pages/login.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/utils/application-wizard.utils.ts
  frontend/kesaseteli/employer/src/utils/application.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(benefit): remove dead cookie consent constants
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): type SelectionGroup radio onChange
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): use react-jsx in shared tsconfig
  frontend/benefit/shared/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): adapt dropdowns to hds select v5 api
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react from 3.11.0 to 5.0.0 in benefit shared package
  frontend/benefit/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: bump hds-react to 5.0.0 in Kesaseteli handler UI
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/pages/login.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): use shared cookie consent settings
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

docs(ks,shared): clarify cookie consent and Matomo comments
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): use IconSize for hds icons in shared ui
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.tsx
  frontend/shared/src/components/messaging/Message.tsx
  frontend/shared/src/components/pages/ErrorPage.tsx
  frontend/shared/src/components/table/Table.tsx
  frontend/shared/src/components/table/utils.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): migrate SaveFormButton to HDS ButtonProps
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): replace string default for notification size
  frontend/shared/src/components/pages/NotificationPage.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): type LinkButton for supplementary variant
  frontend/shared/src/components/link-button/LinkButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react to 5.0.0 in kesaseteli youth UI
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor: migrate shared UI to hds-react v5
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
  frontend/shared/.prettierrc.json
  frontend/shared/browser-tests/utils/random.utils.ts
  frontend/shared/browser-tests/utils/request-logger.ts
  frontend/shared/package.json
  frontend/shared/src/components/application-wizard/ApplicationWizard.tsx
  frontend/shared/src/components/attachments/UploadAttachment.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/link-button/LinkButton.sc.ts
  frontend/shared/src/components/modal/Modal.tsx
  frontend/shared/src/components/pages/NotificationPage.tsx
  frontend/shared/src/components/toast/ToastContainer.tsx
  frontend/shared/src/hooks/useCookieConsent.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/i18n/get-server-side-translations.ts
  frontend/shared/src/styles/fonts.ts
  frontend/shared/src/utils/application.utils.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
  frontend/shared/src/utils/file.utils.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react from 3.11.0 to 5.0.0 in benefit applicant UI
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/public/assets/siteSettings.json
  frontend/benefit/applicant/src/components/applications/NoApplications.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationAccordionItem.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationDeleteModal.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationFormContainer.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationPage.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/ExpandableApplicationList.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListContents.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListItem.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/ConsentViewer.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/DeMinimisAidForm.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/list/DeMinimisAidsList.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step4/ApplicationFormStep4.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/stepperActions/StepperActions.tsx
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/benefit/applicant/src/components/decisions/DecisionsApplicationList.tsx
  frontend/benefit/applicant/src/components/errorPage/ErrorPage.tsx
  frontend/benefit/applicant/src/components/footer/Footer.tsx
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.tsx
  frontend/benefit/applicant/src/components/notificationView/NotificationView.tsx
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/applicant/src/components/prerequisiteReminder/PrerequisiteReminder.tsx
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/applicant/src/pages/index.tsx
  frontend/benefit/applicant/src/pages/login.tsx
  frontend/benefit/applicant/src/utils/common.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(shared): update AttachmentsList for hds-react v5
  frontend/shared/src/components/attachments/AttachmentsList.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(frontend): use ButtonVariant for HDS v5 buttons
  frontend/benefit/applicant/src/components/applications/forms/application/step4/ApplicationFormStep4.tsx
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): hds 5 compatibility for tags and uploads
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationReview/consentView/consentActions/ConsentActions.tsx
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeActions/EmployeeActions.tsx
  frontend/benefit/handler/src/components/applicationReview/employmentView/employmentActions/EmploymentActions.tsx
  frontend/benefit/handler/src/components/statusLabel/StatusLabel.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli-frontends): resolve employer and handler build issues
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/benefit/handler/src/components/applicationForm/companySearch/CompanySearch.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/hooks/useChangeEmployerAssurance.ts
  frontend/benefit/handler/src/pages/login.tsx
  frontend/benefit/shared/src/__tests__/validation.test.ts
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.sc.ts
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/benefit/shared/src/components/alterationForm/utils/validation.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.sc.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/benefit/shared/src/components/statusIcon/StatusIcon.sc.ts
  frontend/benefit/shared/src/utils/forms.ts
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/hocs/__tests__/withOrganisation.test.tsx
  frontend/kesaseteli/employer/src/hocs/withOrganisation.tsx
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/src/components/cookieSettings/CookieSettings.tsx
  frontend/kesaseteli/shared/src/hooks/useCurrentYearSummerVoucherConfig.tsx
  frontend/kesaseteli/youth/src/components/additional-info-form/AdditionalInfoForm.tsx
  frontend/kesaseteli/youth/src/components/youth-form/TargetGroupSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthApplication.tsx
  frontend/shared/src/components/attachments/UploadAttachment.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.utils.test.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/hooks/useLeaveConfirm.ts
  frontend/shared/src/styles/theme.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(frontend): tune test coverage scope
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
  frontend/jest.config.js
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/youth/jest.config.js
  frontend/kesaseteli/youth/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(handler): migrate HandlingStep2 select and template mapping
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/__tests__/HandlingStep2.test.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(handler): update select API and add calculator view tests
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/__tests__/SalaryBenefitCalculatorView.test.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(browser): stabilize benefit browser tests
  frontend/benefit/applicant/browser-tests/page-model/step3.ts
  frontend/benefit/applicant/browser-tests/page-model/step4.ts
  frontend/benefit/applicant/browser-tests/utils/attachmentSelectors.ts
  frontend/benefit/handler/browser-tests/pages/4-make-decision.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/8-create-alteration-errors.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(frontend): stabilize unit tests after HDS 5.0.0 upgrade
  frontend/benefit/applicant/src/components/applications/alteration/AlterationAccordionItem.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationDeleteModal.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationFormContainer.tsx
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationAccordionItem.test.tsx
  frontend/benefit/handler/src/components/alteration/AlterationFormContainer.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingConfirmationModal.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/editAction/EditAction.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationCancelModal.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationDeleteModal.tsx
  frontend/benefit/handler/src/components/applicationReview/notificationView/NotificationView.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterCompletion.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterDraft.tsx
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/youth/src/__tests__/index.base.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-additional-info-page-api.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/components/attachments/UploadAttachment.tsx
  frontend/shared/src/components/button/Button.tsx
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/link-button/LinkButton.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(handler): update decision accordion label selector
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit-shared): improve Sonar quality with unit tests
  frontend/benefit/handler/src/components/alteration/AlterationFormContainer.tsx
  frontend/benefit/shared/jest.config.js
  frontend/benefit/shared/package.json
  frontend/benefit/shared/sonar-project.properties
  frontend/benefit/shared/src/__tests__/utils/render-component.tsx
  frontend/benefit/shared/src/components/alterationForm/AlterationForm.tsx
  frontend/benefit/shared/src/components/alterationForm/__tests__/AlterationForm.test.tsx
  frontend/benefit/shared/src/components/alterationForm/utils/__tests__/validation.test.ts
  frontend/benefit/shared/src/components/alterationForm/utils/validation.ts
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/benefit/shared/src/components/decisionSummary/__tests__/DecisionSummary.test.tsx
  frontend/benefit/shared/src/context/__tests__/AlterationFormProvider.test.tsx
  frontend/benefit/shared/src/jest.d.ts
  frontend/benefit/shared/src/utils/__tests__/common.test.ts
  frontend/benefit/shared/src/utils/__tests__/dates.test.ts
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
  frontend/benefit/shared/src/utils/__tests__/forms.test.ts
  frontend/benefit/shared/src/utils/forms.ts
  frontend/benefit/shared/test/i18n/i18n-test.ts
  frontend/benefit/shared/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
