Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat: consolidate change history to a single list
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/services/change_history.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: test applican and attachment changes
  backend/benefit/applications/tests/test_application_change_sets.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: move change history test code to it's own file
  backend/benefit/applications/tests/test_application_change_sets.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: remove applicant specific ChangeSetList, use single data list
  frontend/benefit/handler/src/components/sidebar/ChangeList.tsx
  frontend/benefit/handler/src/components/sidebar/ChangeListApplicant.tsx
  frontend/benefit/handler/src/components/sidebar/ChangeSet.tsx
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/handler/src/types/changes.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: HL 1453 ahjo retry and other fixes (#3414)
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/jobs/hourly/hourly_ahjo_job.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/migrations/0085_alter_ahjostatus_status.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/ahjo_application_service.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_authentication.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_ahjo_requests.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use submitted_at attribute in ahjo payload
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: retry command call and settings
  backend/benefit/applications/jobs/hourly/hourly_ahjo_job.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: submitted_at date for csv reports
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/test_applications_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove now built-in "next-transpile-modules" package
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/tet/admin/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: bump express version
  frontend/audit-ci.jsonc
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add matomo tracking, cookie consent component TETP-227
  .env.tet.example
  frontend/tet/youth/next-env.d.ts
  frontend/tet/youth/package.json
  frontend/tet/youth/public/locales/en/common.json
  frontend/tet/youth/public/locales/fi/common.json
  frontend/tet/youth/public/locales/sv/common.json
  frontend/tet/youth/src/components/cookieConsent/CookieConsent.tsx
  frontend/tet/youth/src/components/footer/Footer.tsx
  frontend/tet/youth/src/pages/_app.tsx
  frontend/tet/youth/src/pages/cookie-settings.tsx
  frontend/tet/youth/src/pages/index.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fixing lint errors TETP-227
  frontend/tet/youth/src/components/cookieConsent/CookieConsent.tsx
  frontend/tet/youth/src/pages/_app.tsx
  frontend/tet/youth/src/pages/cookie-settings.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fixing lint errors TETP-227
  frontend/tet/youth/src/components/cookieConsent/CookieConsent.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add talpa status and decision date to apps which are "in payment" state
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/calculator/api/v1/serializers.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: retry command call and settings (#3442)
  backend/benefit/applications/jobs/hourly/hourly_ahjo_job.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: generate cloned image as it would be uploaded
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: expose calculated_benefit_amount for old ahjo path as well
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: there was never a calculation object in applicant side
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add talpa status and decision date to apps which are "in payment" state (#3444)
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/calculator/api/v1/serializers.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: only one row per application on csv report
  backend/benefit/applications/services/applications_power_bi_csv_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use compact_list query parameter for csv
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: fronted button for compact report
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/src/components/applicationReports/ApplicationReports.tsx
  frontend/benefit/handler/src/components/applicationReports/ReportsSection.tsx
  frontend/benefit/handler/src/components/applicationReports/useApplicationReports.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: remove decimals from alteration sum (#3436)
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationAccordionItem.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: status change to handling would fail when pay subsidy not_granted and apprenticeship off
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: only include alteration amounts more than 20€
  backend/benefit/applications/services/applications_power_bi_csv_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: broken test caused by removing currency decimals
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fixup! Merge branch 'main' into hl-1276
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: resolve issues in alteration sum for the applicant (hl-1504 cont.) (#3446)
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: use company.name instead of app.company_name
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/services/pdf_templates/benefit_template.html
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
