Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

chore(ks,backend): add docstrings to OpenAPI views and CSP helper
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/common/openapi_views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): move email preview permissions-policy test
  backend/kesaseteli/applications/tests/test_permissions_policy.py
  backend/kesaseteli/common/tests/test_permissions_policy.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add EXCLUDE_2026_EXCEL_FIELDS feature flag
  .env.kesaseteli-backend.example
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): ensure get_mock returns the session-based company
  backend/kesaseteli/companies/api/v1/views.py
  backend/kesaseteli/companies/tests/test_company_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): replace dynamic year derivation with static range
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/__tests__/ApplicationTableFilterBar.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): add pagination and restructure table
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContext.ts
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableHeader.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/__tests__/ApplicationTableFilterBar.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/index.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/__tests__/DashboardFilterBar.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): add year filtering to employer dashboard
  backend/kesaseteli/applications/tests/test_applications_api.py
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/hooks/application/useLoadDraftOrCreateNewApplication.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): scope keepPreviousData to pagination only
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useApplicationsQuery.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

style(ks,employer): fix lint errors
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useApplicationsQuery.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

deps(ks,frontend): bump kesaseteli direct dependencies
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks,frontend): pin hds-react to 5.0.0 after 5.1+ ci failure
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): increase axios timeout
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): update readme
  frontend/benefit/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): update readme to trigger release-please
  frontend/benefit/handler/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): restore and move 2026 columns to end of Talpa Excel
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): enable target group calculation status in Talpa Excel
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): skip redundant logout logs for already logged out users
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): send only the current summer voucher in PUT payload
  frontend/kesaseteli/employer/src/components/application/steps/step1/Step1EmployerAndEmployment.tsx
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): redirect to 404 page when application ID is not found
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationQuery.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): add dashboard edit button, split cancel from delete
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,employer): add browser tests for edit and delete flows
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): using at() as a preferred array lookup
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): resolve floating promises lint errors
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable/ApplicationTableContent.tsx
Due: pipelines/yjdh-tet-api-dev.yml

docs(ks,handler): establish architectural docs and configurations
  .env.kesaseteli-handler.example
  frontend/Dockerfile
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/handler/docs/ARCHITECTURE.md
  frontend/kesaseteli/handler/docs/CLAUDE.md
  frontend/kesaseteli/handler/docs/DESIGN.md
  frontend/kesaseteli/handler/next.config.js
  frontend/kesaseteli/handler/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): secure youth applications listing and linked employer APIs
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/common/tests/test_permissions_policy.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
