Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

test(benefit): isolate media and PDF test dependencies
  backend/benefit/applications/tests/conftest.py
  backend/benefit/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove vulnerable ecdsa dependency
  backend/benefit/pyproject.toml
  backend/benefit/users/tests/keys.py
  backend/benefit/users/tests/test_gdpr_api.py
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(frontend): correct applicant README typo
  frontend/benefit/applicant/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build(ks,docker): install uv and use uv sync instead of pip install
  backend/docker/kesaseteli.Dockerfile
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): upgrade urllib3 for security fixes
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(benefit): use uv backend workflow
  .github/workflows/bf-backend-ci.yml
  release-please-config.json
Due: none

build(ks,uv): migrate dependency management from pip-tools to uv
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/README.md
  backend/kesaseteli/pyproject.toml
  backend/kesaseteli/requirements-dev.in
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements-prod.in
  backend/kesaseteli/requirements-prod.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/kesaseteli/scripts/README.md
  backend/kesaseteli/sonar-project.properties
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/kesaseteli/uv.lock
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add style-only commits to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: pipelines/yjdh-tet-api-dev.yml

build(benefit,uv): migrate dependency management from pip-tools to uv
  .gitignore
  .husky/README.md
  backend/README.md
  backend/benefit/README.md
  backend/benefit/pyproject.toml
  backend/benefit/requirements-dev.in
  backend/benefit/requirements-dev.txt
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade Python dependencies
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/pyproject.toml
  backend/benefit/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(backend): pass Sonar token to reusable workflows
  .github/workflows/bf-backend-ci.yml
  .github/workflows/ks-backend-ci.yml
Due: none

fix(backend): protect dependency metadata in Docker images
  backend/docker/benefit.Dockerfile
  backend/docker/kesaseteli.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(ks): use uv backend workflow
  .github/workflows/ks-backend-ci.yml
  release-please-config.json
Due: none

build(backend): validate uv locks in pre-commit
  .pre-commit-config.yaml
Due: pipelines/yjdh-tet-api-dev.yml

build(benefit,docker): install uv and use uv sync instead of pip install
  backend/.dockerignore
  backend/docker/benefit.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(backend): align project versions with release manifest
  backend/benefit/pyproject.toml
  backend/benefit/uv.lock
  backend/kesaseteli/pyproject.toml
  backend/kesaseteli/uv.lock
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): load root dotenv fallback
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(backend): exclude local virtualenvs from translation compilation
  backend/benefit/docker-entrypoint.sh
  backend/kesaseteli/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: change Dependabot to use uv
  .github/dependabot.yml
Due: none

fix: make request_payslip include older application start_dates
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: skip shared pipeline pre-commit
  .github/workflows/bf-backend-ci.yml
  .github/workflows/ks-backend-ci.yml
  .github/workflows/pre-commit.yml
Due: none

ci: add separate pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none
