Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

azure-pipelines/helsinkilisa-review.yml:

#
# Review pipeline. Run build and deploy for Platta test environments.
# Pipeline runs different tests e.g. unittest and browser tests.
#
# Continuous integration (CI) triggers cause a pipeline to run whenever you push
# an update to the specified branches or you push specified tags.
# only PR trigger pipeline
trigger: none

# Pull request (PR) triggers cause a pipeline to run whenever a pull request is
# opened with one of the specified target branches, or when updates are made to
# such a pull request.
#
# GitHub creates a new ref when a pull request is created. The ref points to a
# merge commit, which is the merged code between the source and target branches
# of the pull request.
#
# Opt out of pull request validation
pr:
  # PR target branch
  branches:
    include:
      - main
  paths:
    include:
      - azure-pipelines/helsinkilisa-review.yml
      - backend/docker/benefit.Dockerfile
      - backend/benefit/**
      - backend/shared/**
      - frontend/*
      - frontend/benefit/**
      - frontend/shared/**
    exclude:
      - README.md
      - backend/kesaseteli/**
      - backend/tet/**
      - frontend/kesaseteli/**
      - frontend/tet/**
      - frontend/**/browser-tests
      - frontend/**/__tests__

# By default, use self-hosted agents
pool: Default

resources:
  repositories:
    # Azure DevOps repository
    - repository: yjdh-helsinkilisa-pipelines
      type: git
      # Azure DevOps project/repository
      name: yjdh-helsinkilisa/yjdh-helsinkilisa-pipelines

extends:
  # Filename in Azure DevOps Repository (note possible -ui or -api)
  # Django example: azure-pipelines-PROJECTNAME-api-release.yml
  # Drupal example: azure-pipelines-drupal-release.yml
  template:
    azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    # Application build arguments and config map values as key value pairs.
    # The values here will override the values defined in the yjdh-benefit-pipelines repository.
    # for example
  parameters:
    configMap: # pod environment variables
      LOAD_DEFAULT_TERMS: 1
      LOAD_FIXTURES: 1
    # buildArgs:
    #   NEXT_PUBLIC_DEBUG: 0

azure-pipelines/kesaseteli-api-review.yml:

#
# Review pipeline. Run build and deploy for Platta test environments.
# Pipeline runs different tests e.g. unittest and browser tests.
#
# Continuous integration (CI) triggers cause a pipeline to run whenever you push
# an update to the specified branches or you push specified tags.
# only PR trigger pipeline
trigger: none

# Pull request (PR) triggers cause a pipeline to run whenever a pull request is
# opened with one of the specified target branches, or when updates are made to 
# such a pull request.
#
# GitHub creates a new ref when a pull request is created. The ref points to a 
# merge commit, which is the merged code between the source and target branches 
# of the pull request.
#
# Opt out of pull request validation 
pr:
  # PR target branch
  branches:
    include:
    - develop
  paths:
    include:
      - backend/kesaseteli/**
      - backend/shared/**
    exclude:
      - README.md

# By default, use self-hosted agents
pool: Default

resources:
  repositories:
  # Azure DevOps repository
  - repository: yjdh-kesaseteli-pipelines
    type: git
    # Azure DevOps project/repository
    name: yjdh/yjdh-kesaseteli-pipelines

extends:
  # Filename in Azure DevOps Repository (note possible -ui or -api)
  # Django example: azure-pipelines-PROJECTNAME-api-release.yml
  # Drupal example: azure-pipelines-drupal-release.yml
  template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

fix: incorrect iban generation; kiss with file uploads
  frontend/kesaseteli/employer/_uploads_/sample1.pdf
  frontend/kesaseteli/employer/_uploads_/sample2.pdf
  frontend/kesaseteli/employer/_uploads_/sample3.pdf
  frontend/kesaseteli/employer/_uploads_/sample4.pdf
  frontend/kesaseteli/employer/_uploads_/sample5.pdf
  frontend/kesaseteli/employer/_uploads_/sample6.pdf
  frontend/kesaseteli/employer/_uploads_/sample7.pdf
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step2.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step3.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
Due: none

Hl 1306 admin changes (#3048)
  backend/benefit/applications/admin.py
  backend/shared/shared/audit_log/admin.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

fix: incorrect iban generation; kiss with file uploads (#3057)
  frontend/kesaseteli/employer/_uploads_/sample1.pdf
  frontend/kesaseteli/employer/_uploads_/sample2.pdf
  frontend/kesaseteli/employer/_uploads_/sample3.pdf
  frontend/kesaseteli/employer/_uploads_/sample4.pdf
  frontend/kesaseteli/employer/_uploads_/sample5.pdf
  frontend/kesaseteli/employer/_uploads_/sample6.pdf
  frontend/kesaseteli/employer/_uploads_/sample7.pdf
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step2.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step3.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
Due: none

feat(applicant): display chat icon in app view for statuses "accepted", "rejected" (hl-1292) (#3046)
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/header/useHeader.ts
Due: azure-pipelines/helsinkilisa-review.yml

fix: typo in translation key
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml

fix: prevent app from crashing if application does not have a batch
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: linting issues
  frontend/shared/src/utils/date.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml

fix: date picking fails on month change
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
Due: none

feat: change failure response to ahjo as 200 ok (#3054)
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: run ahjo decision details requests hourly (#3049)
  backend/benefit/applications/jobs/hourly/hourly_ahjo_job.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: new ahjo_status after receiving details
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: proposal_for_decision after details request
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_application_tasks.py
  backend/benefit/applications/tests/test_models.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: move fixtures to conftest
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_models.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: possibly final ahjo status for application
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0072_alter_ahjostatus_status.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: conflicting migrations
  backend/benefit/applications/migrations/0073_alter_ahjostatus_status.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: update ahjo status after decision details request success (#3059)
  backend/benefit/applications/enums.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/migrations/0073_alter_ahjostatus_status.py
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_application_tasks.py
  backend/benefit/applications/tests/test_models.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: update_or_create failed on encrypted fields
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: remove obsolete USE_L10N setting
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: update Django to 4.2 LTS
  .env.benefit-backend.example
  backend/benefit/README.md
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml

chore: add protocol in CSRF_TRUSTED_ORIGINS
  .env.benefit-backend.example
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: failing tests
  backend/shared/shared/oidc/tests/conftest.py
  backend/shared/shared/oidc/tests/test_auth_backend.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

chore: update readme
  backend/README.md
Due: none

feat: message has seen by applicant check mark and text
  frontend/benefit/handler/src/components/sidebar/Messages.tsx
  frontend/benefit/shared/src/types/application.d.ts
  frontend/shared/src/components/messaging/Message.tsx
  frontend/shared/src/components/messaging/Messaging.sc.tsx
Due: azure-pipelines/helsinkilisa-review.yml

chore: expose seen_by_applicant
  backend/benefit/messages/serializers.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: add translation
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml

fix: do not display ahjo ui button in production
  frontend/benefit/handler/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml

chore: update Django to 4.2 LTS (#2911)
  .env.benefit-backend.example
  backend/README.md
  backend/benefit/README.md
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/shared/shared/oidc/tests/conftest.py
  backend/shared/shared/oidc/tests/test_auth_backend.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

test: fix GDPR API tests
  backend/benefit/users/tests/test_gdpr_api.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: change settings for new auth method
  .env.benefit-backend.example
  backend/benefit/helsinkibenefit/settings.py
  backend/shared/shared/helsinki_profile/hp_client.py
  backend/shared/shared/oidc/auth.py
  backend/shared/shared/oidc/views/eauth_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

chore: migrate benefit customer ui to new OIDC authentication (hl-1225) (#2970)
  .env.benefit-backend.example
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/users/tests/test_gdpr_api.py
  backend/shared/shared/helsinki_profile/hp_client.py
  backend/shared/shared/oidc/auth.py
  backend/shared/shared/oidc/views/eauth_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

feat(handler): add seen by applicant in the messaging bar (#2989)
  backend/benefit/messages/serializers.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/header/Header.tsx
  frontend/benefit/handler/src/components/sidebar/Messages.tsx
  frontend/benefit/shared/src/types/application.d.ts
  frontend/shared/src/components/messaging/Message.tsx
  frontend/shared/src/components/messaging/Messaging.sc.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: whitelist ip package (CVE-2024-29415)
  frontend/audit-ci.jsonc
Due: azure-pipelines/helsinkilisa-review.yml

feat: implement calculator elements for alteration handling
  frontend/benefit/applicant/src/components/applications/forms/application/alteration/AlterationForm.tsx
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/alterationHandling/useAlterationHandlingForm.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/CalculationReview.tsx
  frontend/benefit/handler/src/components/applicationReview/calculationTable/CalculationTable.sc.ts
  frontend/benefit/handler/src/components/applicationReview/calculationTable/CalculationTable.tsx
  frontend/benefit/handler/src/components/applicationReview/calculationTable/useCalculationTable.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryCalculatorResults/SalaryCalculatorHighlight.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryCalculatorResults/SalaryCalculatorResults.tsx
Due: azure-pipelines/helsinkilisa-review.yml

feat: implement calculator elements for alteration handling (#3052) (HL-1155)
  frontend/benefit/applicant/src/components/applications/forms/application/alteration/AlterationForm.tsx
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.sc.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/alterationHandling/useAlterationHandlingForm.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/CalculationReview.tsx
  frontend/benefit/handler/src/components/applicationReview/calculationTable/CalculationTable.sc.ts
  frontend/benefit/handler/src/components/applicationReview/calculationTable/CalculationTable.tsx
  frontend/benefit/handler/src/components/applicationReview/calculationTable/useCalculationTable.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryCalculatorResults/SalaryCalculatorHighlight.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryCalculatorResults/SalaryCalculatorResults.tsx
Due: azure-pipelines/helsinkilisa-review.yml

feat: confirmation modal and additional state checks for alteration handler
  frontend/benefit/applicant/src/components/applications/alteration/AlterationDeleteModal.tsx
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandling.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingConfirmationModal.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationSummary.tsx
  frontend/benefit/handler/src/components/alterationHandling/useAlterationHandlingForm.ts
  frontend/benefit/handler/src/components/alterationHandling/utils/validation.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationCancelModal.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationDeleteModal.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml

feat: confirmation modal and additional state checks for alteration handler (#3061) (HL-1251, HL-1252, HL-1328)
  frontend/benefit/applicant/src/components/applications/alteration/AlterationDeleteModal.tsx
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandling.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingConfirmationModal.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationSummary.tsx
  frontend/benefit/handler/src/components/alterationHandling/useAlterationHandlingForm.ts
  frontend/benefit/handler/src/components/alterationHandling/utils/validation.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationCancelModal.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationDeleteModal.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml

fix(tet): upgrade dependencies, django to 4.2
  .env.tet.example
  backend/tet/requirements-dev.in
  backend/tet/requirements-dev.txt
  backend/tet/requirements-prod.txt
  backend/tet/requirements.in
  backend/tet/requirements.txt
  backend/tet/tet/settings.py
Due: none

fix: query handled applications for open case (#3051)
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: en language in ahjo requests
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml
