Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix: Application status is already change to HANDLING when showing notification
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Application status is already change to HANDLING when showing notification (#3651)
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: In application cloning force origin to be applicant
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix:Use APPLICANT as source of test application
  backend/benefit/applications/tests/test_application_clone.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix:lower case to upper
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix:added .
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix:Imports are incorrectly sorted
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: In application cloning force origin to be applicant (#3653)
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/tests/test_application_clone.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: Hl 1573 maintenance improvements (#3650)
  backend/benefit/.prod/uwsgi.ini
  backend/benefit/calculator/rules.py
  backend/benefit/helsinkibenefit/settings.py
  frontend/Dockerfile-localdevelopment
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: always have applicant origin as applicant if not full clone
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add first instalment listing to endpoint
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: rename pendingInstalment to secondInstalment
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/InstalmentAccordionSections.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/useInstalmentAccordionSections.ts
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove empty file
  backend/benefit/applications/api/v1/instalment_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: ui to recover from first instalment talpa failure
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/TalpaStatusChangeDialog.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/InstalmentAccordionSections.tsx
  frontend/benefit/handler/src/hooks/useInstalmentStatusTransition.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: handle logic for both instalments when status changes
  backend/benefit/calculator/api/v1/views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: enable turbopack on local development
  frontend/Dockerfile-localdevelopment
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: lint issue with switch case
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: ui to recover from first instalment talpa error (hl-1582) (#3654)
  backend/benefit/applications/api/v1/instalment_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/services/clone_application.py
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/TalpaStatusChangeDialog.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/InstalmentAccordionSections.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/useInstalmentAccordionSections.ts
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/hooks/useInstalmentStatusTransition.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: should archive always if only 1 payment is done
  backend/benefit/calculator/api/v1/views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: wrong condition, should check instalments count
  backend/benefit/calculator/api/v1/views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: missing return statement for instalment number 2
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/calculator/api/v1/views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: app and batch status updates after talpa fail
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: app and batch status updates after talpa fail (#3656)
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add matomo tracking, cookie consent component TETP-277
  .env.tet.example
  frontend/tet/youth/package.json
  frontend/tet/youth/public/locales/en/common.json
  frontend/tet/youth/public/locales/fi/common.json
  frontend/tet/youth/public/locales/sv/common.json
  frontend/tet/youth/src/components/cookieConsent/CookieConsent.tsx
  frontend/tet/youth/src/components/cookieConsent/useCookieConsent.ts
  frontend/tet/youth/src/components/footer/Footer.tsx
  frontend/tet/youth/src/pages/_app.tsx
  frontend/tet/youth/src/pages/cookie-settings.tsx
  frontend/tet/youth/src/pages/index.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: frontend Dockerfile include matomo envs TETP-277
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: allow next package in audit
  frontend/audit-ci.jsonc
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: add 2nd instalment status transition test
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

test: test talpa error resolution by handler
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore: add fixtures for talpa status tests
  backend/benefit/applications/fixtures/test_applications.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: missing batch status
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: lint header
  frontend/shared/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: set proper 1st instalment status
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/src/components/applicationList/TalpaStatusChangeDialog.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: force new ahjo mode
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

test: add tests for talpa status and instalment error resolution (hl-1588) (#3658)
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/TalpaStatusChangeDialog.tsx
  frontend/benefit/shared/src/constants.ts
  frontend/shared/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: missing translation key
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: show mode selector on production, no time to strip away old ui
  frontend/benefit/handler/src/components/header/Header.tsx
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: lint header
  frontend/shared/browser-tests/page-models/Header.ts
Due: pipelines/yjdh-tet-api-dev.yml
