Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

feat(kesaseteli): update summer voucher price for year 2024 to 350e
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/templates/images/youth_summer_voucher-325e-en.png
  backend/kesaseteli/applications/templates/images/youth_summer_voucher-325e-fi.png
  backend/kesaseteli/applications/templates/images/youth_summer_voucher-325e-sv.png
  backend/kesaseteli/applications/templates/images/youth_summer_voucher-350e-en.png
  backend/kesaseteli/applications/templates/images/youth_summer_voucher-350e-fi.png
  backend/kesaseteli/applications/templates/images/youth_summer_voucher-350e-sv.png
  backend/kesaseteli/applications/templates/youth_summer_voucher_email.html
  backend/kesaseteli/applications/templates/youth_summer_voucher_email.txt
  backend/kesaseteli/applications/tests/test_excel_export.py
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: azure-pipelines/kesaseteli-api-review.yml

feat(kesaseteli): update salary to 500e & year to 2024 in voucher email
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/templates/youth_summer_voucher_email.html
  backend/kesaseteli/applications/templates/youth_summer_voucher_email.txt
Due: azure-pipelines/kesaseteli-api-review.yml

feat: change history service (HL-1061)
  backend/benefit/applications/migrations/0047_historicalemployee.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/change_history.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: upgrade django_simple_history 3.2.0 -> 3.4.0 (HL-1061)
  backend/benefit/applications/migrations/0047_historicalemployee.py
  backend/benefit/applications/services/change_history.py
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml

feat: specify Excel exporter's salary & sum fields as €, cast sum as int
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml

feat: finalize change history service (HL-1061)
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/migrations/0048_historicalattachment_historicalemployee.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/change_history.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: remove duplicate employee history
  backend/benefit/applications/migrations/0048_historicalattachment_historicalemployee.py
  backend/benefit/applications/migrations/0053_historicalattachment.py
  backend/benefit/applications/models.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: add missing migration
  backend/benefit/applications/migrations/0054_alter_historicalattachment_attachment_type.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: code style
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: Add navigation and a new page for processed applications
  frontend/benefit/applicant/browser-tests/page-model/MainIngress.ts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/applicant/src/components/header/useHeader.ts
  frontend/benefit/applicant/src/components/mainIngress/MainIngress.sc.ts
  frontend/benefit/applicant/src/components/mainIngress/MainIngress.tsx
  frontend/benefit/applicant/src/components/mainIngress/decisions/DecisionsMainIngress.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.sc.ts
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/useFrontPageMainIngress.ts
  frontend/benefit/applicant/src/components/mainIngress/useMainIngress.ts
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/applicant/src/context/AppContext.tsx
  frontend/benefit/applicant/src/context/AppContextProvider.tsx
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/applicant/src/pages/decisions.tsx
  frontend/benefit/applicant/src/pages/index.tsx
Due: azure-pipelines/helsinkilisa-review.yml

feat(kesaseteli): update target groups for year 2024, update tests
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/test_factories.py
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/youth/browser-tests/youth-application.testcafe.ts
Due: azure-pipelines/kesaseteli-api-review.yml

feat: application change history (HL-1061) (#2674)
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/migrations/0053_historicalattachment.py
  backend/benefit/applications/migrations/0054_alter_historicalattachment_attachment_type.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/change_history.py
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml

chore: route change /new-application to /application/new
  frontend/benefit/handler/browser-tests/pages/new-application.testcafe.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/mainIngress/MainIngress.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/pages/application/new/index.tsx
Due: azure-pipelines/helsinkilisa-review.yml

refactor: hoist another FC out of parent component's scope
  frontend/benefit/handler/src/components/newApplication/formContent/companySection/CompanySection.tsx
Due: azure-pipelines/helsinkilisa-review.yml

feat(kesaseteli): update year 2024's target groups' ages in frontend
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
Due: none

feat: improve error handling
  frontend/benefit/applicant/src/hooks/useFormActions.tsx
  frontend/benefit/handler/src/hooks/useFormActions.tsx
  frontend/benefit/handler/src/hooks/useUpdateApplicationQuery.ts
  frontend/benefit/shared/src/utils/errors.ts
Due: azure-pipelines/helsinkilisa-review.yml

feat: show application header if it is edited
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: lint batch file that was missing previously
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterCompletion.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: increase margin of application header as in design
  frontend/benefit/handler/src/components/applicationHeader/ApplicationHeader.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml

fix: allow update action even if calculation is not complete
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/enums.py
  backend/benefit/calculator/api/v1/serializers.py
  frontend/benefit/handler/src/components/applicationReview/actions/editAction/EditAction.tsx
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/hooks/useFormActions.tsx
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml

test: submit handler-created form
  frontend/benefit/handler/browser-tests/pages/new-application.testcafe.ts
Due: none

feat: add edit buttons for each review section
  frontend/benefit/handler/src/components/applicationReview/benefitView/BenefitView.tsx
  frontend/benefit/handler/src/components/applicationReview/coOperationNegotiationsView/CoOperationNegotiationsView.tsx
  frontend/benefit/handler/src/components/applicationReview/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/handler/src/components/applicationReview/contactPersonView/ContactPersonView.tsx
  frontend/benefit/handler/src/components/applicationReview/deminimisView/DeminimisView.tsx
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeView.tsx
  frontend/benefit/handler/src/components/applicationReview/employmentView/EmpoymentView.tsx
  frontend/benefit/handler/src/components/applicationReview/paperView/PaperView.tsx
  frontend/benefit/handler/src/components/reviewSection/ReviewSection.sc.ts
  frontend/benefit/handler/src/components/reviewSection/ReviewSection.tsx
Due: azure-pipelines/helsinkilisa-review.yml

test: write browser test to edit application
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/2-edit-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/sample2.pdf
Due: none

feat: add and update translations
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml

fix: working hours review had wrong i18n key for value
  frontend/benefit/handler/src/components/applicationReview/employmentView/EmpoymentView.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: isLivingInHelsinki render used another prop's value
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade nock for lodash.set, whitelist lodash.pick for HDS
  frontend/audit-ci.jsonc
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade nock for lodash.set, whitelist lodash.pick for HDS (#2770)
  frontend/audit-ci.jsonc
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

feat: query for rejected_by_talpa batches and show talpa_status icon for each app (#2743)
  backend/benefit/applications/api/v1/serializers/batch.py
  backend/benefit/applications/api/v1/status_transition_validator.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/batchProcessing/BatchApplicationList.tsx
  frontend/benefit/handler/src/components/batchProcessing/batchFooter/BatchFooterCompletion.tsx
  frontend/benefit/handler/src/components/batchProcessing/useBatches.ts
  frontend/benefit/handler/src/pages/batches/index.tsx
  frontend/benefit/handler/src/types/batchList.d.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml

fix: move MannerOfReceipt into the record dict
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: don't autocomplete youth/employee's personally identifiable fields
  frontend/kesaseteli/employer/src/components/application/form/TextInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/accordions/EmploymentAccordion.tsx
  frontend/kesaseteli/youth/src/components/additional-info-form/AdditionalInfoForm.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthForm.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthFormFields.tsx
  frontend/shared/src/components/forms/inputs/SocialSecurityNumberInput.tsx
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/types/input-props.d.ts
Due: azure-pipelines/helsinkilisa-review.yml

feat(fetch_employee_data): add specific "Not found" error message
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: none

feat: add a command for opening cases in ahjo
  backend/benefit/applications/management/commands/open_cases_in_ahjo.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: refactored delete request and tests
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/tests/test_ahjo_requests.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: add applications with ahjo status in seeder
  backend/benefit/applications/management/commands/seed.py
Due: azure-pipelines/helsinkilisa-review.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
