Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix: suomi-fi custom redirect should validate redirect URL
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): clean target group field
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add target group field to anonymous youth form
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/SelectionGroup.tsx
  frontend/kesaseteli/handler/src/constants/data-mappings.ts
  frontend/kesaseteli/handler/src/hooks/backend/useCreateYouthApplicationWithoutSsnQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/handler/src/types/application-without-ssn-types.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): open the application automatically
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/PaidSalariesAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): test audit logging of field changes
  backend/benefit/applications/tests/test_audit_log_history_diffs.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(backend): test for deminimis csv creation
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/services/applications_deminimis_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_deminimis_integration.py
  backend/benefit/common/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): industry (tol code) to company info
  backend/benefit/applications/services/applications_deminimis_csv_report.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/companies/migrations/0006_add_industry_to_company.py
  backend/benefit/companies/migrations/0007_add_industry_code_to_company.py
  backend/benefit/companies/models.py
  backend/benefit/companies/tests/factories.py
  backend/shared/shared/service_bus/service_bus_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): deminimis integration callback
  backend/benefit/applications/api/v1/deminimis_integration_views.py
  backend/benefit/applications/api/v1/serializers/deminimis_callback.py
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/tests/test_ahjo_payload.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): deminimis callback integration test
  backend/benefit/applications/tests/test_deminimis_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): draft application selection
  backend/kesaseteli/applications/api/v1/serializers.py
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUpdateApplicationQuery.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add doctoc to pre-commit hook
  .husky/pre-commit
  README.md
  backend/README.md
  backend/benefit/README.md
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/README.md
  backend/kesaseteli/applications/templates/email/README.md
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/shared/README.md
  backend/shared/shared/audit_log/README.md
  backend/shared/shared/azure_adfs/README.md
  backend/shared/shared/ytj/README.md
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/applicant/README.md
  frontend/benefit/handler/README.md
  frontend/kesaseteli/README.md
  frontend/kesaseteli/employer/README.md
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/youth/README.md
  package.json
  yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): run commitlint in pre-commit hook
  .husky/commit-msg
  commitlint.config.mjs
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add typechecking to pre-commit hook
  frontend/.lintstagedrc.js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/package.json
  frontend/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add header with login and logout features
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/browser-tests/handler-form/handler-form.testcafe.ts
  frontend/kesaseteli/handler/browser-tests/page-models/LoginPage.ts
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogin.ts
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/pages/login.tsx
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs logout handling
  backend/kesaseteli/kesaseteli/admin_site.py
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test: improvements to unit tests
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): use absolute uri in admin site
  backend/kesaseteli/kesaseteli/admin_site.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs claim mapping for email
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): override User and Group admins
  backend/kesaseteli/kesaseteli/admin.py
  backend/kesaseteli/kesaseteli/admin_site.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): custom logout handler to fix next-url handling
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): auth-adfs should support redirecting to front services
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_hki_views.py
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add adfs auth related configuration
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: reuse mozillas oidc auth related config and utils
  .env.kesaseteli-backend.example
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/views.py
  backend/shared/shared/common/tests/test_utils.py
  backend/shared/shared/common/utils.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_utils.py
  backend/shared/shared/oidc/utils.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump pygments from 2.19.2 to 2.20.0
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: fix flaky test_prepare_top_level_dict
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump werkzeug from 3.1.3 to 3.1.6
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump pip from 25.3 to 26.0.1
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump wheel from 0.45.1 to 0.46.3
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump requests from 2.32.5 to 2.33.1
  backend/benefit/requirements-dev.txt
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): show note for additional info if foreign IBAN
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/foreign-iban.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/hooks/application/useIsForeignIban.ts
  frontend/shared/src/components/attachments/AttachmentsList.tsx
  frontend/shared/src/components/forms/inputs/TextInput.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump urllib3 from 2.5.0 to 2.6.3
  backend/benefit/requirements-dev.txt
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): handle AD authentication timeout gracefully
  backend/kesaseteli/applications/tests/test_handler_auth_decorator.py
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/common/decorators.py
  backend/kesaseteli/common/tests/test_decorators.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
