Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(ks,handler): add employer application action buttons
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerActionButtons.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerActionButtons.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useCompleteEmployerApplicationQuery.ts
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/handler/src/types/employer-complete-operation.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add handler accept and reject logic for employer applications
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,youth): test test test browser tests WIP DO NOT MERGE!
  frontend/kesaseteli/youth/src/pages/_app.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,shared): fix youth UI browser tests by assigning handler
  frontend/kesaseteli/shared/browser-tests/page-models/HandlerForm.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit-handler): preserve rapid consent selections
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/src/components/applicationForm/__tests__/useApplicationForm.test.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/useApplicationForm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: separate batch query cache entries
  frontend/benefit/handler/src/hooks/__tests__/useBatchQuery.test.ts
  frontend/benefit/handler/src/hooks/useBatchQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: stabilize benefit handler browser tests
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/2-edit-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/3-edit-review.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/4-make-decision.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/6-create-alteration.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/9-cancel-handled-alteration.testcafe.ts
  frontend/benefit/handler/browser-tests/utils/alteration.ts
  frontend/benefit/handler/browser-tests/utils/application.ts
  frontend/benefit/handler/src/components/applicationForm/companySearch/__tests__/useCompanySearch.test.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/AlterationAccordionItem.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): include active handling states in unhandled excel export
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove application_origin filter in request_payslip
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade next.js to 16.3.3
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/.eslintignore
  frontend/shared/package.json
  frontend/shared/src/server/next-build.js
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: resolve handler build failure from cross-app import
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): limit Next.js build workers
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style: add numeric separator to satisfy lint rule
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: keep applicant tests out of the production build
  frontend/benefit/applicant/src/components/cookieConsent/__tests__/CookieConsent.test.tsx
  frontend/benefit/applicant/src/components/link/__tests__/OpenInNewTabLink.test.tsx
  frontend/benefit/applicant/src/utils/__tests__/common.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

deps: remove unused eslint-config-next
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-applicant): preserve consent selections on rapid clicks
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/ApplicationFormStep6.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/useApplicationFormStep6.test.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add v1/users/me endpoint which includes is_approver
  .env.kesaseteli-backend.example
  backend/kesaseteli/README.md
  backend/kesaseteli/common/permissions.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/users/__init__.py
  backend/kesaseteli/users/api/__init__.py
  backend/kesaseteli/users/api/v1/__init__.py
  backend/kesaseteli/users/api/v1/serializers.py
  backend/kesaseteli/users/api/v1/views.py
  backend/kesaseteli/users/tests/__init__.py
  backend/kesaseteli/users/tests/conftest.py
  backend/kesaseteli/users/tests/test_user_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add endpoints for approver bulk actions
  .env.kesaseteli-backend.example
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0070_employerapplication_accepted_for_payment_at_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_payment_review_api.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): fix writing is_exported to EmployerApplication & test
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_payment_review_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): update Talpa export fields and OpenAPI schema
  backend/kesaseteli/applications/api/integration_filters.py
  backend/kesaseteli/applications/api/integration_serializers.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared,handler): add AuthProvider and approver role detection
  frontend/kesaseteli/handler/src/__tests__/utils/components/render-page.tsx
  frontend/kesaseteli/handler/src/auth/AuthProvider.tsx
  frontend/kesaseteli/handler/src/contexts/UserContext.tsx
  frontend/kesaseteli/handler/src/contexts/__tests__/UserContext.test.tsx
  frontend/kesaseteli/handler/src/hooks/__tests__/useIsApprover.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useCurrentUserQuery.ts
  frontend/kesaseteli/handler/src/hooks/useIsApprover.ts
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/shared/src/types/user.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add approver bulk action mutation hooks
  frontend/kesaseteli/handler/src/hooks/backend/useApproverAcceptForPaymentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useApproverRejectMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useApproverReturnToHandlerMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useApproverReturnToReviewMutation.ts
  frontend/kesaseteli/handler/src/types/application.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,shared,handler): implement payment approval view and navigation
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/PaymentApprovalList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/PaymentApprovalList.test.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/constants/session-storage-keys.ts
  frontend/kesaseteli/handler/src/pages/payment-approval/index.tsx
  frontend/kesaseteli/shared/src/constants/routes.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): use props object in useApplicationTableQuery
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/PaymentApprovalList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add year filter to handler application lists
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/PaymentApprovalList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/YearFilter.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
