Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(ks): always return None when user company could not be found
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): normal user should always represent some company
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): fix IntegrityError in sequentialy tests
  backend/kesaseteli/applications/tests/test_models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): replace ssn with birthdate and other misc fixes
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/ApplicationForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/__tests__/EmploymentForm.test.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/employer/src/hooks/application/usePersistFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): handler can handle applications with invalid SSN
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/VtjErrorNotification.tsx
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/VtjErrorNotification.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): encourage for full employer street address
  backend/kesaseteli/applications/migrations/0055_alter_employerapplication_street_address.py
  backend/kesaseteli/applications/models.py
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/form/TextInput.tsx
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/types/input-props.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add field to indicate VTJ-non-disclosure restriction
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0055_youthapplication_is_vtj_data_restricted.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/data/mock_vtj.py
  backend/kesaseteli/applications/tests/test_vtj_non_disclosure.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): data migration to handle vtj-restriction for history data
  backend/kesaseteli/applications/migrations/0056_backfill_vtj_restriction_status.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add VTJ-non-disclosure field to excel exporter
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/common/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): fix linting and typechecking issues
  frontend/kesaseteli/shared/.eslintrc.js
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/shared/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/components/cookieConsent/CookieConsent.tsx
  frontend/kesaseteli/shared/tsconfig.json
  frontend/shared/src/hooks/useCookieConsent.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): move VTJ-functions logic from models to services
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/test_factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): notify about VTJ -data-restriction in Handlers UI
  backend/kesaseteli/applications/api/v1/serializers.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): fix special cases handling in excel export test
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): vtj data restricted should block other notifications
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): silent loss of VTJ non-disclosure status if VTJ was disabled
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_vtj_non_disclosure.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): use IconSize for hds icons in shared ui
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.tsx
  frontend/shared/src/components/messaging/Message.tsx
  frontend/shared/src/components/pages/ErrorPage.tsx
  frontend/shared/src/components/table/Table.tsx
  frontend/shared/src/components/table/utils.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): replace string default for notification size
  frontend/shared/src/components/pages/NotificationPage.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(shared): update AttachmentsList for hds-react v5 refs: YJDH-824
  frontend/shared/src/components/attachments/AttachmentsList.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fix test for reintroduced signer section
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): reintroduce signer section
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): due date changing label fixed
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add field to indicate VTJ-non-disclosure restriction
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0056_youthapplication_is_vtj_data_restricted.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/data/mock_vtj.py
  backend/kesaseteli/applications/tests/test_vtj_non_disclosure.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): data migration to handle vtj-restriction for history data
  backend/kesaseteli/applications/migrations/0057_backfill_vtj_restriction_status.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): migrate SaveFormButton to HDS ButtonProps
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(suomifi): update suomifi metadata
  backend/shared/shared/suomi_fi/metadata/idp-metadata-secondary.xml
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to comments and fixtures
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/calculator/rules.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
