Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(frontend): limit Next.js build workers
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: remove unused eslint-config-next
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style: add numeric separator to satisfy lint rule
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: keep applicant tests out of the production build
  frontend/benefit/applicant/src/components/cookieConsent/__tests__/CookieConsent.test.tsx
  frontend/benefit/applicant/src/components/link/__tests__/OpenInNewTabLink.test.tsx
  frontend/benefit/applicant/src/utils/__tests__/common.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: resolve handler build failure from cross-app import
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
