Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(ks,handler): style attachment upload form to match notes section
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add tooltip to employer-entered address field
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerCompanyFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/handler/src/components/form/Field.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): notify on note edit and deletion
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

perf(ks): resolve N+1 query in YouthApplicationExportView
  backend/kesaseteli/applications/api/youth_application_views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): show error toast on attachment upload failure
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/utils/__tests__/attachment.utils.test.ts
  frontend/kesaseteli/handler/src/utils/attachment.utils.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add author tracking for attachments
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0066_attachment_author.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/types/HandlerEmployerApplication.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): align HDS icons with text in handler views
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/handler/src/types/HandlerEmployerApplication.ts
Due: pipelines/yjdh-tet-api-dev.yml

style(ks,handler): scope tooltip styling to Kesaseteli handler UI
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/handler/src/styles/HandlerGlobalStyle.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): remove seconds from timeline timestamps
  frontend/kesaseteli/handler/src/components/notes/NotesSectionTimeline.tsx
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add info tooltips to employer application sections
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerCompanyFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerVoucherFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/YouthInfoFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/YouthInfoSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): notify on successful attachment upload
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): use HDS SelectionGroup and accessible landmarks
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): move employer address to company info section
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerCompanyFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerPaymentFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add youth application attachments backend implementation
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/authentications.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/migrations/0067_alter_attachment_options_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
  backend/kesaseteli/common/tests/conftest.py
  backend/kesaseteli/common/tests/factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add post_delete cleanup for attachment files
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): show youth summer voucher serial number
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): backend check for existence of voucher
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): frontend for resending youth voucher
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/ResendVoucher.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): backend for resending youth voucher
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): show success toast
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/ResendVoucher.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): frontend allows notes to be modified only in 24 hours
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): rename permission class
  backend/kesaseteli/handler_notes/README.md
  backend/kesaseteli/handler_notes/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): backend allows notes to be modified only in 24 hours
  backend/kesaseteli/handler_notes/api/v1/views.py
  backend/kesaseteli/handler_notes/tests/test_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): make buttons disappear after 24 hours
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): fix readiness endpoint
  frontend/Dockerfile
  frontend/README.md
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): secure youth attachment delivery and handler uploads
  backend/kesaseteli/applications/api/v1/mixins.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_youth_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): implement youth application attachments and refactor
  frontend/kesaseteli/handler/src/components/attachments/ApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/attachments/ApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/AttachmentCommentsDialog.tsx
  frontend/kesaseteli/handler/src/components/attachments/DeleteAttachmentDialog.tsx
  frontend/kesaseteli/handler/src/components/attachments/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/YouthApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/attachments/__tests__/DeleteAttachmentDialog.test.tsx
  frontend/kesaseteli/handler/src/components/attachments/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/hooks/attachments/useAttachmentActionToasts.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/invalidateEmployerAttachmentQueries.test.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useCreateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useDeleteNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUpdateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/invalidateEmployerAttachmentQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/invalidateYouthAttachmentQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteEmployerAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteYouthAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useOpenEmployerAttachment.ts
  frontend/kesaseteli/handler/src/hooks/backend/useOpenYouthAttachment.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUploadEmployerAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUploadYouthAttachmentQuery.ts
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/types/application.ts
  frontend/kesaseteli/handler/src/utils/attachment.utils.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): show success toast when note is deleted
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(handler): add descriptive fallback text for missing values
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): add job type placeholder translation
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,frontend): deduplicate employer application status definitions
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/handler/src/types/HandlerEmployerApplication.ts
  frontend/kesaseteli/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
  frontend/kesaseteli/shared/src/types/application-status.d.ts
  frontend/kesaseteli/shared/src/types/application.d.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ahjo): retrieve original decision after appeal
  backend/benefit/applications/enums.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/migrations/0097_alter_ahjostatus_status.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_ahjo_requests.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
