Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

deps(benefit): replace black, flake8 and isort with ruff
  backend/benefit/pyproject.toml
  backend/benefit/requirements-dev.in
  backend/benefit/requirements-dev.txt
  backend/benefit/setup.cfg
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(benefit): use pre-commit to check code style
  .github/workflows/bf-py-coding-style.yml
Due: none

style(benefit): add noqa to all E501
  backend/benefit/applications/api/v1/ahjo_decision_views.py
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/api/v1/application_batch_views.py
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/api/v1/serializers/de_minimis.py
  backend/benefit/applications/api/v1/serializers/utils.py
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/benefit_aggregation.py
  backend/benefit/applications/jobs/hourly/hourly_ahjo_job.py
  backend/benefit/applications/management/commands/check_and_notify_ending_benefits.py
  backend/benefit/applications/management/commands/check_drafts_to_delete.py
  backend/benefit/applications/management/commands/delete_applications.py
  backend/benefit/applications/management/commands/seed.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/ahjo/exceptions.py
  backend/benefit/applications/services/ahjo_authentication.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/services/ahjo_xml_builder.py
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/change_history.py
  backend/benefit/applications/services/csv_export_base.py
  backend/benefit/applications/services/talpa_csv_service.py
  backend/benefit/calculator/models.py
  backend/benefit/calculator/rules.py
  backend/benefit/common/utils.py
  backend/benefit/messages/automatic_messages.py
  backend/benefit/terms/api/v1/serializers.py
  backend/benefit/terms/models.py
  backend/benefit/users/api/v1/views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(benefit): add noqa to all T201
  backend/benefit/applications/management/commands/import_archival_applications.py
  backend/benefit/applications/services/generate_application_summary.py
  backend/benefit/applications/tests/before_after.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_application_tasks.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/calculator/tests/test_handler_excel_examples.py
  backend/benefit/common/tests/test_utils.py
  backend/benefit/messages/tests/test_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): manual ruff check fixes
  backend/benefit/applications/api/v1/application_batch_views.py
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/ahjo_callback.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/api/v1/serializers/attachment.py
  backend/benefit/applications/management/commands/ahjo_base_command.py
  backend/benefit/applications/management/commands/create_proposal_drafts.py
  backend/benefit/applications/management/commands/import_archival_applications.py
  backend/benefit/applications/management/commands/refresh_ahjo_token.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/services/ahjo/exceptions.py
  backend/benefit/applications/services/ahjo_authentication.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/application_alteration_csv_report.py
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/services/clamav.py
  backend/benefit/applications/services/csv_export_base.py
  backend/benefit/applications/services/talpa_csv_service.py
  backend/benefit/applications/tests/before_after.py
  backend/benefit/applications/tests/common.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_ahjo_authentication.py
  backend/benefit/applications/tests/test_ahjo_requests.py
  backend/benefit/applications/tests/test_application_clone.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_benefit_aggregation.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/tests/test_handler_excel_examples.py
  backend/benefit/common/delay_call.py
  backend/benefit/common/utils.py
  backend/benefit/terms/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(kesaseteli): use pre-commit to check code style
  .github/workflows/ks-py-coding-style.yml
  backend/kesaseteli/pyproject.toml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(kesaseteli): replace black, flake8 and isort with ruff
  backend/kesaseteli/requirements-dev.in
  backend/kesaseteli/requirements-dev.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): docker entrypoint shellcheck fixes
  backend/kesaseteli/docker-entrypoint.sh
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): docker entrypoint shellcheck fixes
  backend/benefit/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): apply ruff automatic fixes
  backend/kesaseteli/applications/migrations/0001_initial.py
  backend/kesaseteli/applications/migrations/0005_change_encryption_library.py
  backend/kesaseteli/applications/migrations/0006_refactor_attachments.py
  backend/kesaseteli/applications/migrations/0007_model_timestamps_and_ordering.py
  backend/kesaseteli/applications/migrations/0009_add_application_user.py
  backend/kesaseteli/applications/migrations/0012_add_youthapplication_youthsummervoucher.py
  backend/kesaseteli/applications/migrations/0013_school.py
  backend/kesaseteli/applications/migrations/0014_set_default_schools.py
  backend/kesaseteli/applications/migrations/0015_set_real_schools.py
  backend/kesaseteli/applications/migrations/0016_add_youth_application_field_validation.py
  backend/kesaseteli/applications/migrations/0017_refactor_school.py
  backend/kesaseteli/applications/migrations/0019_use_employer_applications_related_name.py
  backend/kesaseteli/applications/migrations/0021_add_encrypted_vtj_json.py
  backend/kesaseteli/applications/migrations/0022_youthapplication_postcode.py
  backend/kesaseteli/applications/migrations/0024_youthapplication_status.py
  backend/kesaseteli/applications/migrations/0025_youthapplication_handler_and_handled_at.py
  backend/kesaseteli/applications/migrations/0026_youth_summer_voucher_serial_number.py
  backend/kesaseteli/applications/migrations/0027_add_additional_info.py
  backend/kesaseteli/applications/migrations/0028_add_encrypted_handler_and_original_vtj_json.py
  backend/kesaseteli/applications/migrations/0030_add_bank_account_number.py
  backend/kesaseteli/applications/migrations/0034_make_social_security_number_optional.py
  backend/kesaseteli/applications/migrations/0035_add_youth_application_creator.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/test_permissions.py
  backend/kesaseteli/common/urls.py
  backend/kesaseteli/companies/migrations/0001_initial.py
  backend/kesaseteli/companies/migrations/0003_company_eauth_profile.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(kesaseteli): split long strings with black
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/validators.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0010_update_summer_voucher_fields.py
  backend/kesaseteli/applications/migrations/0016_add_youth_application_field_validation.py
  backend/kesaseteli/applications/migrations/0028_add_encrypted_handler_and_original_vtj_json.py
  backend/kesaseteli/applications/migrations/0033_add_non_vtj_birthdate_and_home_municipality.py
  backend/kesaseteli/applications/migrations/0034_make_social_security_number_optional.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/data/mock_vtj.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/data/company_data.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(kesaseteli): split long comments
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(kesaseteli): apply docformatter
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/validators.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/migrations/0008_delete_applications.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/data/mock_vtj.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_mock_vtj.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_settings.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/backward_compatibility.py
  backend/kesaseteli/common/permissions.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/mixins.py
  backend/kesaseteli/common/tests/test_backward_compatibility.py
  backend/kesaseteli/common/tests/utils.py
  backend/kesaseteli/common/urls.py
  backend/kesaseteli/common/utils.py
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/test_company_api.py
  backend/kesaseteli/manage.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(shared): configure ruff
  backend/shared/pyproject.toml
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): split long strings with black
  backend/shared/shared/audit_log/tasks.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/views.py
  backend/shared/shared/helsinki_profile/exceptions.py
  backend/shared/shared/helsinki_profile/hp_client.py
  backend/shared/shared/oidc/tests/test_backchannel_logout.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_oidc_views.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/suomi_fi/attributemaps/user.py
  backend/shared/shared/yrtti/yrtti_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): apply docformatter
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/models.py
  backend/shared/shared/audit_log/tasks.py
  backend/shared/shared/audit_log/viewsets.py
  backend/shared/shared/azure_adfs/auth.py
  backend/shared/shared/common/decorators.py
  backend/shared/shared/common/tests/factories.py
  backend/shared/shared/common/tests/test_mock_enabled_proxy_view.py
  backend/shared/shared/common/tests/test_utils.py
  backend/shared/shared/common/tests/utils.py
  backend/shared/shared/common/utils.py
  backend/shared/shared/common/validators.py
  backend/shared/shared/common/views.py
  backend/shared/shared/helsinki_profile/exceptions.py
  backend/shared/shared/helsinki_profile/hp_client.py
  backend/shared/shared/models/mixins.py
  backend/shared/shared/oidc/auth.py
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/oidc/views/mock_views.py
  backend/shared/shared/service_bus/service_bus_client.py
  backend/shared/shared/suomi_fi/auth.py
  backend/shared/shared/suomi_fi/utils.py
  backend/shared/shared/suomi_fi/views.py
  backend/shared/shared/vtj/vtj_client.py
  backend/shared/shared/yrtti/yrtti_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): ruff manual fixes
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/tests/conftest.py
  backend/kesaseteli/companies/services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): split long comments
  backend/shared/shared/audit_log/viewsets.py
  backend/shared/shared/azure_adfs/auth.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/service_bus/service_bus_client.py
  backend/shared/shared/yrtti/yrtti_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): apply ruff format
  backend/shared/shared/audit_log/migrations/0001_initial.py
  backend/shared/shared/audit_log/migrations/0002_auditlogentry_created_at.py
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/common/lang_test_utils.py
  backend/shared/shared/oidc/migrations/0001_initial.py
  backend/shared/shared/oidc/migrations/0002_eauthorizationprofile.py
  backend/shared/shared/oidc/migrations/0003_remove_models.py
  backend/shared/shared/oidc/views/mock_views.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(shared): apply ruff automatic fixes
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/common/tests/test_utils.py
  backend/shared/shared/common/utils.py
  backend/shared/shared/helsinki_profile/exceptions.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(shared): ruff manual fixes
  backend/shared/shared/azure_adfs/auth.py
  backend/shared/shared/helsinki_profile/exceptions.py
  backend/shared/shared/helsinki_profile/hp_client.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/service_bus/enums.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: document and add .git-blame-ignore-revs
  .git-blame-ignore-revs
  README.md
Due: pipelines/yjdh-tet-api-dev.yml

docs(benefit): update documentation on code format
  backend/benefit/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): drop ruff and pre-commit from requirements-dev
  backend/benefit/requirements-dev.in
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(kesaseteli): update documentation on code format
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: use ruff-check instead of ruff in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: pipelines/yjdh-tet-api-dev.yml

ci: restore frontend husky pre-commit
  .pre-commit-config.yaml
Due: pipelines/yjdh-tet-api-dev.yml

ci: fix wrong name benefit -> kesaseteli
  .github/workflows/ks-py-coding-style.yml
Due: none

docs(shared): fix docstring that got mangled by docformatter
  backend/shared/shared/common/tests/utils.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(kesaseteli): set order-by-type to false
  backend/kesaseteli/pyproject.toml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(kesaseteli): apply order-by-type = false
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/test_permissions.py
  backend/kesaseteli/common/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update git blame ignore revs
  .git-blame-ignore-revs
Due: pipelines/yjdh-tet-api-dev.yml

ci: remove prepare husky and commitlint from package.json
  .husky/commit-msg
  package.json
  yarn.lock
Due: pipelines/yjdh-tet-api-dev.yml

chore: update axios versions
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update next js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
