Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(kesaseteli,backend): fuzzy match surname in fetch_employee_data
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_querying.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/fuzzy_matching.py
  backend/kesaseteli/common/tests/test_fuzzy_matching.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): corrected states for instalment actions
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/tests/test_validator.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/hooks/useInstalmentDateChange.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from Sentry bot and refactoring
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): remove referencable employment fields
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/migrations/0049_remove_employersummervoucher_employee_home_city_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/applications/tests/test_youth_application_admin_permissions.py
  backend/kesaseteli/common/tests/factories.py
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/application.utils.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): dashboard as a landing page
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/types/types.ts
  frontend/shared/src/components/application-wizard/ApplicationWizard.sc.ts
  frontend/shared/src/components/application-wizard/ApplicationWizard.tsx
  frontend/shared/src/components/layout/Layout.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,employer): optimize browser tests form filling
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/shared/browser-tests/utils/input.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): show organisation name and show only mine toggle
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/backend/backend-nocks.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): structured query key for only_mine filter
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared): duplicated element id in modal component
  frontend/shared/src/components/modal/Modal.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): improve success handler
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): add error handler in dashboard create new handler
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks): change test method name
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add error handler route push of leave confirm hook
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): fix linting issues
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/hooks/application/useLoadDraftOrCreateNewApplication.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): add creaEmptyVoucher for improved code quality
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): clicking add another directly starts new wizard
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/thankyou-page/thank-you.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): get organisation name from session info
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useCompanyQuery.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): wizard process cancellation and navigation guard
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/url.utils.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/components/application/ApplicationForm.tsx
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/hooks/backend/useDeleteApplicationQuery.ts
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/shared/src/hooks/useLeaveConfirm.ts
  frontend/testcafeClientErrorHandler.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add error handler in thank you page's create app handler
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,api): employer can delete draft application
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): date ranges of instalments in decisions
  backend/benefit/applications/fixtures/test_decision_templates.json
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_ahjo_decisions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): changing the test for date ranges and sums
  backend/benefit/applications/tests/test_ahjo_decisions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the notify_applications logic
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the calculation of 2nd instalment due date
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/rules.py
  backend/benefit/calculator/tests/test_calculator_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): invalidate queries with only_mine -parameter
  frontend/kesaseteli/employer/src/hooks/backend/useCreateApplicationQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useDeleteApplicationQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): disable cancel button while loading
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,api): employee name is removed from EmployerSumemrVoucher
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): error page redirect is missing a leading slash
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared): change postal code type to string
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(compose): require UID and GID in linux.yml with explicit error
  compose/linux.yml
Due: pipelines/yjdh-tet-api-dev.yml

fix(scripts): limit clean to compose projects only
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

feat(scripts): add :dev and :prod yarn targets
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): augmented the tests
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): added unit test for _send_notification_mail
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): added integration test for command request_payslip
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the email context information
  backend/benefit/messages/automatic_messages.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): changed test date format
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): run pre-commit on code
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/api/v1/views.py
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Fix(benefit): Fix application send message
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/useApplicationFormStep5.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/usePageContent.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): remove historical models as unnecessary
  backend/kesaseteli/applications/migrations/0050_remove_all_remaining_historical_models.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/kesaseteli/simple_history/__init__.py
  backend/kesaseteli/simple_history/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
