Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(benefit): issue calculation issue when cloning application
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): change EmployeeFactory phone_number sequence format
  backend/benefit/applications/tests/factories.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): fix flaky test_secret_xml_decision_string
  backend/benefit/applications/tests/test_ahjo_xml_builder.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): freeze initial time in test_application_clone
  backend/benefit/applications/tests/test_application_clone.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(benefit): update README
  backend/benefit/README.md
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: split finnish_postgres.Dockerfile to v13 and v17
  backend/docker/finnish_postgres_13.Dockerfile
  backend/docker/finnish_postgres_17.Dockerfile
  compose.benefit-backend.yml
  compose.benefit.yml
  compose.employer.yml
  compose.handler.yml
Due: pipelines/yjdh-tet-api-dev.yml

docs(kesaseteli): update README
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

build: update pre-commit hook versions
  .pre-commit-config.yaml
Due: pipelines/yjdh-tet-api-dev.yml

deps: update benefit backend packages
  backend/benefit/requirements-dev.txt
  backend/benefit/requirements-prod.txt
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build: update benefit backend pyproject-config
  backend/benefit/pyproject.toml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(sentry): update benefit backend sentry config
  .env.benefit-backend.example
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add benefit backend sentry logging for uWSGI
  .env.benefit-backend.example
  backend/benefit/.prod/uwsgi.ini
  backend/docker/benefit-ubi-arm.Dockerfile
  compose.benefit-backend.yml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: add sentry settings testing
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/tests/test_settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): combine Dockerfiles
  backend/docker/benefit-arm.Dockerfile
  backend/docker/benefit-ubi-arm.Dockerfile
  backend/docker/benefit.Dockerfile
  backend/docker/ubi/centos9-aarch.repo
  compose.benefit-backend.yml
  compose.benefit.yml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add django-logger-extra
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): use common uwsgi configurations
  backend/benefit/.prod/escape_json.c
  backend/benefit/.prod/uwsgi.ini
  backend/docker/benefit.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(testcafe): use --disable-features=LocalNetworkAccessChecks
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): enable cloud sentry Ref: HL-1631 HL-1635
  .env.benefit-applicant.example
  .env.benefit-handler.example
  frontend/Dockerfile
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/sentry.client.config.js
  frontend/benefit/applicant/sentry.server.config.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/sentry.client.config.js
  frontend/benefit/handler/sentry.server.config.js
  frontend/benefit/shared/sentry-config.js
  frontend/kesaseteli/employer/sentry.client.config.js
  frontend/kesaseteli/employer/sentry.server.config.js
  frontend/kesaseteli/handler/sentry.server.config.js
  frontend/kesaseteli/youth/sentry.client.config.js
  frontend/kesaseteli/youth/sentry.server.config.js
  frontend/next.config.js
  frontend/shared/sentry-config.js
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add csp headers Ref: HL-1632 HL-1631
  .env.benefit-applicant.example
  .env.benefit-handler.example
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): cloud sentry migration fixes Ref: HL-1631
  .env.benefit-applicant.example
  .env.benefit-handler.example
  frontend/Dockerfile
  frontend/benefit/applicant/sentry.client.config.js
  frontend/benefit/applicant/sentry.server.config.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/sentry.client.config.js
  frontend/benefit/handler/sentry.server.config.js
  frontend/benefit/shared/package.json
  frontend/benefit/shared/src/config/sentry-config.ts
  frontend/next.config.js
  frontend/shared/sentry-config.js
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): cleanup next.config.js Ref: HL-1631
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use resilient logger
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/shared/shared/audit_log/audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
