Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

chore: update next js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: axios dependencies
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: linter error
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore: update axios versions
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update next js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: axios dependencies
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fix CODEOWNERS
  CODEOWNERES
  CODEOWNERS
Due: pipelines/yjdh-tet-api-dev.yml

ci(release-please): count build(deps) as dependencies
  release-please-config.json
Due: none

ci(kesaseteli): fix pytest workflow
  .github/workflows/ks-pytest.yml
Due: none

ci(benefit): fix pytest workflow
  .github/workflows/bf-pytest.yml
Due: none

chore: add KuVa-developers in CODEOWNERS
  CODEOWNERS
Due: pipelines/yjdh-tet-api-dev.yml

chore: remove tet from CODEOWNERS
  CODEOWNERS
Due: pipelines/yjdh-tet-api-dev.yml

test(kesaseteli): add xfailing tests for upcoming Browsable API removal
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/applications/tests/test_settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): disable Django Rest Framework Browsable API & fix tests
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
  backend/kesaseteli/applications/tests/test_settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add Matomo tracking Refs: HL-1604
  .env.benefit-applicant.example
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/applicant/src/pages/cookie-settings.tsx
  frontend/benefit/applicant/src/types/common.d.ts
  frontend/shared/package.json
  frontend/shared/src/hooks/useCookieConsent.ts
  frontend/shared/src/types/common.d.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): matomo lint fixes Ref: HL-1604
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/shared/src/hooks/useCookieConsent.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade to python 3.12
  .github/workflows/bf-py-coding-style.yml
  .github/workflows/bf-pytest.yml
  backend/docker/benefit-arm.Dockerfile
  backend/docker/benefit-ubi-arm.Dockerfile
  backend/docker/benefit.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): ignore BLK100 in flake8
  backend/benefit/setup.cfg
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): apply pyupgrade
  backend/benefit/applications/benefit_aggregation.py
  backend/benefit/applications/models.py
  backend/benefit/calculator/rules.py
  backend/benefit/common/authentications.py
  backend/benefit/common/delay_call.py
  backend/benefit/common/localized_iban_field.py
  backend/benefit/common/utils.py
  backend/benefit/users/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade to Django 5.2
  backend/benefit/pyproject.toml
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade requirements-dev.txt
  backend/benefit/requirements-dev.in
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade requirements-prod
  backend/benefit/requirements-prod.in
  backend/benefit/requirements-prod.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: use database_password env if exists refs HL-1634
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: use database_password env if exists refs YJDH-741
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: replace black, flake8 and isort with ruff in pre-commit
  .pre-commit-config.yaml
  backend/benefit/requirements-dev.txt
  backend/kesaseteli/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: postgres database to use database url + password combination
  backend/benefit/helsinkibenefit/settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
