Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

chore: add ruff issues
  backend/benefit/applications/management/commands/delete_applications.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): trigger pre-commit check
  backend/benefit/applications/management/commands/delete_applications.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: even more ruff issues
  backend/benefit/applications/management/commands/ahjo_base_command.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(benefit): run pre-commit on pr changes
  .github/workflows/bf-py-coding-style.yml
Due: none

chore: add more ruff issues
  backend/benefit/applications/management/commands/get_signer.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): notification flashing briefly
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmploymentsErrorNotification.tsx
Due: pipelines/yjdh-tet-api-dev.yml

style(ks,employer): fix misc linting issues
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/cookie-settings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): update axios for consistency and fix Nock test setup
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/create-axios-test-context.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): init list of vouchers with an empty one
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): added a test for state transitions
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/tests/test_validator.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new states for instalments
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/enums.py
  backend/benefit/calculator/migrations/0019_alter_instalment_status.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): added fetching new instalment statuses to backend
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,compose): restructure development compose files
  compose.employer.yml
  compose.handler.yml
  compose/base.kesaseteli.yml
  compose/employer.dev.yml
  compose/employer.yml
  compose/handler.dev.yml
  compose/handler.yml
  compose/linux.yml
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): dashboard as a landing page
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/hooks/application/useResetApplicationFormValuesEffect.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/types/types.ts
  frontend/shared/src/components/application-wizard/ApplicationWizard.sc.ts
  frontend/shared/src/components/application-wizard/ApplicationWizard.tsx
  frontend/shared/src/components/layout/Layout.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): duplicated element id in modal component
  frontend/shared/src/components/modal/Modal.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,employer): clicking add another directly starts new wizard
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/thankyou-page/thank-you.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,employer): optimize browser tests form filling
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/shared/browser-tests/utils/input.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,api): employer can delete draft application
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): wizard process cancellation and navigation guard
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/url.utils.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/backend/useDeleteApplicationQuery.ts
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/application.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore(scripts): restore benefit script
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

WIP
  frontend/shared/src/components/application-wizard/ApplicationWizard.sc.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

WIP
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/wizard.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/pages/application.tsx
Due: pipelines/yjdh-tet-api-dev.yml

WIP
  frontend/shared/src/components/application-wizard/ApplicationWizard.tsx
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

WIP
  frontend/.testcaferc.base.js
  frontend/testcafeClientErrorHandler.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): fuzzy match surname in fetch_employee_data
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_querying.py
  backend/kesaseteli/common/fuzzy_matching.py
  backend/kesaseteli/common/tests/test_fuzzy_matching.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new actions for instalments
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useRouterNavigation.ts
  frontend/benefit/handler/src/hooks/useInstalmentDateChange.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,backend): fuzzy match surname in fetch_employee_data
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_querying.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/fuzzy_matching.py
  backend/kesaseteli/common/tests/test_fuzzy_matching.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add sonar-project.properties file to benefit backend
  backend/benefit/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add sonar-project.properties to kesaseteli backend
  backend/kesaseteli/sonar-project.properties
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for changing date
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/tests/test_validator.py
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): linting fixes to the code
  backend/benefit/applications/management/commands/request_payslip.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): writing tests for the code
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): remove referencable employment fields
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/migrations/0049_remove_employersummervoucher_employee_home_city_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_serial_number_migration_functions.py
  backend/kesaseteli/applications/tests/test_youth_application_admin_permissions.py
  backend/kesaseteli/common/tests/factories.py
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/browser-tests/utils/application.utils.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/summary/EmploymentSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/employer/src/services/__tests__/ApplicationPersistenceService.test.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): generated email templates for notification emails
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_en.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_fi.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/html/payslip-required_sv.html
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_en.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_fi.txt
  backend/benefit/helsinkibenefit/templates/emails/mjml-generated/txt/payslip-required_sv.txt
  frontend/benefit/common/src/emails/i18n/sv.json
  frontend/benefit/common/src/emails/text-templates/payslip-required.template.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): set default value for date picker
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(benefit): hel base sonar-project.properties Refs: KEH-189
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,docker): fix compose config and scripts for Podman
  compose/employer.dev.yml
  compose/handler.dev.yml
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks,docker): remove extending since layered command is used
  compose/employer.dev.yml
  compose/handler.dev.yml
Due: pipelines/yjdh-tet-api-dev.yml

ci: remove __tests__ pattern Refs: KEH-189
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,docker): remove includes from compose files
  compose/employer.yml
  compose/handler.yml
Due: pipelines/yjdh-tet-api-dev.yml
