Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

refactor(ks,backend): add & use get_by_serial_number on queryset/manager
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,api): updated translation files
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): provide translations for target groups through API endpoint
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/test_localized_api.py
  backend/kesaseteli/common/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/common/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/common/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/kesaseteli/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/kesaseteli/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/kesaseteli/locale/sv/LC_MESSAGES/django.po
  frontend/kesaseteli/shared/jest.config.js
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/useSummerVoucherConfigurationQuery.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): use SAS-token for blob storage
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): logout redirection to relay state
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/shared/common/tests/test_utils.py
  backend/shared/shared/suomi_fi/tests/test_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): custom azure storage class to hide token from url
  backend/benefit/helsinkibenefit/tests/test_storage.py
  backend/benefit/helsinkibenefit/utils/storage.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant can send the payslips
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/tests/test_applications_api.py
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/__tests__/SecondInstalmentListItem.test.tsx
  frontend/benefit/applicant/src/components/applications/secondInstalmentUpload/SecondInstalmentUploadPage.tsx
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/applicant/src/hooks/useSecondInstalmentInfoQuery.ts
  frontend/benefit/applicant/src/hooks/useSecondInstalmentRespondMutation.ts
  frontend/benefit/applicant/src/pages/application/second-instalment-upload.tsx
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): read saml logout next_path before session is flushed
  backend/shared/shared/suomi_fi/tests/test_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): remove enforcement of numeric voucher serial numbers
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(shared): refactor har integration tests and add documentation
  backend/shared/shared/suomi_fi/tests/test_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): refresh suomi.fi production idp metadata
  backend/shared/README.md
  backend/shared/shared/suomi_fi/metadata/idp-metadata-tunnistautuminen.xml
  backend/shared/shared/suomi_fi/tests/test_metadata.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): use RelayState as logout redirect fallback for suomi-fi
  backend/shared/shared/suomi_fi/tests/test_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): testing and translation changes
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/tests/test_applications_api.py
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/useApplicationList.ts
  frontend/benefit/applicant/src/components/applications/secondInstalmentUpload/SecondInstalmentUploadPage.tsx
  frontend/benefit/applicant/src/components/applications/secondInstalmentUpload/__tests__/SecondInstalmentUploadPage.test.tsx
  frontend/benefit/applicant/src/hooks/useChangeEmployerAssuranceMutation.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from sentry
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/applicant/public/locales/fi/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): format shared backend with Ruff
  backend/shared/shared/audit_log/tests/test_get_remote_address.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/service_bus/service_bus_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend,admin): add user showable serial number search to admin
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
  backend/kesaseteli/common/tests/factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(kesaseteli): migrate database driver to psycopg v3
  backend/kesaseteli/README.md
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui changes to application
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/clone_application.py
  frontend/benefit/applicant/browser-tests/page-model/deminimis.ts
  frontend/benefit/applicant/browser-tests/page-model/step1.ts
  frontend/benefit/applicant/browser-tests/pages/association.testcafe.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
  frontend/benefit/applicant/browser-tests/types.ts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/useCompanyInfo.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/applicant/src/hooks/useFormActions.tsx
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): fetch target group translations with current locale
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/useSummerVoucherConfigurationQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): generate readme for youth UI and handlers UI
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/youth/README.md
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): alterations to the applicant ui
  frontend/benefit/applicant/browser-tests/page-model/deminimis.ts
  frontend/benefit/applicant/browser-tests/page-model/step1.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/__tests__/useApplicationFormStep1.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/__tests__/CompanyInfo.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/useApplicationFormStep1.ts
  frontend/benefit/applicant/src/hooks/__tests__/useFormActions.test.tsx
  frontend/benefit/applicant/src/hooks/useFormActions.tsx
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): second phase alterations to applicant ui
  backend/benefit/applications/migrations/0094_application_company_number_of_employees_and_more.py
  backend/benefit/applications/migrations/0095_remove_application_employer_business_brief_and_more.py
  backend/benefit/applications/migrations/0096_application_other_financial_support_for_employment_and_more.py
  backend/benefit/applications/models.py
  backend/benefit/helsinkibenefit/settings.py
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): modified tests and restored condition
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/applicant/browser-tests/page-model/step1.ts
  frontend/benefit/applicant/browser-tests/page-model/step2.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): use SAS token safely with custom Azure blob storage class
  .env.kesaseteli-backend.example
  backend/kesaseteli/README.md
  backend/kesaseteli/common/storage.py
  backend/kesaseteli/common/tests/test_storage.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): translations and role of employee
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/migrations/0097_application_role_of_employee_in_organization_and_more.py
  backend/benefit/applications/models.py
  backend/benefit/helsinkibenefit/settings.py
  frontend/benefit/applicant/browser-tests/page-model/step2.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
  frontend/benefit/applicant/browser-tests/types.ts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/__tests__/ApplicationFormStep2.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from reviewers
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): changing backend tests and validation
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_applications_api.py
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): run pre-commit
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
