Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

refactor(benefit): docker entrypoint shellcheck fixes
  backend/benefit/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): apply ruff automatic fixes
  backend/kesaseteli/applications/migrations/0001_initial.py
  backend/kesaseteli/applications/migrations/0005_change_encryption_library.py
  backend/kesaseteli/applications/migrations/0006_refactor_attachments.py
  backend/kesaseteli/applications/migrations/0007_model_timestamps_and_ordering.py
  backend/kesaseteli/applications/migrations/0009_add_application_user.py
  backend/kesaseteli/applications/migrations/0012_add_youthapplication_youthsummervoucher.py
  backend/kesaseteli/applications/migrations/0013_school.py
  backend/kesaseteli/applications/migrations/0014_set_default_schools.py
  backend/kesaseteli/applications/migrations/0015_set_real_schools.py
  backend/kesaseteli/applications/migrations/0016_add_youth_application_field_validation.py
  backend/kesaseteli/applications/migrations/0017_refactor_school.py
  backend/kesaseteli/applications/migrations/0019_use_employer_applications_related_name.py
  backend/kesaseteli/applications/migrations/0021_add_encrypted_vtj_json.py
  backend/kesaseteli/applications/migrations/0022_youthapplication_postcode.py
  backend/kesaseteli/applications/migrations/0024_youthapplication_status.py
  backend/kesaseteli/applications/migrations/0025_youthapplication_handler_and_handled_at.py
  backend/kesaseteli/applications/migrations/0026_youth_summer_voucher_serial_number.py
  backend/kesaseteli/applications/migrations/0027_add_additional_info.py
  backend/kesaseteli/applications/migrations/0028_add_encrypted_handler_and_original_vtj_json.py
  backend/kesaseteli/applications/migrations/0030_add_bank_account_number.py
  backend/kesaseteli/applications/migrations/0034_make_social_security_number_optional.py
  backend/kesaseteli/applications/migrations/0035_add_youth_application_creator.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/test_permissions.py
  backend/kesaseteli/common/urls.py
  backend/kesaseteli/companies/migrations/0001_initial.py
  backend/kesaseteli/companies/migrations/0003_company_eauth_profile.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): apply ruff format
  backend/shared/shared/audit_log/migrations/0001_initial.py
  backend/shared/shared/audit_log/migrations/0002_auditlogentry_created_at.py
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/common/lang_test_utils.py
  backend/shared/shared/oidc/migrations/0001_initial.py
  backend/shared/shared/oidc/migrations/0002_eauthorizationprofile.py
  backend/shared/shared/oidc/migrations/0003_remove_models.py
  backend/shared/shared/oidc/views/mock_views.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update next js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update next js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update axios
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update axios versions
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: axios dependencies
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: linter error
  frontend/kesaseteli/employer/src/hooks/application/useApplicationApi.ts
Due: pipelines/yjdh-tet-api-dev.yml

ci: fix kesäseteli python version in coding style test
  .github/workflows/ks-py-coding-style.yml
Due: none

fix(tests): fix Kesäseteli test case failing when run in parallel
  backend/kesaseteli/applications/tests/test_security_with_anonymous_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use common ci workflow
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/ci-node-shared.yml
  .github/workflows/ci-node.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
  .github/workflows/shared-frontend-tests.yml
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
  frontend/benefit/shared/sonar-project.properties
  frontend/kesaseteli/employer/sonar-project.properties
  frontend/kesaseteli/handler/sonar-project.properties
  frontend/kesaseteli/shared/sonar-project.properties
  frontend/kesaseteli/youth/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build(benefit): upgrade to python 3.12
  .github/workflows/bf-py-coding-style.yml
  .github/workflows/bf-pytest.yml
  backend/docker/benefit-arm.Dockerfile
  backend/docker/benefit-ubi-arm.Dockerfile
  backend/docker/benefit.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): apply pyupgrade
  backend/benefit/applications/benefit_aggregation.py
  backend/benefit/applications/models.py
  backend/benefit/calculator/rules.py
  backend/benefit/common/authentications.py
  backend/benefit/common/delay_call.py
  backend/benefit/common/localized_iban_field.py
  backend/benefit/common/utils.py
  backend/benefit/users/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): fix pytest_sessionfinish crash if test collection errors
  backend/benefit/applications/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit): upgrade to Django 5.2
  backend/benefit/pyproject.toml
  backend/benefit/requirements-dev.in
  backend/benefit/requirements-dev.txt
  backend/benefit/requirements-prod.in
  backend/benefit/requirements-prod.txt
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update SENTRY variable names
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: simplify GDPR API
  backend/benefit/helsinkibenefit/gdpr.py
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/users/api/v1/views.py
  backend/benefit/users/tests/test_gdpr_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): fix tests that don't work with NEXT_PUBLIC_ENABLE_SUOMIFI=1
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_oidc_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): incorrect assert due to previous autouse
  backend/benefit/applications/tests/test_command_import_archival_applications.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): adjust date_start in ApplicationFactory
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): remove internal assumption about external time
  backend/benefit/applications/tests/test_application_batch_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): flaky test by setting message_type
  backend/benefit/messages/tests/test_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): flaky test due to random application language
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): freeze time in some tests
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/calculator/tests/test_calculator_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): unfreeze time
  backend/benefit/common/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): resolve post generation save deprecation warnings
  backend/benefit/applications/tests/factories.py
  backend/benefit/calculator/tests/factories.py
  backend/benefit/terms/tests/factories.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): lazy use of autouse
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): enable and update previously disabled test
  backend/benefit/applications/tests/test_applications_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build: apply sonar suggestions on docker-entrypoint.sh
  backend/benefit/docker-entrypoint.sh
  backend/kesaseteli/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): use timezone.now instead of datetime.now
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_application_search.py
  backend/benefit/users/tests/test_gdpr_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): insufficiently mocked tests
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/messages/tests/test_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): remove milliseconds from test data
  backend/benefit/applications/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): flaky by freezing time
  backend/benefit/applications/tests/test_application_change_sets.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: generate uuid4 usernames in UserFactory
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/shared/shared/common/tests/factories.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): test dependency on company
  backend/benefit/applications/tests/test_serializers.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: another isoformat fix
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
