Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix: pr review comments
  frontend/benefit/handler/src/__tests__/applications.test.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
  frontend/benefit/shared/jest-canvas-env.js
  frontend/benefit/shared/jest.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): browser test
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: tls certificate warning on test environment
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(frontend): stabilize Talpa browser test and Docker yarn installs
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): stabilize handler browser tests and Ahjo signer init
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: sentry bot comment
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit,handler): address new Sentry bot findings
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): browser test
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: pr review comments
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
  frontend/benefit/handler/src/components/applicationReview/useApplicationReview.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: browser test
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: added DOMPurify sanitization
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep3.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: benefit browser test
  frontend/benefit/handler/browser-tests/pages/4-make-decision.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: pr review comments
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): type problem
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: sentry bot comment
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: revert package registry change and retry hack
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add doctoc to pre-commit hook
  .husky/pre-commit
  README.md
  backend/README.md
  backend/benefit/README.md
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/README.md
  backend/kesaseteli/applications/templates/email/README.md
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/shared/README.md
  backend/shared/shared/audit_log/README.md
  backend/shared/shared/azure_adfs/README.md
  backend/shared/shared/ytj/README.md
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/applicant/README.md
  frontend/benefit/handler/README.md
  frontend/kesaseteli/README.md
  frontend/kesaseteli/employer/README.md
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/youth/README.md
  package.json
  yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): run commitlint in pre-commit hook
  .husky/commit-msg
  commitlint.config.mjs
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add typechecking to pre-commit hook
  frontend/.lintstagedrc.js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/package.json
  frontend/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): draft application selection
  backend/kesaseteli/applications/api/v1/serializers.py
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUpdateApplicationQuery.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump urllib3 from 2.5.0 to 2.6.3
  backend/benefit/requirements-dev.txt
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,youth): target group field in youth application
  frontend/kesaseteli/employer/src/hooks/backend/useTargetGroupsQuery.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/kesaseteli/shared/src/types/summer-voucher-configuration.d.ts
  frontend/kesaseteli/shared/src/types/youth-application.d.ts
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/__tests__/index.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/youth-form/TargetGroupSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthFormFields.tsx
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: leave only 10 biggest school in fake objects list
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): admin should override get_queryset instead of just `queryset`
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_admin.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): target group field in youth application
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0050_add_target_group_to_youth_application.py
  backend/kesaseteli/applications/migrations/0051_populate_youth_application_target_group.py
  backend/kesaseteli/applications/migrations/0052_remove_target_group_from_youth_summer_voucher.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/management/commands/test_create_summervoucher_configuration.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_serializers.py
  backend/kesaseteli/applications/tests/test_youth_application_configuration_validation.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): auto select YouthApplication on YouthSummervoucher
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: reuse mozillas oidc auth related config and utils
  .env.kesaseteli-backend.example
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/views.py
  backend/shared/shared/common/tests/test_utils.py
  backend/shared/shared/common/utils.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_utils.py
  backend/shared/shared/oidc/utils.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): test audit logging of field changes
  backend/benefit/applications/tests/test_audit_log_history_diffs.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): use absolute uri in admin site
  backend/kesaseteli/kesaseteli/admin_site.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): auth-adfs should support redirecting to front services
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_hki_views.py
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs claim mapping for email
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs logout handling
  backend/kesaseteli/kesaseteli/admin_site.py
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): custom logout handler to fix next-url handling
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: improvements to unit tests
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add header with login and logout features
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/browser-tests/handler-form/handler-form.testcafe.ts
  frontend/kesaseteli/handler/browser-tests/page-models/LoginPage.ts
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogin.ts
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/pages/login.tsx
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): override User and Group admins
  backend/kesaseteli/kesaseteli/admin.py
  backend/kesaseteli/kesaseteli/admin_site.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add adfs auth related configuration
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
