Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(kesaseteli): add API endpoint to list available target groups
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_target_groups_api.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): add alias field to school model
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/migrations/0039_school_alias.py
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): upgrade from PostgreSQL 13 → 17
  .github/workflows/ks-pytest.yml
  backend/docker/finnish_postgres_13.Dockerfile
  backend/kesaseteli/README.md
  compose.employer.yml
  compose.handler.yml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: yarn install hardening RATY-280
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: UI changes for 2026 rules
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): sentry shouldn't generate sourcemaps Ref: HL-1708
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: UI changes for 2026 rules
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: ui changes for 2026 rules
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,auth): preserve deep links and admin redirects in ADFS
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): tools for semi automated admin management
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/kesaseteli/staff_admin_permissions/__init__.py
  backend/kesaseteli/staff_admin_permissions/apps.py
  backend/kesaseteli/staff_admin_permissions/constants.py
  backend/kesaseteli/staff_admin_permissions/management/__init__.py
  backend/kesaseteli/staff_admin_permissions/management/commands/__init__.py
  backend/kesaseteli/staff_admin_permissions/management/commands/setup_admin_permissions.py
  backend/kesaseteli/staff_admin_permissions/signals.py
  backend/kesaseteli/staff_admin_permissions/tests/__init__.py
  backend/kesaseteli/staff_admin_permissions/tests/test_management_command.py
  backend/kesaseteli/staff_admin_permissions/tests/test_signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): trivial ts error in PageNotFound component
  frontend/shared/src/components/pages/PageNotFound.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): use legacyBehaviour with Link-component
  frontend/shared/src/components/link-text/LinkText.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/applicant/src/components/applications/forms/application/step6/useApplicationFormStep6.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(auth): clarify is staff field update on every auth
  backend/shared/shared/azure_adfs/auth.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(auth): add timeouts to graph API calls
  backend/shared/shared/azure_adfs/auth.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  frontend/benefit/applicant/src/components/applications/forms/application/step3/ApplicationFormStep3.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): ui changes for 2026 rules
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,auth): add "next"-param handling to mocked login view
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): login to admin site with ADFS
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/templates/admin/hel_login.html
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(shared,admin): move admin login template to shared folder
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/templates/admin/hel_login.html
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): move filter_by_voucher_and_fuzzy_name to manager
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_querying.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): add error logging
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): more features in school admin page
  backend/kesaseteli/applications/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(kesaseteli): remove duplicated test
  backend/kesaseteli/applications/tests/test_querying.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add antigravity editor's files to gitignore
  .gitignore
Due: pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): add fixture to enable admin site on every unit test
  backend/kesaseteli/applications/tests/conftest.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): add API endpoint for summer voucher configuration
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
