Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(benefit): new fields added to the frontend
  frontend/benefit/applicant/browser-tests/page-model/deminimis.ts
  frontend/benefit/applicant/browser-tests/page-model/step1.ts
  frontend/benefit/applicant/browser-tests/page-model/step2.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/__tests__/CompanyInfo.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/useCompanyInfo.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/__tests__/ApplicationFormStep2.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/useApplicationFormStep2.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/applicant/src/hooks/useDependentFieldsEffect.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): add API error ignoring to Sentry config
  frontend/shared/sentry-config.js
  frontend/shared/src/__tests__/sentry-config.test.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application list formatting
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListItem.sc.ts
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): add _app and useUserQuery unit tests
  frontend/benefit/applicant/src/hooks/__tests__/useFormActions.test.tsx
  frontend/kesaseteli/employer/src/__tests__/_app.test.tsx
  frontend/kesaseteli/employer/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useUserQuery.test.tsx
  frontend/kesaseteli/handler/src/__tests__/_app.test.tsx
  frontend/kesaseteli/handler/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUserQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/youth/src/__tests__/_app.test.tsx
  frontend/kesaseteli/youth/src/hooks/__tests__/useHandleYouthApplicationSubmit.test.tsx
  frontend/kesaseteli/youth/src/hooks/backend/__tests__/useCreateAdditionalInfoQuery.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): extract route paths into ROUTES constants
  frontend/kesaseteli/employer/src/hocs/withEmployerAuth.tsx
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/shared/src/constants/routes.ts
  frontend/kesaseteli/youth/src/pages/_app.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,youth): integrate matomo to youth UI
  .env.kesaseteli-youth.example
  frontend/kesaseteli/youth/src/pages/_app.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): allow unauthorized access to cookie settings
  frontend/kesaseteli/employer/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/employer/src/auth/AuthProvider.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): integrate matomo to handler UI
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/handler/src/pages/cookie-settings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): allow unauthorized access to cookie settings
  frontend/kesaseteli/handler/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): fix ESLint errors in Matomo-related files
  frontend/kesaseteli/employer/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/utils/localstorage.utils.test.ts
  frontend/kesaseteli/handler/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/shared/src/hooks/__tests__/useMatomo.test.ts
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/src/pages/_app.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): implement matomo tracking and cookie consent setup
  frontend/kesaseteli/shared/src/hooks/__tests__/useMatomo.test.ts
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): integrate matomo to employer UI
  .env.kesaseteli-employer.example
  frontend/kesaseteli/employer/src/pages/_app.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant pdf printout
  backend/benefit/applications/templates/application.html
  backend/benefit/applications/templates/footer.html
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): align route checks & fix test types
  frontend/benefit/applicant/src/hooks/__tests__/useFormActions.test.tsx
  frontend/kesaseteli/employer/src/__tests__/_app.test.tsx
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useUserQuery.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/components/footer/__tests__/Footer.test.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUserQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

deps(ks,backend): upgrade all dependencies but django-resilient-logger
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): fix Matomo client-side routing page view tracking
  frontend/kesaseteli/README.md
  frontend/kesaseteli/shared/src/hooks/__tests__/useMatomo.test.ts
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/shared/src/__tests__/matomo.test.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): no decimals in ahjo decisions
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/tests/test_ahjo_decisions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): wrong error message in a field
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): rejected applications are shown in archive
  backend/benefit/applications/services/ahjo/response_handler.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): wrong status for responded application
  backend/benefit/applications/api/v1/status_transition_validator.py
  backend/benefit/applications/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): normalize undefined granted subsidy
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): resolve relative URLs in trackPageView
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/shared/src/__tests__/matomo.test.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(shared): remove redundant Matomo cookie consent
  frontend/shared/src/__tests__/matomo.test.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add 5-year retention limit to cleanup command
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/management/commands/cleanup_applications.py
  backend/kesaseteli/applications/tests/test_cleanup_applications_command.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add monthly scheduled job for application cleanup
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/tests/test_cron_job.py
  backend/kesaseteli/kesaseteli/jobs/monthly/__init__.py
  backend/kesaseteli/kesaseteli/jobs/monthly/cleanup_applications.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks,shared): update useMatomo docs and test description
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUserQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(shared): track initial page view when consent is granted
  frontend/shared/src/hooks/useCookieConsentParams.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): disable youth summer voucher creation and updates in admin
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
