Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(benefit): business brief line breaks preserved
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): line breaks to consents
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/ConsentViewer.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): description field width
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): minor fixes to applicant ui
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf): ensure pdf download works in all browsers
  frontend/benefit/handler/src/hooks/__tests__/useDownloadApplicationPdf.test.ts
  frontend/benefit/handler/src/hooks/useDownloadApplicationPdf.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new fields to handler review
  frontend/benefit/handler/src/components/applicationReview/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeView.tsx
  frontend/benefit/handler/src/components/applicationReview/employmentView/EmpoymentView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): remove 2nd sum from instalments
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new fields for handler
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/__tests__/FormContent.test.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/review/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/EmployeeSection.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/__tests__/EmployeeSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/EmploymentSection.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/__tests__/EmploymentSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/utils/validation.ts
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for usedownloadapplicationpdf
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/10-talpa-error-handling.testcafe.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadApplicationPdf.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): pdf dl button,archived applications
  backend/benefit/applications/templates/application_handler.html
  backend/benefit/applications/templates/footer.html
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/hooks/useDownloadApplicationPdf.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): pdf footer dynamic total pages
  backend/benefit/applications/templates/application.html
  backend/benefit/applications/templates/footer.html
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): review fixes
  backend/benefit/applications/services/generate_application_summary.py
  backend/benefit/sonar-project.properties
  frontend/benefit/handler/src/hooks/__tests__/useDownloadApplicationPdf.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): handler application pdf export
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/generate_application_summary.py
  backend/benefit/applications/templates/application_handler.html
  backend/benefit/applications/templates/base.html
  backend/benefit/applications/templates/footer.html
  backend/benefit/applications/templates/style.html
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: migrate frontend package manager from yarn to pnpm
  .husky/scripts/run-frontend-lerna-pre-commit.sh
  frontend/.gitignore
  frontend/.lintstagedrc.js
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/applicant/package.json
  frontend/benefit/common/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/README.md
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/README.md
  frontend/kesaseteli/youth/package.json
  frontend/lerna.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: migrate from yarn to pnpm across monorepo
  .gitignore
  .husky/README.md
  README.md
  compose/linux.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: pipelines/yjdh-tet-api-dev.yml

ci: migrate frontend workflows to pnpm and bump actions
  .github/workflows/audit.yml
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
  .github/workflows/shared-backend-coding-style.yml
  .github/workflows/shared-frontend-tests.yml
  .github/workflows/yarn-audit-scheduled.yml
Due: none

feat: migrate frontend Docker builds from yarn to pnpm
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: override vulnerable transitive packages
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade Node.js to 24.17.0
  .nvmrc
  README.md
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/README.md
  frontend/benefit/README.md
  frontend/kesaseteli/README.md
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/youth/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/helsinkilisa-ui-handler-release.yml
  pipelines/helsinkilisa-ui-release.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-ui-release.yml
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
  pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: move runtime deps to dependencies, drop Yarn resolutions
  frontend/package.json
  frontend/pnpm-lock.yaml
  pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: resolve sonar errors and enhance test coverage
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/useApplicationFormStep1.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/__tests__/useFormContent.test.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/handler/src/components/applicationForm/review/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/__tests__/EmployeeSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/__tests__/EmploymentSection.test.tsx
  frontend/benefit/handler/src/components/applicationReports/__tests__/useApplicationReports.test.ts
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/__tests__/ApplicationProcessingView.test.tsx
  frontend/benefit/handler/src/components/applicationReview/calculatorErrors/__tests__/CalculatorErrors.test.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchProposals.test.tsx
  frontend/benefit/handler/src/components/header/__tests__/Header.test.tsx
  frontend/benefit/handler/src/hooks/__tests__/useCalculatorData.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useFormActions.test.tsx
  frontend/benefit/handler/src/hooks/useCalculatorData.ts
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add esnext lib to testcafe tsconfig for replaceAll
  frontend/tsconfig.testcafe.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: update pipeline references to use YJDH-900-migrate-to-pnpm branch
  pipelines/helsinkilisa-review.yml
  pipelines/kesaseteli-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

fix(bf): fixes to main from pre-commit complains
  frontend/benefit/handler/src/components/applicationForm/review/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/__tests__/EmployeeSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/__tests__/EmploymentSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(bf): preserve old terms in applic. approvals
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/terms/models.py
  frontend/benefit/handler/src/components/applicationReview/consentView/ConsentView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add summer voucher attachments to Django admin
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_admin_attachments.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add youth summer voucher inline to youth application admin
  backend/kesaseteli/applications/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test: inject cookie consent for Kesäseteli tests in base config
  frontend/.testcaferc.base.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): browser test for cookie consent checksums
  frontend/kesaseteli/employer/browser-tests/cookie-consent/cookie-consent.testcafe.ts
  frontend/kesaseteli/handler/browser-tests/cookie-consent/cookie-consent.testcafe.ts
  frontend/kesaseteli/shared/browser-tests/cookie-consent/cookie-consent.ts
  frontend/kesaseteli/shared/tsconfig.json
  frontend/kesaseteli/youth/browser-tests/cookie-consent/cookie-consent.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): remove unsafe-inline from frontend script-src
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,frontend): copy csp config into production docker image
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): tighten kesaseteli csp policy and tests
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/common/openapi_views.py
  backend/kesaseteli/common/tests/test_openapi_csp.py
  backend/kesaseteli/common/tests/test_probes.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add csp middleware
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/common/tests/test_probes.py
  backend/kesaseteli/common/views.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): allow cdn sources on openapi doc pages
  backend/kesaseteli/common/openapi_views.py
  backend/kesaseteli/common/tests/test_openapi_csp.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): add base-uri and object-src to global CSP
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
