Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

chore: update hds in kesaseteli to v3
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
  frontend/kesaseteli/youth/src/components/header/Header.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat: add instalments to PowerBI csv
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: HL 1559 signer api (#3602)
  backend/benefit/applications/enums.py
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/applications/management/commands/ahjo_base_command.py
  backend/benefit/applications/management/commands/get_signer.py
  backend/benefit/applications/management/commands/seed.py
  backend/benefit/applications/services/ahjo/enums.py
  backend/benefit/applications/services/ahjo/request_handler.py
  backend/benefit/applications/services/ahjo/setting_response_handler.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_request_handler.py
  backend/benefit/applications/tests/test_ahjo_requests.py
  backend/benefit/applications/tests/test_ahjo_response_handler.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add instalments to handler csv report
  backend/benefit/applications/services/applications_csv_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: remove unused import
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat: restrict date picker min/max year ranges
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/useSalaryBenefitCalculatorData.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: header language selection test
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat: talpa CB batch and application talpa_status
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0090_alter_application_talpa_status_and_more.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: restrict date picker min/max year ranges (#3619)
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/useSalaryBenefitCalculatorData.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: Hl 1502 csv changes (#3618)
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/services/talpa_csv_service.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: talpa CB batch and application talpa_status (#3621)
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/enums.py
  backend/benefit/applications/migrations/0090_alter_application_talpa_status_and_more.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: instalment initial status to WAITING
  backend/benefit/calculator/rules.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: rename setting_response_handler.py
  backend/benefit/applications/services/ahjo/request_handler.py
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/tests/test_ahjo_response_handler.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update instalments to accepted after decision
  backend/benefit/applications/management/commands/send_ahjo_requests.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: decision datetime should be convert to a date
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: failing test for initial instalment status
  backend/benefit/calculator/tests/test_calculator_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: refactor decision details response handling
  backend/benefit/applications/enums.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_decisions.py
  backend/benefit/applications/tests/test_ahjo_response_handler.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: copy/paste error message
  backend/benefit/applications/enums.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: Hl 1498 talpa errors (#3620)
  backend/benefit/applications/enums.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/ahjo/request_handler.py
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/services/ahjo_decision_service.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_ahjo_decisions.py
  backend/benefit/applications/tests/test_ahjo_response_handler.py
  backend/benefit/applications/tests/test_models.py
  backend/benefit/calculator/rules.py
  backend/benefit/calculator/tests/test_calculator_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: 2nd instalment due date into csv
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: change logo and text in for archival application in archive
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationArchiveList.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: change "pruned" to "talpa" for clarity
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove old shared header
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
  frontend/shared/browser-tests/page-models/Header.ts
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/header/__tests__/Header.test.tsx
  frontend/shared/src/components/header/useHeader.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: use instalment_after_recoveries property
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/services/talpa_csv_service.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: update amount_paid after talpa CB success
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: linter issues in tests
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
  frontend/tet/admin/src/components/header/Header.tsx
  frontend/tet/admin/src/components/login/__tests__/LoginLinks.test.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update only 1st instalment after decision cb
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/tests/test_ahjo_response_handler.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: limit search list items to 30 without user action
  backend/benefit/applications/api/v1/search_views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
  frontend/benefit/handler/src/components/applicationsArchive/useApplicationsArchive.ts
  frontend/benefit/handler/src/hooks/useSearchApplicationQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: 2nd instalment due date into csv (#3635)
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/services/talpa_csv_service.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: update amount_paid after talpa CB success (#3636)
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update only 1st instalment after decision cb (#3637)
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/tests/test_ahjo_response_handler.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: adjust e2e test
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: try to parse all kinds of ahjo errors
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: e2e test selector
  frontend/shared/browser-tests/page-models/Header.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: revert login links dynamic wrapper change
  frontend/tet/admin/src/components/login/CardWrapper.tsx
  frontend/tet/admin/src/components/login/LoginLinks.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: switch link to button
  frontend/shared/browser-tests/page-models/Header.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: linter error
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: try to parse all kinds of ahjo errors (#3639)
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: limit search list items to 30 without user action (#3638)
  backend/benefit/applications/api/v1/search_views.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
  frontend/benefit/handler/src/components/applicationsArchive/useApplicationsArchive.ts
  frontend/benefit/handler/src/hooks/useSearchApplicationQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
