Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix: update traficom contact info (#3665)
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/pages/accessibility-statement.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: revert "chore: update traficom contact info (#3665)"
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/pages/accessibility-statement.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): catch empty ahjo response and log it
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: upgrade vulnerable Next.js version
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): link to terms and conditions
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(tet): link to terms and conditions
  frontend/tet/admin/public/locales/en/common.json
  frontend/tet/admin/public/locales/fi/common.json
  frontend/tet/admin/public/locales/sv/common.json
  frontend/tet/youth/public/locales/en/common.json
  frontend/tet/youth/public/locales/fi/common.json
  frontend/tet/youth/public/locales/sv/common.json
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(tet): remove duplicated translation keys
  frontend/tet/admin/public/locales/en/common.json
  frontend/tet/admin/public/locales/fi/common.json
  frontend/tet/admin/public/locales/sv/common.json
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): update terms and conditions link
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): change "nuorten.helsinki" links to "nuorten.hel.fi"
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): fix register information PDF-link in footer
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): swedish common translations to youth app
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

chore: dependabot config
  .github/dependabot.yml
  CODEOWNERES
Due: pipelines/yjdh-tet-api-dev.yml

chore: yjdh release-please-config tweak
  release-please-config.json
Due: none

chore: yjdh release-please-config tweak (#3743)
  release-please-config.json
Due: none

chore: modify commitlint config to allow more types
  commitlint.config.js
Due: pipelines/yjdh-tet-api-dev.yml

chore: modify commitlint config to allow more types (#3744)
  commitlint.config.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): accessibility statement link
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

chore: modify commitlint usage
  .github/workflows/conventional-commits.yml
  commitlint.config.js
  commitlint.config.mjs
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: modify commitlint usage (#3746)
  .github/workflows/conventional-commits.yml
  commitlint.config.js
  commitlint.config.mjs
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): terms of service term renamed and link changed
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): privacy policy renamed same as title of related doc
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): use lang specific accessibility statement url
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
Due: pipelines/yjdh-tet-api-dev.yml

chore: update axios versions
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
