Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(admin): add "next"-param handling for post login redirection
  backend/shared/shared/azure_adfs/mock_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add .vscode to .gitignore
  .gitignore
Due: pipelines/yjdh-tet-api-dev.yml

feat(admin): add "next"-param handling for post login redirection
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: check authentication before calling for messages
  frontend/benefit/handler/src/hooks/useApplicationsWithMessagesQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(env): add DATABASE_URL environment variable in env example
  .env.kesaseteli.example
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: add note about about test data generation
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(docker): do not set platform in compose
  compose.employer.yml
  compose.handler.yml
Due: pipelines/yjdh-tet-api-dev.yml

fix: null pointer exception in excel exporter
  backend/kesaseteli/applications/exporters/excel_exporter.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): trivial ts error in PageNotFound component
  frontend/shared/src/components/pages/PageNotFound.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): use legacyBehaviour with Link-component
  frontend/shared/src/components/link-text/LinkText.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(kesaseteli): update target group ages to include 17 in handler UI
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/constants/target-group-ages.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat: upgrade to Python 3.12 in shared backend and in kesaseteli
  .github/workflows/ks-py-coding-style.yml
  .github/workflows/ks-pytest.yml
  backend/docker/kesaseteli.Dockerfile
  backend/kesaseteli/README.md
  backend/shared/setup.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: update remaining pyproject.toml files to use ruff with python 3.12
  backend/kesaseteli/pyproject.toml
  backend/shared/pyproject.toml
  pipelines/helsinkilisa-api-dev.yml
  pipelines/helsinkilisa-api-release.yml
  pipelines/kesaseteli-api-dev.yml
  pipelines/kesaseteli-api-release.yml
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(kesaseteli): upgrade pip-tools to 7.5.2 so it works with pip 25.3
  backend/kesaseteli/requirements-dev.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(kesaseteli): upgrade backend packages, use django 5.1
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/requirements-dev.in
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements-prod.in
  backend/kesaseteli/requirements-prod.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(kesaseteli): replace old pytest-freezegun with newer pytest-freezer
  backend/kesaseteli/requirements-dev.in
  backend/kesaseteli/requirements-dev.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(shared,admin): move admin login template to shared folder
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/templates/admin/hel_login.html
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): login to admin site with ADFS
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/templates/admin/hel_login.html
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): tools for semi automated admin management
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/staff_admin_permissions/README.md
  backend/kesaseteli/staff_admin_permissions/__init__.py
  backend/kesaseteli/staff_admin_permissions/apps.py
  backend/kesaseteli/staff_admin_permissions/constants.py
  backend/kesaseteli/staff_admin_permissions/management/__init__.py
  backend/kesaseteli/staff_admin_permissions/management/commands/__init__.py
  backend/kesaseteli/staff_admin_permissions/management/commands/setup_admin_permissions.py
  backend/kesaseteli/staff_admin_permissions/signals.py
  backend/kesaseteli/staff_admin_permissions/tests/__init__.py
  backend/kesaseteli/staff_admin_permissions/tests/test_management_command.py
  backend/kesaseteli/staff_admin_permissions/tests/test_signals.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,auth): add "next"-param handling to mocked login view
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared,auth): preserve deep links and admin redirects in ADFS
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): move filter_by_voucher_and_fuzzy_name to manager
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_querying.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(kesaseteli): add error logging
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: add antigravity editor's files to gitignore
  .gitignore
Due: pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): more features in school admin page
  backend/kesaseteli/applications/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): upgrade from PostgreSQL 13 → 17
  .github/workflows/ks-pytest.yml
  backend/docker/finnish_postgres_13.Dockerfile
  backend/kesaseteli/README.md
  compose.employer.yml
  compose.handler.yml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): summer voucher configuration
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0038_summervoucherconfiguration_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/conftest.py
  backend/kesaseteli/applications/tests/factories.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli): add API endpoint for summer voucher configuration
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
