Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix: second instalments would not appear in listing when archived
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: issues with 2nd instalment not showing up in frontpage (#3661)
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/src/components/header/Header.tsx
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: remove unused arguments
  frontend/kesaseteli/employer/browser-tests/actions/employer-header.actions.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore: lint header
  frontend/shared/browser-tests/page-models/Header.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore: lint header (#3660)
  frontend/kesaseteli/employer/browser-tests/actions/employer-header.actions.ts
  frontend/shared/browser-tests/page-models/Header.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: include CSRF token in tet userinfo endpoint response
  backend/tet/tet/views.py
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update traficom contact info
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/pages/accessibility-statement.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build: pipeline templates by Ansible scripts
  pipelines/yjdh-helsinkilisa-api-dev.yml
  pipelines/yjdh-helsinkilisa-api-release.yml
  pipelines/yjdh-helsinkilisa-api-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: pipeline templates by Ansible scripts
  pipelines/yjdh-helsinkilisa-ui-dev.yml
  pipelines/yjdh-helsinkilisa-ui-release.yml
  pipelines/yjdh-helsinkilisa-ui-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: pipeline templates by Ansible scripts
  pipelines/yjdh-helsinkilisa-ui-handler-dev.yml
  pipelines/yjdh-helsinkilisa-ui-handler-release.yml
  pipelines/yjdh-helsinkilisa-ui-handler-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: helsinkilisa pipelines
  pipelines/helsinkilisa-api-dev.yml
  pipelines/helsinkilisa-api-release.yml
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/helsinkilisa-ui-handler-release.yml
  pipelines/helsinkilisa-ui-release.yml
  pipelines/yjdh-helsinkilisa-api-review.yml
  pipelines/yjdh-helsinkilisa-ui-release.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: remove obsolete pipelines
  azure-pipelines/helsinkilisa-review.yml
  backend/benefit/azure-pipelines-master.yml
  backend/benefit/azure-pipelines-release.yml
  frontend/benefit/azure-pipelines-master.yml
  frontend/benefit/azure-pipelines-release.yml
  frontend/benefit/handler/azure-pipelines-master.yml
  frontend/benefit/handler/azure-pipelines-release.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

build: temporaly ref to helsinkilisa pipelines
  pipelines/helsinkilisa-api-dev.yml
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: remove temporaly refs
  pipelines/helsinkilisa-api-dev.yml
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
Due: pipelines/yjdh-tet-api-dev.yml

fix pipelines intents
  pipelines/helsinkilisa-api-dev.yml
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/tet-admin-ui-dev.yml
  pipelines/tet-api-dev.yml
  pipelines/tet-youth-ui-dev.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: helsinkilisa pipeline refactor (#3666)
  backend/benefit/azure-pipelines-master.yml
  backend/benefit/azure-pipelines-release.yml
  frontend/benefit/azure-pipelines-master.yml
  frontend/benefit/azure-pipelines-release.yml
  frontend/benefit/handler/azure-pipelines-master.yml
  frontend/benefit/handler/azure-pipelines-release.yml
  pipelines/helsinkilisa-api-dev.yml
  pipelines/helsinkilisa-api-release.yml
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/helsinkilisa-ui-handler-release.yml
  pipelines/helsinkilisa-ui-release.yml
  pipelines/tet-admin-ui-dev.yml
  pipelines/tet-api-dev.yml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove year from the application title
  backend/benefit/applications/enums.py
  backend/benefit/applications/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): remove year from the application title (#3667)
  backend/benefit/applications/enums.py
  backend/benefit/applications/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update traficom contact info (#3665)
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/pages/accessibility-statement.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: migrate TET from tunnistamo to tunnistus
  backend/tet/tet/settings.py
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: tunnistus related settings
  backend/tet/tet/settings.py
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: tunnistus OIDC endpoints
  backend/tet/tet/settings.py
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: restore required setting TUNNISTAMO_API_TOKENS_ENDPOINT
  backend/tet/tet/settings.py
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

build: pipeline templates by Ansible scripts
  pipelines/yjdh-kesaseteli-api-dev.yml
  pipelines/yjdh-kesaseteli-api-release.yml
  pipelines/yjdh-kesaseteli-api-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: pipeline templates by Ansible scripts
  pipelines/yjdh-kesaseteli-ui-dev.yml
  pipelines/yjdh-kesaseteli-ui-release.yml
  pipelines/yjdh-kesaseteli-ui-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: pipeline templates by Ansible scripts
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-handler-ui-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: pipeline templates by Ansible scripts
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
  pipelines/kesaseteli-youth-ui-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

chore: update example env to use tunnistus
  .env.tet.example
Due: pipelines/yjdh-tet-api-dev.yml

build: kesaseteli pipelines manual check
  pipelines/kesaseteli-api-dev.yml
  pipelines/kesaseteli-api-release.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-handler-ui-review.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-ui-release.yml
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
  pipelines/kesaseteli-youth-ui-review.yml
  pipelines/yjdh-kesaseteli-api-dev.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: remove obsolete kesaseteli pipelines
  azure-pipelines/kesaseteli-review.yml
  backend/kesaseteli/azure-pipelines-kesaseteli-api-master.yml
  backend/kesaseteli/azure-pipelines-kesaseteli-api-release.yml
  frontend/kesaseteli/azure-pipelines-kesaseteli-ui-master.yml
  frontend/kesaseteli/azure-pipelines-kesaseteli-ui-release.yml
  frontend/kesaseteli/handler/azure-pipelines-devtest.yml
  frontend/kesaseteli/handler/azure-pipelines-stageprod.yml
  frontend/kesaseteli/youth/azure-pipelines-devtest.yml
  frontend/kesaseteli/youth/azure-pipelines-stageprod.yml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: temporaly ref to kesaseteli pipelines
  pipelines/kesaseteli-api-dev.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-youth-ui-dev.yml
Due: pipelines/yjdh-tet-api-dev.yml

chore: remove temporaly refs from pipelines
  pipelines/kesaseteli-api-dev.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-youth-ui-dev.yml
Due: pipelines/yjdh-tet-api-dev.yml

build: pipeline refactor (#3674)
  backend/kesaseteli/azure-pipelines-kesaseteli-api-master.yml
  backend/kesaseteli/azure-pipelines-kesaseteli-api-release.yml
  frontend/kesaseteli/azure-pipelines-kesaseteli-ui-release.yml
  frontend/kesaseteli/handler/azure-pipelines-stageprod.yml
  frontend/kesaseteli/youth/azure-pipelines-stageprod.yml
  pipelines/kesaseteli-api-dev.yml
  pipelines/kesaseteli-api-release.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-ui-release.yml
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: revert "chore: update traficom contact info (#3665)"
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/pages/accessibility-statement.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
