Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(ks,frontend): apply csp headers on root and locale paths
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): allow bootstrap CDN on excel-download page only
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): check full CSP lines in redoc test
  backend/kesaseteli/common/tests/test_openapi_csp.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,frontend): add csp headers to frontend
  frontend/kesaseteli/employer/next.config.js
  frontend/kesaseteli/handler/next.config.js
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
  frontend/kesaseteli/youth/next.config.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): drop connect-src from excel-download csp
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,frontend): add nosniff, referrer and permissions headers
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): avoid trailing whitespace in matomo csp directives
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): add docstrings to OpenAPI views and CSP helper
  backend/kesaseteli/applications/tests/test_csp.py
  backend/kesaseteli/common/openapi_views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): keep existing next.js headers when adding CSP
  frontend/kesaseteli/shared/src/config/__tests__/csp.test.js
  frontend/kesaseteli/shared/src/config/csp.js
Due: pipelines/yjdh-tet-api-dev.yml

feat: migrate frontend package manager from yarn to pnpm
  .husky/scripts/run-frontend-lerna-pre-commit.sh
  frontend/.gitignore
  frontend/.lintstagedrc.js
  frontend/README.md
  frontend/benefit/README.md
  frontend/benefit/applicant/package.json
  frontend/benefit/common/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/README.md
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/README.md
  frontend/kesaseteli/youth/package.json
  frontend/lerna.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade Node.js to 24.17.0
  .nvmrc
  README.md
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/README.md
  frontend/benefit/README.md
  frontend/kesaseteli/README.md
  frontend/kesaseteli/handler/README.md
  frontend/kesaseteli/youth/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pipelines/helsinkilisa-review.yml
  pipelines/helsinkilisa-ui-dev.yml
  pipelines/helsinkilisa-ui-handler-dev.yml
  pipelines/helsinkilisa-ui-handler-release.yml
  pipelines/helsinkilisa-ui-release.yml
  pipelines/kesaseteli-handler-ui-dev.yml
  pipelines/kesaseteli-handler-ui-release.yml
  pipelines/kesaseteli-review.yml
  pipelines/kesaseteli-ui-dev.yml
  pipelines/kesaseteli-ui-release.yml
  pipelines/kesaseteli-youth-ui-dev.yml
  pipelines/kesaseteli-youth-ui-release.yml
  pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: migrate from yarn to pnpm across monorepo
  .gitignore
  .husky/README.md
  README.md
  compose/linux.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: pipelines/yjdh-tet-api-dev.yml

feat: migrate frontend Docker builds from yarn to pnpm
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: migrate frontend workflows to pnpm and bump actions
  .github/workflows/audit.yml
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/ks-empl-frontend-tests.yml
  .github/workflows/ks-handler-frontend-tests.yml
  .github/workflows/ks-shared-frontend-tests.yml
  .github/workflows/ks-youth-frontend-tests.yml
  .github/workflows/shared-backend-coding-style.yml
  .github/workflows/shared-frontend-tests.yml
  .github/workflows/yarn-audit-scheduled.yml
Due: none

ci: update pipeline references to use YJDH-900-migrate-to-pnpm branch
  pipelines/helsinkilisa-review.yml
  pipelines/kesaseteli-review.yml
Due: pipelines/yjdh-tet-api-dev.yml

fix: move runtime deps to dependencies, drop Yarn resolutions
  frontend/package.json
  frontend/pnpm-lock.yaml
  pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add esnext lib to testcafe tsconfig for replaceAll
  frontend/tsconfig.testcafe.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add null check for i18n.changeLanguage in initLocale HOC
  frontend/shared/src/components/hocs/initLocale.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: override vulnerable transitive packages
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: resolve sonar errors and enhance test coverage
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/useApplicationFormStep1.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationCalculator.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/__tests__/useFormContent.test.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/handler/src/components/applicationForm/review/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/__tests__/EmployeeSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/__tests__/EmploymentSection.test.tsx
  frontend/benefit/handler/src/components/applicationReports/__tests__/useApplicationReports.test.ts
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/__tests__/ApplicationProcessingView.test.tsx
  frontend/benefit/handler/src/components/applicationReview/calculatorErrors/__tests__/CalculatorErrors.test.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchProposals.test.tsx
  frontend/benefit/handler/src/components/header/__tests__/Header.test.tsx
  frontend/benefit/handler/src/hooks/__tests__/useCalculatorData.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useFormActions.test.tsx
  frontend/benefit/handler/src/hooks/useCalculatorData.ts
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add react-i18next to app runtimes and clean root workspace config
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(bf-handler): make browser-test date entry robust
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade HDS to v6 and migrate ErrorSummary usage
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/link/OpenInNewTabLink.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.sc.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/SubmitErrorSummary.tsx
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
  frontend/pnpm-lock.yaml
  frontend/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): show all pdf terms on summary page
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/ConsentViewer.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/__tests__/ConsentViewer.test.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf): fixes to main from pre-commit complains
  frontend/benefit/handler/src/components/applicationForm/review/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employeeSection/__tests__/EmployeeSection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/__tests__/EmploymentSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(bf): preserve old terms in applic. approvals
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/terms/models.py
  frontend/benefit/handler/src/components/applicationReview/consentView/ConsentView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add hds-core cookie consent shim for apps and Docker builds
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/scripts/fix-hds-core-cookie-consent.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(frontend): fix unit test compatibility with React 19 and Jest 27
  frontend/benefit/applicant/jest.config.js
  frontend/benefit/handler/jest.config.js
  frontend/jest.config.js
  frontend/shared/src/__tests__/utils/setupTests.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(frontend): remove unused app dependencies
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(frontend): replace react-input-mask with Maskito across apps
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationAccordionItem.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/foreign-iban.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/utils/maskito.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(frontend): migrate suites to Jest 30 and Testing Library 16
  frontend/benefit/applicant/jest-canvas-env.js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/jest-canvas-env.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
  frontend/benefit/handler/src/components/header/__tests__/TemporaryAhjoModeSwitch.test.tsx
  frontend/benefit/shared/jest-canvas-env.js
  frontend/benefit/shared/package.json
  frontend/benefit/shared/src/utils/__tests__/common.test.ts
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/youth/jest.config.js
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/jest-canvas-env.js
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.utils.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade styled-components to v6.1.19
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.sc.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handledView/HandledView.sc.ts
  frontend/benefit/handler/src/components/footer/Footer.sc.ts
  frontend/benefit/handler/src/components/layout/Layout.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/Field.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/handler/src/components/form/VtjRawData.tsx
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/shared/src/components/accordion/Accordion.module.sc.ts
  frontend/shared/src/components/benefit/summaryView/SummaryView.sc.ts
  frontend/shared/src/components/button/Button.sc.ts
  frontend/shared/src/components/button/Button.sc.tsx
  frontend/shared/src/components/button/Button.tsx
  frontend/shared/src/components/container/Container.sc.ts
  frontend/shared/src/components/drawer/Drawer.sc.tsx
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/inputs/Dropdown.sc.ts
  frontend/shared/src/components/forms/inputs/TextInput.sc.ts
  frontend/shared/src/components/forms/section/FormSection.sc.ts
  frontend/shared/src/components/messaging/Messaging.sc.tsx
  frontend/shared/src/components/stepper/Stepper.sc.ts
  frontend/shared/src/components/stepper/WizardStepper.sc.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.utils.test.ts
  frontend/shared/src/types/cssprop.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove legacy ts-jest config and dependency
  frontend/benefit/shared/jest.config.js
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/youth/jest.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): frontend changes for archive pagination
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationArchiveList.tsx
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
  frontend/benefit/handler/src/components/applicationsArchive/__tests__/ApplicationsArchive.test.tsx
  frontend/benefit/handler/src/components/applicationsArchive/__tests__/useApplicationsArchive.test.ts
  frontend/benefit/handler/src/components/applicationsArchive/useApplicationsArchive.ts
  frontend/benefit/handler/src/hooks/__tests__/useSearchApplicationQuery.test.ts
  frontend/benefit/handler/src/hooks/useSearchApplicationQuery.ts
  frontend/benefit/handler/src/types/search.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
