Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(shared): restore scandic characters in cookie consent translations
  frontend/shared/src/utils/cookieConsentSettings.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): decorate excel export get with adfs login
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): apprenticeship decoupling from pay subsidy
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/2-edit-application.testcafe.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/utils/validation.ts
  frontend/benefit/handler/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): strip off view prefix from actions in open api docs
  backend/kesaseteli/common/openapi.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/schema.yaml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): add operation ids
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): simplify youth application serialization and views
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

WIP
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(shared): resolve allowlisted transitive vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(shared): add resolutions for transitive vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(shared): upgrade allowlisted native dependencies
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks,shared): upgrade direct dependencies for security
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(benefit,shared): upgrade direct dependencies
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(shared): upgrade native dependencies for security
  frontend/benefit/common/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(shared): upgrade nextjs to secure version 15.5.19
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks): upgrade Sentry to v10
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): endpoint to set company TOL code
  backend/benefit/companies/api/v1/serializers.py
  backend/benefit/companies/api/v1/views.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tol-code helper text
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): test for manual industrycode update
  backend/benefit/companies/tests/test_api.py
  frontend/benefit/handler/browser-tests/pages/5-ahjo-process.testcafe.ts
  frontend/benefit/handler/src/components/applicationReview/__tests__/CalculationReview.test.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/__tests__/HandlingApplicationActionsAhjo.test.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/__tests__/ApplicationProcessingView.test.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/__tests__/useSalaryBenefitCalculatorData.test.ts
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/useSalaryBenefitCalculatorData.ts
  frontend/benefit/handler/src/hooks/__tests__/useHandlerReviewActions.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateCompanyIndustryCode.test.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tol-code type and handler API endpoint
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): trim tol code input
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/hooks/__tests__/useHandlerReviewActions.test.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): error toast for failing tol code
  backend/benefit/companies/tests/test_api.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/hooks/__tests__/useHandlerReviewActions.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateCompanyIndustryCode.test.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
  frontend/benefit/handler/src/hooks/useUpdateCompanyIndustryCode.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): onChange/onBlur race condition fix
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/__tests__/HandlingApplicationActionsAhjo.test.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/__tests__/ApplicationProcessingView.test.tsx
  frontend/benefit/handler/src/context/AppContext.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): add delay to failing test
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): de minimis with radio buttons
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/CalculationReview.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/useHandlingApplicationActions.ts
  frontend/benefit/handler/src/components/applicationReview/applicationProcessingView/ApplicationProcessingView.tsx
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/useSalaryBenefitCalculatorData.ts
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
  frontend/benefit/handler/src/hooks/useUpdateCompanyIndustryCode.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,handler): improve test coverage
  frontend/kesaseteli/handler/src/__tests__/create-application-without-ssn.test.tsx
  frontend/kesaseteli/handler/src/components/footer/__tests__/Footer.test.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/Inputs.test.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/SubmitErrorSummary.test.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/VtjRawData.test.tsx
  frontend/kesaseteli/handler/src/hooks/application/__tests__/useApplicationWithoutSsnFormField.test.tsx
  frontend/kesaseteli/handler/src/hooks/application/__tests__/useGetApplicationWithoutSsnFormFieldLabel.test.ts
  frontend/kesaseteli/handler/src/hooks/application/__tests__/useHandleApplicationWithoutSsnSubmit.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useCreateYouthApplicationWithoutSsnQuery.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useLogin.test.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useLogout.test.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/handler/src/utils/__tests__/application-without-ssn.utils.test.ts
  frontend/kesaseteli/handler/src/utils/__tests__/type-guards.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,youth): improve test coverage for youth UI
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.validation.test.tsx
  frontend/kesaseteli/youth/src/components/youth-form/__tests__/SchoolSelection.test.tsx
  frontend/kesaseteli/youth/src/components/youth-form/__tests__/SubmitErrorSummary.test.tsx
  frontend/kesaseteli/youth/src/components/youth-form/__tests__/TargetGroupSelection.test.tsx
  frontend/kesaseteli/youth/src/hooks/__tests__/useHandleYouthApplicationSubmit.test.tsx
  frontend/kesaseteli/youth/src/hooks/backend/__tests__/useCreateAdditionalInfoQuery.test.tsx
  frontend/kesaseteli/youth/src/utils/__tests__/type-guards.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks,employer): remove unused components
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmployeeErrorNotification.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmploymentsErrorNotification.tsx
  frontend/kesaseteli/employer/src/hooks/application/useAccordionStateLocalStorage.ts
Due: pipelines/yjdh-tet-api-dev.yml

test(ks,employer): improve test coverage
  frontend/kesaseteli/employer/src/components/application/form/error-summary/__tests__/ErrorNotificationRow.test.tsx
  frontend/kesaseteli/employer/src/hocs/__tests__/withEmployerAuth.test.tsx
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useApplicationFormField.test.tsx
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useLoadDraftOrCreateNewApplication.test.ts
  frontend/kesaseteli/employer/src/hooks/application/__tests__/useResetApplicationFormValuesEffect.test.ts
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useCreateApplicationQuery.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useDeleteApplicationQuery.test.tsx
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useOpenAttachment.test.ts
  frontend/kesaseteli/employer/src/hooks/backend/__tests__/useOperationPermitted.test.ts
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useGetEmploymentErrors.test.tsx
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useValidateEmployment.test.tsx
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useValidateEmploymentsNotEmpty.test.tsx
  frontend/kesaseteli/employer/src/hooks/employments/__tests__/useWatchEmployeeDisplayName.test.tsx
  frontend/kesaseteli/employer/src/utils/application-form.utils.test.ts
  frontend/kesaseteli/employer/src/utils/localstorage.utils.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(benefit): new fields added to the backend
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/migrations/0095_application_purchased_service_and_more.py
  backend/benefit/applications/migrations/0096_application_other_subsidised_employed_and_more.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_application_clone.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant summary page
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
