Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(benefit): applications with requested payslips
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/applicationList/ApplicationList.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/useApplicationList.ts
  frontend/benefit/applicant/src/hooks/useApplicationsQuery.ts
  frontend/benefit/applicant/src/pages/index.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useRouterNavigation.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): tests for showing payslip request
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/__tests__/SecondInstalmentListItem.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to logic
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): translations for new texts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): run pre-commit
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add missing backends to audit log DJANGO_BACKEND_MAPPING
  backend/shared/shared/audit_log/mappings.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): prevent double organization selection loop
  backend/shared/shared/oidc/tests/test_hki_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): backend testing
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): various fixes to bugs
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/mappings.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): suomi-fi logout relay state handling for next-url
  backend/kesaseteli/kesaseteli/urls.py
  backend/shared/shared/suomi_fi/tests/test_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): use persistent Suomi.fi usernames
  backend/kesaseteli/kesaseteli/settings.py
  backend/shared/shared/suomi_fi/auth.py
  backend/shared/shared/suomi_fi/tests/test_auth.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(ks): add ENCRYPTION_KEY and SOCIAL_SECURITY_NUMBER_HASH_KEY
  .github/workflows/ks-backend-ci.yml
  backend/docker/kesaseteli.Dockerfile
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes from copilot
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/tests/test_applications_api.py
  frontend/benefit/applicant/src/components/applications/applicationList/__tests__/useApplicationList.test.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/useApplicationList.ts
  frontend/benefit/applicant/src/pages/index.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useRouterNavigation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): various fixes to bugs
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/shared/shared/audit_log/audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): handle existing draft redirection on thank you page
  frontend/kesaseteli/employer/browser-tests/application-page/application.mocks.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/__tests__/thankyou.test.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix: new uuid is not imported properly
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to button and ordering
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/SecondInstalmentListItem.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/__tests__/SecondInstalmentListItem.test.tsx
  frontend/benefit/applicant/src/pages/index.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: improve application api test resilience
  backend/kesaseteli/applications/tests/test_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add foreign IBAN payment fields
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/exporters/excel_exporter.py
  backend/kesaseteli/applications/migrations/0058_employerapplication_bank_address_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_validation.py
  backend/kesaseteli/applications/tests/test_foreign_iban_fields.py
  backend/kesaseteli/common/tests/factories.py
  frontend/kesaseteli/employer/browser-tests/actions/application.actions.ts
  frontend/kesaseteli/employer/browser-tests/application-page/application.testcafe.ts
  frontend/kesaseteli/employer/browser-tests/application-page/step1.components.ts
  frontend/kesaseteli/employer/browser-tests/application-page/summary.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/application.test.tsx
  frontend/kesaseteli/employer/src/__tests__/foreign-iban.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerForm.tsx
  frontend/kesaseteli/employer/src/components/application/summary/ApplicationSummary.tsx
  frontend/kesaseteli/employer/src/hooks/application/useIsForeignIban.ts
  frontend/kesaseteli/employer/src/utils/application.utils.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/contact-info.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared,backend): fix parallel running of shared backend tests
  backend/shared/shared/suomi_fi/tests/test_auth.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: use example.org when generating emails
  backend/kesaseteli/common/tests/factories.py
  backend/shared/shared/common/tests/factories.py
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): apprenticeship cannot be changed
  frontend/benefit/applicant/src/components/applications/forms/application/step2/useApplicationFormStep2.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step5/useApplicationFormStep5.ts
  frontend/benefit/applicant/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add use of randomly generated voucher serial numbers
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0059_remove_sequence_model.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_validation.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_serial_number_allocation.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,api): updated translation files
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): provide translations for target groups through API endpoint
  backend/kesaseteli/applications/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/test_localized_api.py
  backend/kesaseteli/common/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/common/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/common/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/companies/locale/sv/LC_MESSAGES/django.po
  backend/kesaseteli/kesaseteli/locale/en/LC_MESSAGES/django.po
  backend/kesaseteli/kesaseteli/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/kesaseteli/locale/sv/LC_MESSAGES/django.po
  frontend/kesaseteli/shared/jest.config.js
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/useSummerVoucherConfigurationQuery.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): add & use get_by_serial_number on queryset/manager
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): custom azure storage class to hide token from url
  backend/benefit/helsinkibenefit/tests/test_storage.py
  backend/benefit/helsinkibenefit/utils/storage.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
