Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

azure-pipelines/helsinkilisa-review.yml:

#
# Review pipeline. Run build and deploy for Platta test environments.
# Pipeline runs different tests e.g. unittest and browser tests.
#
# Continuous integration (CI) triggers cause a pipeline to run whenever you push
# an update to the specified branches or you push specified tags.
# only PR trigger pipeline
trigger: none

# Pull request (PR) triggers cause a pipeline to run whenever a pull request is
# opened with one of the specified target branches, or when updates are made to
# such a pull request.
#
# GitHub creates a new ref when a pull request is created. The ref points to a
# merge commit, which is the merged code between the source and target branches
# of the pull request.
#
# Opt out of pull request validation
pr:
  # PR target branch
  branches:
    include:
      - main
  paths:
    include:
      - azure-pipelines/helsinkilisa-review.yml
      - backend/docker/benefit.Dockerfile
      - backend/benefit/**
      - backend/shared/**
      - frontend/*
      - frontend/benefit/**
      - frontend/shared/**
    exclude:
      - README.md
      - backend/kesaseteli/**
      - backend/tet/**
      - frontend/kesaseteli/**
      - frontend/tet/**
      - frontend/**/browser-tests
      - frontend/**/__tests__

# By default, use self-hosted agents
pool: Default

resources:
  repositories:
    # Azure DevOps repository
    - repository: yjdh-helsinkilisa-pipelines
      type: git
      # Azure DevOps project/repository
      name: yjdh-helsinkilisa/yjdh-helsinkilisa-pipelines

extends:
  # Filename in Azure DevOps Repository (note possible -ui or -api)
  # Django example: azure-pipelines-PROJECTNAME-api-release.yml
  # Drupal example: azure-pipelines-drupal-release.yml
  template:
    azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    # Application build arguments and config map values as key value pairs.
    # The values here will override the values defined in the yjdh-benefit-pipelines repository.
    # for example
  parameters:
    configMap: # pod environment variables
      LOAD_DEFAULT_TERMS: 1
      LOAD_FIXTURES: 1
    # buildArgs:
    #   NEXT_PUBLIC_DEBUG: 0

azure-pipelines/kesaseteli-api-review.yml:

#
# Review pipeline. Run build and deploy for Platta test environments.
# Pipeline runs different tests e.g. unittest and browser tests.
#
# Continuous integration (CI) triggers cause a pipeline to run whenever you push
# an update to the specified branches or you push specified tags.
# only PR trigger pipeline
trigger: none

# Pull request (PR) triggers cause a pipeline to run whenever a pull request is
# opened with one of the specified target branches, or when updates are made to 
# such a pull request.
#
# GitHub creates a new ref when a pull request is created. The ref points to a 
# merge commit, which is the merged code between the source and target branches 
# of the pull request.
#
# Opt out of pull request validation 
pr:
  # PR target branch
  branches:
    include:
    - develop
  paths:
    include:
      - backend/kesaseteli/**
      - backend/shared/**
    exclude:
      - README.md

# By default, use self-hosted agents
pool: Default

resources:
  repositories:
  # Azure DevOps repository
  - repository: yjdh-kesaseteli-pipelines
    type: git
    # Azure DevOps project/repository
    name: yjdh/yjdh-kesaseteli-pipelines

extends:
  # Filename in Azure DevOps Repository (note possible -ui or -api)
  # Django example: azure-pipelines-PROJECTNAME-api-release.yml
  # Drupal example: azure-pipelines-drupal-release.yml
  template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

feat: enqueue for ahjo deletion on cancellation (#3092)
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: add factory and seeding for alteration
  backend/benefit/applications/management/commands/seed.py
  backend/benefit/applications/tests/factories.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: csv service for application alteration
  backend/benefit/applications/services/application_alteration_csv_report.py
  backend/benefit/applications/tests/conftest.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/companies/models.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: download endpoint for alteration csv
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/management/commands/seed.py
  backend/benefit/applications/services/application_alteration_csv_report.py
  backend/benefit/applications/tests/test_applications_report.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: update & download alteration as csv
  backend/benefit/applications/api/v1/application_views.py
  frontend/benefit/handler/src/components/alterationHandling/AlterationCsvButton.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/hooks/useUpdateApplicationAlterationWithCsvQuery.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml

test: application needs to be accepted
  backend/benefit/applications/tests/test_application_search.py
Due: azure-pipelines/helsinkilisa-review.yml

refactor: rename function parameter
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml

refactor: rename queryset variables
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: queryset for archival applications
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml

refactor: rename search by company name function
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: perform in-memory search for both application types
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: search by business id (archival)
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: search by archival number
  backend/benefit/applications/api/v1/search_views.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: remove archival applications filter component
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
Due: azure-pipelines/helsinkilisa-review.yml

test: properly test imported spreadsheet values
  backend/benefit/applications/tests/test_command_import_archival_applications.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: add initial sort order and key
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationArchiveList.tsx
Due: azure-pipelines/helsinkilisa-review.yml

refactor: revisit import code and add possible optional fields
  backend/benefit/applications/management/commands/import_archival_applications.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: make shared backend code compatible with black 24.4.2
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/common/utils.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

feat: upgrade black/isort/flake8 to latest versions in all backends
  .pre-commit-config.yaml
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/api/v1/application_batch_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/benefit_aggregation.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_xml_builder.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/messages/automatic_messages.py
  backend/benefit/requirements-dev.in
  backend/benefit/requirements-dev.txt
  backend/benefit/users/api/v1/authentications.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_schools_api.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/kesaseteli/__init__.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/requirements-dev.in
  backend/kesaseteli/requirements-dev.txt
  backend/tet/events/transformations.py
  backend/tet/requirements-dev.in
  backend/tet/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

fix: django 5 deprecation warning by using datetime.timezone.utc
  backend/shared/shared/audit_log/tests/test_audit_logging.py
  backend/shared/shared/common/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

chore: get rid sonarcloud's typescript:S2871 issue by not using .sort()
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
Due: none

feat: upgrade Kesäseteli's backend to Red Hat's ubi9 image of Python 3.9
  backend/docker/kesaseteli.Dockerfile
  backend/kesaseteli/README.md
  backend/kesaseteli/docker-entrypoint.sh
Due: azure-pipelines/kesaseteli-api-review.yml

feat: upgrade Django to 4.2 & all dependencies except black/isort/flake8
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/migrations/0036_alter_historicalemployerapplication_options_and_more.py
  backend/kesaseteli/applications/tests/test_schools_api.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/backward_compatibility.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/mixins.py
  backend/kesaseteli/common/tests/test_backward_compatibility.py
  backend/kesaseteli/kesaseteli/__init__.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/requirements-dev.in
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements-prod.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml

fix: use Python 3.9 everywhere for Kesäseteli to be consistent
  .github/workflows/ks-py-coding-style.yml
  .github/workflows/ks-pytest.yml
Due: none

fix(kesaseteli): downgrade to elasticsearch v7 to fix send_audit_log
  backend/kesaseteli/requirements-dev.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml

feat(frontend): use Red Hat UBI image node.js v18 in Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile-localdevelopment
  frontend/README.md
Due: azure-pipelines/helsinkilisa-review.yml

fix: saml2 login, xmlsec1-openssl library was missing
  backend/docker/kesaseteli.Dockerfile
Due: none

refactor: clean up some status mess
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
Due: azure-pipelines/helsinkilisa-review.yml

chore: series of improvements for application search (#3126)
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/management/commands/import_archival_applications.py
  backend/benefit/applications/tests/test_application_search.py
  backend/benefit/applications/tests/test_command_import_archival_applications.py
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationArchiveList.tsx
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationsArchive.tsx
Due: azure-pipelines/helsinkilisa-review.yml

feat: improve on table listings (HL-1325) (#3119)
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/components/batchProcessing/ApplicationsHandled.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: allow handler to use messenger on accepted/rejected applications
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/shared/src/components/messaging/Actions.tsx
Due: azure-pipelines/helsinkilisa-review.yml
