Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat: fronted button for compact report
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/src/components/applicationReports/ApplicationReports.tsx
  frontend/benefit/handler/src/components/applicationReports/ReportsSection.tsx
  frontend/benefit/handler/src/components/applicationReports/useApplicationReports.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: refactor ahjo client error logging
  backend/benefit/applications/services/ahjo_client.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: don't block ahjo requests if xml build fails
  backend/benefit/applications/services/ahjo_error_writer.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_xml_builder.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Hl 1475 submitted at (#3443)
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/test_ahjo_payload.py
  backend/benefit/applications/tests/test_applications_report.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReports/ApplicationReports.tsx
  frontend/benefit/handler/src/components/applicationReports/ReportsSection.tsx
  frontend/benefit/handler/src/components/applicationReports/useApplicationReports.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: don't block ahjo requests if xml build fails (#3463)
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_error_writer.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_xml_builder.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: change word delete to cancel if app is not a draft (#3476)
  frontend/benefit/applicant/browser-tests/page-model/WizardStep.ts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step3/ApplicationFormStep3.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step4/ApplicationFormStep4.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/stepperActions/StepperActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add yarn version number
  package.json
Due: pipelines/yjdh-tet-api-dev.yml

fix: first instalment amount if two instalments
  backend/benefit/calculator/rules.py
  backend/benefit/calculator/tests/test_calculator_api.py
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: instalments in Django admin
  backend/benefit/calculator/admin.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: instalments disabled by default
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: implement api endpoints for instalments
  backend/benefit/applications/api/v1/instalment_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/api/v1/views.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: extract manual ahjo index to it's own component
  frontend/benefit/handler/src/components/applicationList/HandlerIndexManual.tsx
  frontend/benefit/handler/src/pages/index.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update translations
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: add fixtures for instalment e2e tests
  backend/benefit/applications/fixtures/test_applications.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: implement instalment ui
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/hooks/useInstalmentStatusTransition.ts
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: allow for talpa-rejected batches to be seen
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: allow for talpa-rejected batches to be seen (#3501)
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: HL-1544 (#3500)
  backend/benefit/calculator/admin.py
  backend/benefit/calculator/rules.py
  backend/benefit/calculator/tests/test_calculator_api.py
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update hds-react to 3.11
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: upgrade next from 14.2.12 to 14.2.15
  frontend/tet/youth/package.json
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update tet-youth
  frontend/tet/youth/next-env.d.ts
  frontend/tet/youth/public/locales/en/common.json
  frontend/tet/youth/public/locales/fi/common.json
  frontend/tet/youth/public/locales/sv/common.json
  frontend/tet/youth/src/components/footer/Footer.tsx
  frontend/tet/youth/src/components/header/Header.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update tet-admin
  frontend/tet/admin/next-env.d.ts
  frontend/tet/admin/public/locales/en/common.json
  frontend/tet/admin/public/locales/fi/common.json
  frontend/tet/admin/public/locales/sv/common.json
  frontend/tet/admin/src/components/footer/Footer.tsx
  frontend/tet/admin/src/components/header/Header.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: headerV3 props
  frontend/shared/src/components/header/HeaderV3.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: implement instalments gui for handler (hl-1494) (#3498)
  backend/benefit/applications/api/v1/instalment_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/api/v1/validators.py
  backend/benefit/calculator/api/v1/views.py
  backend/benefit/helsinkibenefit/urls.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationList.sc.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndexManual.tsx
  frontend/benefit/handler/src/components/applicationList/useApplicationListData.ts
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/hooks/useInstalmentStatusTransition.ts
  frontend/benefit/handler/src/pages/index.tsx
  frontend/benefit/handler/src/types/applicationList.d.ts
  frontend/benefit/handler/src/utils/applications.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add a new accordion for instalments in the decision box
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: expose instalment data to single application; validate instalment status data
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/calculator/api/v1/serializers.py
  backend/benefit/calculator/api/v1/views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: refactor and fix some details on instalment sums
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add custom sort function for decision date (hl-1526)
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: backend/kesaseteli/requirements-dev.txt to reduce vulnerabilities
  backend/kesaseteli/requirements-dev.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: backend/tet/requirements-dev.txt to reduce vulnerabilities
  backend/tet/requirements-dev.txt
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: backend/kesaseteli/requirements.txt to reduce vulnerabilities
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: backend/benefit/requirements-prod.txt to reduce vulnerabilities
  backend/benefit/requirements-prod.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: backend/benefit/requirements-dev.txt to reduce vulnerabilities
  backend/benefit/requirements-dev.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: backend/benefit/requirements.txt to reduce vulnerabilities
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use modal for instalment cancel confirm and archive application when proceeding
  backend/benefit/calculator/api/v1/views.py
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: hds 3.11 was missing from yarn.lock
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: headerV3 types
  frontend/shared/src/components/header/HeaderV3.tsx
  frontend/tet/admin/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: tet-admin ssr issues
  frontend/tet/admin/src/components/login/CardWrapper.tsx
  frontend/tet/admin/src/components/login/LoginLinks.tsx
  frontend/tet/admin/src/pages/_app.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: tet-youth ssr issues
  frontend/tet/youth/src/components/header/Header.tsx
  frontend/tet/youth/src/pages/_app.tsx
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
