Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

feat(ks,employer): show organisation name and show only mine toggle
  frontend/kesaseteli/employer/browser-tests/index-page/dashboard.components.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/ApplicationTable.test.tsx
  frontend/kesaseteli/employer/src/__tests__/Dashboard.test.tsx
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/components/dashboard/ApplicationTable.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/backend/backend-nocks.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): custom logout handler to fix next-url handling
  backend/kesaseteli/kesaseteli/urls.py
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: bf backend test missing library
  .github/workflows/bf-backend-ci.yml
Due: none

chore: kesaseteli backend ci workflow
  .github/workflows/ks-backend-ci.yml
  backend/kesaseteli/sonar-project.properties
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: ks backend test missing library
  .github/workflows/ks-backend-ci.yml
Due: none

feat(shared): custom logout handler to fix next-url handling
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_logout.py
  backend/shared/shared/azure_adfs/tests/test_mock_views.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add readiness probe with db check and metadata
  .env.kesaseteli-backend.example
  backend/kesaseteli/common/tests/test_probes.py
  backend/kesaseteli/common/views.py
  backend/kesaseteli/kesaseteli/__init__.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  release-please-config.json
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

build: backend ci workflows
  .github/workflows/bf-backend-ci.yml
  .github/workflows/bf-pytest.yml
  .github/workflows/ks-backend-ci.yml
  .github/workflows/ks-py-coding-style.yml
  .github/workflows/ks-pytest.yml
  .github/workflows/shared-backend-coding-style.yml
Due: none

build: backend ci workflow triggers
  .github/workflows/bf-backend-ci.yml
  .github/workflows/ks-backend-ci.yml
Due: none

chore(benefit): fix lint errors Refs: KEH-189
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step3/ApplicationFormStep3.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: nextjs upgrade to 15
  frontend/benefit/applicant/instrumentation.ts
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/instrumentation.ts
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/instrumentation.ts
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/handler/instrumentation.ts
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/instrumentation.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update target to es2018 and set all typescript to 5.9.3
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/utils/string.utils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: security update
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: fix axios http adapter for tests. fix some eslint warnings
  frontend/.eslintrc.base.js
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: type check and eslint errors
  frontend/.eslintrc.base.js
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step2/error-notification/EmployeeErrorNotification.tsx
  frontend/kesaseteli/employer/src/hooks/application/useApplicationFormField.ts
  frontend/kesaseteli/handler/src/hooks/application/useApplicationWithoutSsnFormField.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/pages/PageNotFound.tsx
  frontend/shared/src/utils/matomo.ts
  frontend/shared/src/utils/string.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: cookie consent bug and data-testid typing
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

ci(benefit): workflow triggers, jest canvas fix Refs: KEH-189
  .github/workflows/bf-applicant-frontend-tests.yml
  .github/workflows/bf-handler-frontend-tests.yml
  .github/workflows/bf-shared-frontend-tests.yml
  .github/workflows/shared-frontend-tests.yml
  frontend/benefit/applicant/jest-canvas-env.js
  frontend/benefit/applicant/jest.config.js
  frontend/benefit/handler/jest-canvas-env.js
  frontend/benefit/handler/jest.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): simplify readiness probe key assertions
  backend/kesaseteli/common/tests/test_probes.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: ci-django-api from main
  .github/workflows/bf-backend-ci.yml
  .github/workflows/ks-backend-ci.yml
Due: none

chore: ks-ci remove extra envvars
  .github/workflows/ks-backend-ci.yml
Due: none

chore: backend ci workflows (#3928)
  .github/workflows/bf-backend-ci.yml
  .github/workflows/bf-pytest.yml
  .github/workflows/ks-backend-ci.yml
  .github/workflows/ks-py-coding-style.yml
  .github/workflows/ks-pytest.yml
  .github/workflows/shared-backend-coding-style.yml
  backend/benefit/sonar-project.properties
  backend/kesaseteli/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: some test errors and warnings
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step3/ApplicationFormStep3.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/header/Header.tsx
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/kesaseteli/youth/src/pages/cookie-settings.tsx
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/backend-api/BackendAPIProvider.tsx
  frontend/shared/src/components/drawer/Drawer.tsx
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): check ignored paths before parent in Sentry sampler
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): move Sentry sampler out of settings
  backend/kesaseteli/kesaseteli/sentry_config.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/tests/__init__.py
  backend/kesaseteli/kesaseteli/tests/test_sentry_config.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): auth-adfs should support redirecting to front services
  backend/shared/shared/azure_adfs/mock_views.py
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/azure_adfs/urls.py
  backend/shared/shared/azure_adfs/views.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_hki_views.py
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/oidc/views/eauth_views.py
  backend/shared/shared/oidc/views/hki_views.py
  backend/shared/shared/suomi_fi/views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add header with login and logout features
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/hooks/backend/useLogin.ts
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add adfs auth related configuration
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): adfs logout handling
  backend/kesaseteli/kesaseteli/admin_site.py
  frontend/kesaseteli/handler/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks,backend): add type hints to Sentry config tests
  backend/kesaseteli/kesaseteli/tests/test_sentry_config.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): turn off sentry logging by default
  .env.kesaseteli-backend.example
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes according to review
  backend/benefit/calculator/api/v1/serializers.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add sonar-project.properties file to benefit backend
  backend/benefit/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

ci: add sonar-project.properties to kesaseteli backend
  backend/kesaseteli/sonar-project.properties
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixed the calculation of 2nd instalment due date
  backend/benefit/applications/tests/test_ahjo_decisions.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/rules.py
  backend/benefit/calculator/tests/test_calculator_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: benefit browser tests
  .env.benefit-applicant.example
  .env.benefit-backend.example
  .env.benefit-handler.example
  frontend/benefit/applicant/browser-tests/page-model/step3.ts
  frontend/benefit/applicant/browser-tests/page-model/step4.ts
  frontend/benefit/applicant/browser-tests/page-model/step6.ts
  frontend/benefit/applicant/browser-tests/pages/sample.pdf
Due: pipelines/yjdh-tet-api-dev.yml

chore(benefit): add Sonar project name
  frontend/benefit/applicant/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
