Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat: save missing version_series_id error
  backend/benefit/applications/management/commands/send_ahjo_requests.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: test what line fails
  frontend/tet/admin/browser-tests/login/login.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat: allow instalment status change to accepted
  backend/benefit/calculator/api/v1/validators.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: new translations for status change
  frontend/benefit/handler/public/locales/fi/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: save missing version_series_id error (#3641)
  backend/benefit/applications/management/commands/send_ahjo_requests.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: enable status change when error_in_talpa
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationList/InstalmentButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: language change unit test
  frontend/kesaseteli/employer/src/components/header/__tests__/Header.test.tsx
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
  frontend/kesaseteli/youth/src/components/header/__tests__/Header.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix: linter error and logout test
  frontend/kesaseteli/shared/src/__tests__/utils/component-apis/header-api.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: tet admin browser test
  frontend/tet/admin/browser-tests/login/login.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat: Hl 1575 instalment to accepted (#3642)
  backend/benefit/calculator/api/v1/validators.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationTableFooter.tsx
  frontend/benefit/handler/src/components/applicationList/InstalmentButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Better text for Sent to Ahjo message
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Added Ahjo Case Id (diaari) and removed Go to Ahjo button in Sent to Ahjo message
  frontend/benefit/handler/src/components/applicationReview/notificationView/NotificationView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: user aria-label test
  frontend/shared/browser-tests/page-models/Header.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: Remove import of not used IconLinkExternal
  frontend/benefit/handler/src/components/applicationReview/notificationView/NotificationView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: rename HeaderV3 to Header
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/handler/src/components/header/Header.sc.ts
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/youth/src/components/header/Header.tsx
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/header/__tests__/Header.test.tsx
  frontend/shared/src/components/header/useHeader.ts
  frontend/tet/admin/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Hl 1551 (#3645)
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReview/notificationView/NotificationView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: hds header import
  frontend/shared/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Removed email promise text from application send confirmation
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: login button selector
  frontend/shared/browser-tests/page-models/Header.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat: delete applications older than 10 years
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/applications/management/commands/delete_applications.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Added own text for application resubmission
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: update hds design tokens
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/tet/admin/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: round alteration recovery amount down
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application_alteration.py
  backend/benefit/applications/tests/test_alteration_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Fixing failing test - both screens were shown
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: show both instalments in csv always
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: typos and array
  frontend/kesaseteli/employer/src/components/header/__tests__/Header.test.tsx
  frontend/kesaseteli/youth/src/components/header/__tests__/Header.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix: round alteration recovery amount down (#3648)
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application_alteration.py
  backend/benefit/applications/services/applications_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/tests/test_alteration_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: OSerror in Sentry
  backend/benefit/.prod/uwsgi.ini
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: add support for vscode dev container
  frontend/Dockerfile-localdevelopment
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: set calculator constants from env variables
  backend/benefit/calculator/rules.py
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Adding {} -may help or not
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: rename function
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: send message and email when new information is required
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: Remove &&
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Hl 1548 (#3647)
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: invalidate messages when additional_information_required
  frontend/benefit/handler/src/hooks/useRequireAdditionalInformation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: delete applications older than 10 years (#3646)
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
  backend/benefit/applications/management/commands/delete_applications.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: issues with addtional_information_required (hl-1566) (#3649)
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/hooks/useRequireAdditionalInformation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
