Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

refactor(ks): improve request_id check and use system user when empty
  backend/kesaseteli/companies/tests/test_company_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): configurable transfer enabler for resilient logger
  .env.kesaseteli-backend.example
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

docs: update audit_log README with deprecation status
  backend/shared/shared/audit_log/README.md
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): compliance logging for login, logout, mandates
  backend/kesaseteli/README.md
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/test_company_auth_logging.py
  backend/kesaseteli/kesaseteli/AUTH_LOGGING.md
  backend/kesaseteli/kesaseteli/apps.py
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/jobs/__init__.py
  backend/kesaseteli/kesaseteli/jobs/quarter_hourly/__init__.py
  backend/kesaseteli/kesaseteli/jobs/quarter_hourly/submit_resilient_log.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/tests/conftest.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/shared/shared/oidc/signals.py
  backend/shared/shared/oidc/utils.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): add compliance logging for VTJ queries
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/signals.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): add request ID to VTJ query client and logging
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove AuditLogEntry model and admin view
  backend/shared/shared/audit_log/admin.py
  backend/shared/shared/audit_log/audit_logging.py
  backend/shared/shared/audit_log/migrations/0003_delete_auditlogentry.py
  backend/shared/shared/audit_log/models.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): extract VTJ query type string to a constant
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove old audit log transfer tasks
  backend/shared/shared/audit_log/jobs/monthly/clear_audit_log_entries.py
  backend/shared/shared/audit_log/jobs/quarter_hourly/send_audit_log.py
  backend/shared/shared/audit_log/tasks.py
  backend/shared/shared/audit_log/tests/test_audit_logging.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

docs(ks): document django-auditlog and django-auditlog-extra usage
  backend/kesaseteli/README.md
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): use signal's non robust send instead of robust
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): fix type hints and pyrefly issues
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/companies/services.py
  backend/shared/shared/oidc/utils.py
  backend/shared/shared/vtj/vtj_client.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks): remove old auditlog envvars and settings
  backend/kesaseteli/kesaseteli/auditlog_settings.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks): remove shared.audit_log from installed apps
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(ks): remove elasticsearch 7 from deps
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add routed log targets for multi-index resilient logger
  .env.kesaseteli-backend.example
  backend/kesaseteli/kesaseteli/log_targets.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/tests/test_routed_log_target.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): use new auditlog index
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): improve DVV clients exception reporting
  backend/kesaseteli/applications/api/v1/exceptions.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

build(ks): change resilient logger transger environment variable names
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

build(ks): clean ES-related environment variables and settings
  .env.kesaseteli-backend.example
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(shared): fix failing tests
  backend/shared/shared/audit_log/viewsets.py
  backend/shared/shared/suomi_fi/tests/test_views.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): add attachment for company business brief
  backend/benefit/applications/enums.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): application cloning functionality
  backend/benefit/applications/services/clone_application.py
  backend/benefit/applications/tests/test_application_clone.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): models and tests for new fields
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/migrations/0094_application_company_business_brief_and_more.py
  backend/benefit/applications/models.py
  backend/benefit/applications/tests/factories.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_command_set_as_archived.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): handler ui changes for new fields
  frontend/benefit/handler/browser-tests/constants/forms.ts
  frontend/benefit/handler/browser-tests/pages/1-new-application.testcafe.ts
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/__tests__/FormContent.test.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/__tests__/CompanySection.test.tsx
  frontend/benefit/handler/src/components/applicationForm/utils/__tests__/validation.test.ts
  frontend/benefit/handler/src/components/applicationForm/utils/validation.ts
  frontend/benefit/handler/src/constants.ts
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): create structured resilient log of auth events
  backend/kesaseteli/applications/tests/test_applications_auth_logging.py
  backend/kesaseteli/companies/tests/test_company_auth_logging.py
  backend/kesaseteli/kesaseteli/AUTH_LOGGING.md
  backend/kesaseteli/kesaseteli/auth_logging.py
  backend/kesaseteli/kesaseteli/tests/test_auth_logging.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant ui changes
  frontend/benefit/applicant/browser-tests/page-model/deminimis.ts
  frontend/benefit/applicant/browser-tests/page-model/step1.ts
  frontend/benefit/applicant/browser-tests/page-model/step2.ts
  frontend/benefit/applicant/browser-tests/pages/association.testcafe.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
  frontend/benefit/applicant/browser-tests/types.ts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/ApplicationFormStep1.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/useCompanyInfo.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step1/useApplicationFormStep1.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/applicant/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant pdf summary printout
  backend/benefit/applications/templates/application.html
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): jest tests for applicant ui
  frontend/benefit/applicant/src/components/applications/forms/application/step1/__tests__/ApplicationFormStep1.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/__tests__/CompanyInfo.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/__tests__/validation.test.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/__tests__/ApplicationFormStep2.test.tsx
  frontend/benefit/applicant/src/hooks/__tests__/useFormActions.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): small fixes to handler ui
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): empty strings removed from new translations
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): cloning fixed to continue on read errors
  backend/benefit/applications/services/clone_application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): number of employees validation and normalization
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/applicant/src/hooks/useFormActions.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
