Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

chore(compose): add missing env variables from tet postgres
  compose.tet-admin.yml
  compose.tet-youth.yml
Due: pipelines/yjdh-tet-api-dev.yml

chore(compose): remove obsolete version attribute
  compose.benefit-backend.yml
  compose.benefit.yml
  compose.employer.yml
  compose.handler.yml
  compose.tet-admin.yml
  compose.tet-youth.yml
  compose.tet.yml
Due: pipelines/yjdh-tet-api-dev.yml

chore(tet): remove redundant xlsxwriter
  backend/tet/requirements-dev.txt
  backend/tet/requirements-prod.txt
  backend/tet/requirements.in
  backend/tet/requirements.txt
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(compose): postgres mapped only to localhost
  compose.benefit-backend.yml
  compose.benefit.yml
  compose.employer.yml
  compose.handler.yml
  compose.tet-admin.yml
  compose.tet-youth.yml
  compose.tet.yml
Due: pipelines/yjdh-tet-api-dev.yml

chore(dockerfile): use RedHat UBI base image
  backend/docker/tet.Dockerfile
  backend/tet/docker-entrypoint.sh
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(settings): make debug setting configurable
  backend/tet/tet/settings.py
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: ensure pip, setuptools, and wheel are up to date
  backend/docker/benefit-arm.Dockerfile
  backend/docker/benefit-ubi-arm.Dockerfile
  backend/docker/benefit.Dockerfile
  backend/docker/kesaseteli.Dockerfile
  backend/docker/tet.Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: schedule decisionmaker request (Hl 1468) (#3329)
  backend/benefit/applications/admin.py
  backend/benefit/applications/jobs/daily/daily_application_jobs.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: store ahjo validation errors to ahjoStatus (#3342)
  backend/benefit/applications/migrations/0084_ahjostatus_validation_error_from_ahjo.py
  backend/benefit/applications/models.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/tests/test_ahjo_requests.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add SBOM to powerBI csv
  backend/benefit/applications/api/v1/power_bi_integration_views.py
  backend/benefit/applications/tests/test_power_bi_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: pdf_summary delete on application update
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add SBOM to powerBI csv (#3355)
  backend/benefit/applications/api/v1/power_bi_integration_views.py
  backend/benefit/applications/tests/test_power_bi_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: pdf_summary delete on application update (#3356)
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: revisit logic on how and when to show alteration summary (hl-1472) (#3335)
  .env.benefit-applicant.example
  .env.benefit-handler.example
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/applications/tests/test_applications_api.py
  frontend/benefit/applicant/src/components/applications/alteration/AlterationPage.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/PageContent.tsx
  frontend/benefit/applicant/src/components/applications/pageContent/usePageContent.ts
  frontend/benefit/applicant/src/components/decisions/DecisionsApplicationList.tsx
  frontend/benefit/handler/src/components/alteration/NewAlteration.tsx
  frontend/benefit/shared/src/components/decisionSummary/DecisionSummary.tsx
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: malformed h1 tag
  backend/benefit/applications/services/ahjo_decision_service.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: invisible characters crashing xml generation
  backend/benefit/applications/services/ahjo_xml_builder.py
  backend/benefit/applications/tests/test_ahjo_xml_builder.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: handle talpa lists on success and failure
  backend/benefit/applications/api/v1/talpa_integration_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: refactor talpa callback
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/tests/test_talpa_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update Suomi.fi IDP test/production metadata
  backend/shared/README.md
  backend/shared/shared/suomi_fi/metadata/idp-metadata-secondary.xml
  backend/shared/shared/suomi_fi/metadata/idp-metadata-tunnistautuminen.xml
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update Suomi.fi IDP test/production metadata
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: run release-please action once a day
  .github/workflows/release-please.yml
Due: none

fix: whitelist rollup package for audit-ci
  frontend/audit-ci.jsonc
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: update whitelist root cause packages
  frontend/audit-ci.jsonc
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: enable/disable talpa callbacks
  backend/benefit/applications/api/v1/application_batch_views.py
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

deps(tet): upgrade python dependencies
  backend/tet/requirements-dev.txt
  backend/tet/requirements.txt
Due: pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: ensure ahjo_status is saved during request
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: do not remove batch if ahjo automation
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: get or create non-existing decision draft object
  backend/benefit/applications/api/v1/ahjo_decision_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: conflict with _ as it was already defined
  backend/benefit/applications/api/v1/ahjo_decision_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
