Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

feat: model to cache app generated files
  backend/benefit/applications/migrations/0047_applicationgeneratedfile.py
  backend/benefit/applications/models.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade hds-react to 2.17.0 and next to 13.5.6
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

fix: use new nextjs <Image> in tet
  frontend/tet/admin/src/components/editor/imageUpload/ImageUpload.tsx
  frontend/tet/youth/src/components/pageContent/PageContent.tsx
Due: none

fix: tet youth browser tests
  frontend/tet/youth/src/components/quickSearch/QuickSearch.sc.ts
Due: none

fix: add global body margin: 0 css
  frontend/benefit/applicant/src/styles/globals.css
  frontend/shared/src/styles/main.ts
Due: azure-pipelines/helsinkilisa-review.yml

fix: clean up yarn audit whitelist
  frontend/audit-ci.jsonc
Due: azure-pipelines/helsinkilisa-review.yml

fix: add hds-design-tokens, update react, styled-components
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/batchProcessing/BatchActionsInspectionForm.tsx
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/admin/src/pages/_app.tsx
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/tet/youth/src/pages/_app.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade hds-react, next.js, react.js and styled-components (HL-1003) (#2449)
  frontend/audit-ci.jsonc
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/applicant/src/styles/globals.css
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/batchProcessing/BatchActionsInspectionForm.tsx
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/shared/package.json
  frontend/shared/src/styles/main.ts
  frontend/tet/admin/package.json
  frontend/tet/admin/src/components/editor/imageUpload/ImageUpload.tsx
  frontend/tet/admin/src/pages/_app.tsx
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/tet/youth/src/components/pageContent/PageContent.tsx
  frontend/tet/youth/src/components/quickSearch/QuickSearch.sc.ts
  frontend/tet/youth/src/pages/_app.tsx
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

feat: application HTML/PDF print view
  backend/benefit/applications/api/v1/views.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/app_generated_files.py
  backend/benefit/applications/services/pdf_templates/benefit_template.html
  backend/benefit/applications/templates/404.html
  backend/benefit/applications/templates/application.html
  backend/benefit/applications/templates/base.html
  backend/benefit/applications/templates/footer.html
  backend/benefit/applications/templates/header.html
  backend/benefit/applications/templates/style.html
  backend/benefit/applications/templatetags/__init__.py
  backend/benefit/applications/templatetags/application_extras.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/common/permissions.py
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/helsinkilisa-review.yml

fix: use reseed to prevent conflict and get arbitrary usernames
  backend/benefit/applications/tests/test_applications_report.py
Due: azure-pipelines/helsinkilisa-review.yml

feat: add 'print application' link as button
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml

feat: new function to change test seeds
  backend/benefit/common/tests/conftest.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: skip flaky handler browser test
  frontend/benefit/handler/browser-tests/pages/archive.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/index.testcafe.ts
Due: none

chore: upgrade lerna 4 -> 5
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade lerna 4 -> 5 (#2525)
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

feat: upgrade django to 3.2.23 (i.e. latest 3.2.x) in all backends
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
  backend/tet/requirements.in
  backend/tet/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml

feat: full pdf summary of applications (HL-708, HL-903) (#2524)
  backend/benefit/applications/api/v1/views.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/app_generated_files.py
  backend/benefit/applications/services/pdf_templates/benefit_template.html
  backend/benefit/applications/templates/404.html
  backend/benefit/applications/templates/application.html
  backend/benefit/applications/templates/base.html
  backend/benefit/applications/templates/footer.html
  backend/benefit/applications/templates/header.html
  backend/benefit/applications/templates/style.html
  backend/benefit/applications/templatetags/__init__.py
  backend/benefit/applications/templatetags/application_extras.py
  backend/benefit/applications/tests/test_ahjo_integration.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/applications/tests/test_applications_report.py
  backend/benefit/common/permissions.py
  backend/benefit/common/tests/conftest.py
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/handler/browser-tests/pages/archive.testcafe.ts
  frontend/benefit/handler/browser-tests/pages/index.testcafe.ts
  frontend/benefit/shared/src/backend-api/backend-api.ts
Due: azure-pipelines/helsinkilisa-review.yml

chore: disable test that flakes on CI
  frontend/tet/admin/src/components/editor/__tests__/Editor.test.tsx
Due: none

chore: disable test that flakes on CI (#2534)
  frontend/tet/admin/src/components/editor/__tests__/Editor.test.tsx
Due: none

fix: name endpoint for application summary pdf
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/common/permissions.py
  backend/benefit/helsinkibenefit/urls.py
Due: azure-pipelines/helsinkilisa-review.yml

fix: add forward slash to url to prevent redirection
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: add expection if pdf generation does not work
  backend/benefit/applications/api/v1/views.py
  backend/benefit/applications/services/app_generated_files.py
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade to lerna 6
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

fix: lint shared file
  frontend/shared/src/components/forms/inputs/DateInput.tsx
Due: azure-pipelines/helsinkilisa-review.yml

fix: lint shared file (#2539)
  frontend/shared/src/components/forms/inputs/DateInput.tsx
Due: azure-pipelines/helsinkilisa-review.yml

feat: leverage docker buildkit cache mount to install node dependencies
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade to lerna 6 (#2538)
  frontend/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

feat: introduce upstream in location; add custom 502 page
  localdevelopment/benefit/nginx/html/500.html
  localdevelopment/benefit/nginx/nginx.conf
Due: none

feat: run benefit with backend only
  compose.benefit-backend.yml
Due: none

feat: add env var to run next build using HTTPS without proxy
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml

fix: localdevelopment/benefit/nginx/Dockerfile to reduce vulnerabilities (#2464)
  localdevelopment/benefit/nginx/Dockerfile
Due: none

fix: application pdf summary improvements (#2537)
  backend/benefit/applications/api/v1/views.py
  backend/benefit/applications/services/app_generated_files.py
  backend/benefit/applications/tests/test_applications_api.py
  backend/benefit/common/permissions.py
  backend/benefit/helsinkibenefit/urls.py
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
Due: azure-pipelines/helsinkilisa-review.yml

feat: leverage docker buildkit cache mount to install node dependencies (#2381)
  frontend/Dockerfile
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade to nextjs 14
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

chore: upgrade to nextjs 14 (#2542)
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml

mjml
  frontend/benefit/common/src/emails/i18n/en.json
  frontend/benefit/common/src/emails/i18n/fi.json
  frontend/benefit/common/src/emails/i18n/sv.json
  frontend/benefit/common/src/emails/index.mjs
  frontend/benefit/common/src/emails/templates/new-message.template.mjml
  frontend/benefit/common/src/emails/templates/partials/attributes.mjml
  frontend/benefit/common/src/emails/templates/partials/base.css
  frontend/benefit/common/src/emails/templates/partials/footer.mjml
  frontend/benefit/common/src/emails/templates/partials/header-service.mjml
  frontend/benefit/common/src/emails/templates/partials/helsinki-logo.mjml
Due: azure-pipelines/helsinkilisa-review.yml

mjml
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
