Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat(ks,handler): integrate matomo to handler UI
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/handler/src/pages/cookie-settings.tsx
Due: pipelines/yjdh-tet-api-dev.yml

docs(ks,shared): update useMatomo docs and test description
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUserQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): allow unauthorized access to cookie settings
  frontend/kesaseteli/employer/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/employer/src/auth/AuthProvider.tsx
  frontend/kesaseteli/employer/src/components/header/Header.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): fix ESLint errors in Matomo-related files
  frontend/kesaseteli/employer/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/utils/localstorage.utils.test.ts
  frontend/kesaseteli/handler/src/__tests__/cookie-settings.test.tsx
  frontend/kesaseteli/handler/src/components/header/Header.tsx
  frontend/kesaseteli/shared/src/hooks/__tests__/useMatomo.test.ts
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/src/hooks/useMatomo.ts
  frontend/kesaseteli/youth/src/pages/_app.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(shared): remove redundant Matomo cookie consent
  frontend/shared/src/__tests__/matomo.test.ts
  frontend/shared/src/hooks/useCookieConsentParams.ts
  frontend/shared/src/utils/cookieConsentSettings.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,api): add OpenAPI and ReDoc for kesaseteli API
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/companies/api/v1/views.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/requirements.in
  backend/kesaseteli/requirements.txt
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add Swagger UI documentation route
  backend/kesaseteli/README.md
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): configure SCHEMA_PATH_PREFIX for cleaner tags
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): remove committed OpenAPI snapshot
  backend/kesaseteli/README.md
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/schema.yaml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): assert empty home city for turvakielto lookup
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,handler): add path-based employer excel export endpoints
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/templates/application_excel_download.html
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/views.py
  backend/kesaseteli/common/openapi.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): improve activate response description
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): move OpenAPI serializers into api serializers
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/data/create_without_ssn_examples.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,api): return 500 when fetch employee data response is invalid
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): decorate excel export get with adfs login
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): move create-without-ssn server fields to serializer
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): simplify openapi type hints
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): stabilize language enum name in OpenAPI schema
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
  backend/kesaseteli/kesaseteli/settings.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): show excel export errors on landing page
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): simplify fetch employee data response
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,backend): use ISO date string in employee data test
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): simplify youth application serialization and views
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,backend): allow null home city for turvakielto applicants
  backend/kesaseteli/applications/api/v1/openapi_serializers.py
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,backend): add Swagger UI assertion to schema test
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): add operation ids
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): strip off view prefix from actions in open api docs
  backend/kesaseteli/common/openapi.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/schema.yaml
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks,backend): remove redundant None return hints in tests
  backend/kesaseteli/applications/tests/test_openapi_contracts.py
  backend/kesaseteli/common/tests/test_openapi_schema.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,backend): add explicit method-not-allowed fallback
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): improve OpenAPI docs for file endpoints
  backend/kesaseteli/applications/api/handler_excel_openapi.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,api): keep OpenAPI operationId stable
  backend/kesaseteli/common/openapi.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): disable youth summer voucher creation and updates in admin
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): fixes to validation logic
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): display related summer vouchers inline in admin
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/tests/test_employer_application_admin.py
  backend/kesaseteli/applications/tests/test_youth_summer_voucher_admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,api): redact employee data lookup warning
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Revert "fix(ks,api): redact employee data lookup warning"
  backend/kesaseteli/applications/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant pdf printout
  backend/benefit/applications/templates/application.html
  backend/benefit/applications/templates/footer.html
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): new fields added to the frontend
  frontend/benefit/applicant/browser-tests/page-model/deminimis.ts
  frontend/benefit/applicant/browser-tests/page-model/step1.ts
  frontend/benefit/applicant/browser-tests/page-model/step2.ts
  frontend/benefit/applicant/browser-tests/pages/company.testcafe.ts
  frontend/benefit/applicant/public/locales/en/common.json
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/applicant/public/locales/sv/common.json
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/__tests__/CompanyInfo.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/useCompanyInfo.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step1/utils/validation.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/ApplicationFormStep2.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/__tests__/ApplicationFormStep2.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step2/useApplicationFormStep2.ts
  frontend/benefit/applicant/src/components/applications/forms/application/step2/utils/validation.ts
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/applicant/src/hooks/useDependentFieldsEffect.ts
  frontend/benefit/shared/src/constants.ts
  frontend/benefit/shared/src/types/application.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): applicant summary page
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
