Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

fix(ks,handler): vtj data restricted should block other notifications
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): silent loss of VTJ non-disclosure status if VTJ was disabled
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_vtj_non_disclosure.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): move VTJ-functions logic from models to services
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/tests/test_factories.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): data migration to handle vtj-restriction for history data
  backend/kesaseteli/applications/migrations/0057_backfill_vtj_restriction_status.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): notify about VTJ -data-restriction in Handlers UI
  backend/kesaseteli/applications/api/v1/serializers.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/form/VtjInfo.tsx
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): application numbers to email log
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): fixes to comments and fixtures
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/calculator/rules.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): due date of second instalment
  backend/benefit/applications/tests/test_talpa_integration.py
  backend/benefit/calculator/rules.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(ks,shared): update upload attachment types for hds-react
  frontend/shared/src/components/attachments/UploadAttachment.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,shared): type LinkButton for supplementary variant
  frontend/shared/src/components/link-button/LinkButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: 403 errors on language change HL-1777 (#3985)
  frontend/benefit/applicant/src/components/header/useHeader.ts
  frontend/benefit/handler/src/components/header/useHeader.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): ensure tol-code is set for new appl
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: support admin AD login, update django-helusers
  backend/benefit/applications/fixtures/test_applications.json
  backend/benefit/helsinkibenefit/settings.py
  backend/benefit/helsinkibenefit/urls.py
  backend/benefit/requirements.in
  backend/benefit/requirements.txt
  backend/benefit/users/admin.py
  backend/benefit/users/migrations/0003_user_ad_groups_user_department_name_and_more.py
  backend/benefit/users/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(kesaseteli): apply ruff format
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/common/tests/test_factories.py
  backend/kesaseteli/common/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli): add style-only commit to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: pipelines/yjdh-tet-api-dev.yml

chore(kesaseteli): fix most recent .git-blame-ignore-revs commit hash
  .git-blame-ignore-revs
Due: pipelines/yjdh-tet-api-dev.yml

deps: bump django-logger-extra
  backend/benefit/requirements.txt
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): ignore leave confirm modal when session expires
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): instructions when no auth to act behalf of org
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useCompanyQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useLogout.ts
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/no-organisation.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore(ks): update translation because user cannot choose auth method
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/handler/public/locales/fi/common.json
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): user must always act behalf of an organisation
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/employer/src/hocs/withEmployerAuth.tsx
  frontend/kesaseteli/employer/src/hocs/withOrganisation.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useCompanyQuery.ts
  frontend/kesaseteli/employer/src/pages/application.tsx
  frontend/kesaseteli/employer/src/pages/index.tsx
  frontend/kesaseteli/employer/src/pages/no-organisation.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): improve useLeaveConfirm maintainability
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.utils.test.ts
  frontend/shared/src/hooks/useLeaveConfirm.ts
  frontend/shared/src/hooks/useLeaveConfirm.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): upgrade to husky v9
  .husky/README.md
  .husky/commit-msg
  .husky/pre-commit
  .husky/scripts/run-frontend-lerna-pre-commit.sh
  .pre-commit-config.yaml
  README.md
  package.json
  yarn.lock
Due: pipelines/yjdh-tet-api-dev.yml

chore: fix local dev AD logout
  .env.benefit-backend.example
  backend/benefit/helsinkibenefit/settings.py
  localdevelopment/benefit/nginx/nginx.conf
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): youth form description should have dynamic voucher value
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/backend/expectToGetSummerVoucherConfiguration.ts
  frontend/kesaseteli/handler/src/components/form/CreateApplicationWithoutSsnForm.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/ActionButtons.test.tsx
  frontend/kesaseteli/handler/src/components/form/__tests__/VtjErrorNotification.test.tsx
  frontend/kesaseteli/handler/src/utils/map-vtj-data.ts
  frontend/kesaseteli/shared/src/hooks/useCurrentYearSummerVoucherConfig.tsx
  frontend/kesaseteli/shared/src/hooks/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/__tests__/additional_info.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-additional-info-page-api.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/additional-info-form/AdditionalInfoForm.tsx
  frontend/kesaseteli/youth/src/components/youth-form/TargetGroupSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthApplication.tsx
  frontend/kesaseteli/youth/src/pages/index.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(kesaseteli,admin): show more new auditlog fields in django admin
  backend/kesaseteli/kesaseteli/admin.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): remove unnecessary "julkaisuun" word from form legends
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
Due: pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react to 5.0.0 in kesaseteli youth UI
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
Due: pipelines/yjdh-tet-api-dev.yml
