Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

docs(ks): clarify target-group helper docstrings
  backend/kesaseteli/applications/target_groups.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): target group field in youth application
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0050_add_target_group_to_youth_application.py
  backend/kesaseteli/applications/migrations/0051_populate_youth_application_target_group.py
  backend/kesaseteli/applications/migrations/0052_remove_target_group_from_youth_summer_voucher.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/target_groups.py
  backend/kesaseteli/applications/tests/management/commands/test_create_summervoucher_configuration.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_serializers.py
  backend/kesaseteli/applications/tests/test_youth_application_configuration_validation.py
  backend/kesaseteli/applications/tests/test_youth_application_create_without_ssn.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
  backend/kesaseteli/common/tests/factories.py
  backend/kesaseteli/common/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): fetch summer voucher configuration with proper date
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/shared/src/types/activated-youth-application.d.ts
  frontend/kesaseteli/shared/src/types/youth-application.d.ts
  frontend/shared/src/utils/date.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,employer): clean target group field
  frontend/kesaseteli/employer/browser-tests/types.ts
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/employment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks): fake target groups with abstract values
  frontend/kesaseteli/handler/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/handler/src/__tests__/utils/backend/expectToGetSummerVoucherConfiguration.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
  frontend/kesaseteli/youth/src/__tests__/index.base.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.recheck.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.submission.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.test.tsx
  frontend/kesaseteli/youth/src/__tests__/index.validation.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-additional-info-page-api.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/youth-form/YouthForm.tsx
  frontend/kesaseteli/youth/src/hooks/useHandleYouthApplicationSubmit.ts
  frontend/kesaseteli/youth/src/hooks/useRegisterInput.ts
  frontend/shared/src/__tests__/utils/component.utils.ts
  frontend/shared/src/__tests__/utils/jest-timeout.ts
  frontend/shared/src/__tests__/utils/test-utils.tsx
  frontend/shared/src/components/forms/inputs/Checkbox.sc.ts
  frontend/shared/src/components/forms/inputs/Checkbox.tsx
  frontend/shared/src/components/forms/inputs/Dropdown.sc.ts
  frontend/shared/src/components/forms/inputs/Dropdown.tsx
  frontend/shared/src/components/forms/inputs/MultiSelectDropdown.tsx
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,youth): target group field in youth application
  frontend/kesaseteli/employer/src/hooks/backend/useTargetGroupsQuery.ts
  frontend/kesaseteli/shared/src/__tests__/utils/fake-objects.ts
  frontend/kesaseteli/shared/src/backend-api/backend-api.ts
  frontend/kesaseteli/shared/src/types/summer-voucher-configuration.d.ts
  frontend/kesaseteli/shared/src/types/youth-application.d.ts
  frontend/kesaseteli/youth/browser-tests/page-models/YouthForm.ts
  frontend/kesaseteli/youth/public/locales/en/common.json
  frontend/kesaseteli/youth/public/locales/fi/common.json
  frontend/kesaseteli/youth/public/locales/sv/common.json
  frontend/kesaseteli/youth/src/__tests__/index.test.tsx
  frontend/kesaseteli/youth/src/__tests__/utils/backend/backend-nocks.ts
  frontend/kesaseteli/youth/src/__tests__/utils/components/get-index-page-api.ts
  frontend/kesaseteli/youth/src/components/youth-form/TargetGroupSelection.tsx
  frontend/kesaseteli/youth/src/components/youth-form/YouthFormFields.tsx
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/components/forms/inputs/SelectionGroup.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): auto select YouthApplication on YouthSummervoucher
  backend/kesaseteli/applications/models.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(shared): update yarn.lock
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(shared): reduce complexity of useLeaveConfirm
  frontend/shared/src/hooks/useLeaveConfirm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

build(shared): set jsx to react-jsx
  frontend/shared/tsconfig.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style(shared): fix linting issues
  frontend/shared/src/__tests__/matomo.test.ts
  frontend/shared/src/__tests__/utils/render-component/render-component.tsx
  frontend/shared/src/components/accordion/Accordion.module.sc.ts
  frontend/shared/src/components/app/BaseApp.tsx
  frontend/shared/src/components/attachments/AttachmentsItem.sc.ts
  frontend/shared/src/components/attachments/AttachmentsList.sc.ts
  frontend/shared/src/components/benefit/summaryView/SummaryView.sc.ts
  frontend/shared/src/components/container/Container.sc.ts
  frontend/shared/src/components/drawer/Drawer.sc.tsx
  frontend/shared/src/components/forms/fields/dateFieldsSeparator/DateFieldsSeparator.sc.ts
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/fields/fieldLabel/FieldLabel.sc.ts
  frontend/shared/src/components/forms/heading/Heading.sc.ts
  frontend/shared/src/components/forms/section/FormSection.sc.ts
  frontend/shared/src/components/forms/spacing/Spacing.sc.ts
  frontend/shared/src/components/header/Header.tsx
  frontend/shared/src/components/layout/Layout.sc.ts
  frontend/shared/src/components/messaging/Messaging.sc.tsx
  frontend/shared/src/components/pages/ErrorPage.sc.ts
  frontend/shared/src/components/pages/PageLoadingSpinner.sc.ts
  frontend/shared/src/components/stepper/Stepper.sc.ts
  frontend/shared/src/components/stepper/WizardStepper.sc.ts
  frontend/shared/src/components/stickyActionBar/StickyActionBar.sc.ts
  frontend/shared/src/components/table/Table.sc.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/useLeaveConfirm.ts
  frontend/shared/src/utils/matomo.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,employer): show note for additional info if foreign IBAN
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/employer/src/__tests__/foreign-iban.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/hooks/application/useIsForeignIban.ts
  frontend/shared/src/components/attachments/AttachmentsList.tsx
  frontend/shared/src/components/forms/inputs/TextInput.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: dependabot security update for next
  .husky/commit-msg
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/commitlint.config.mjs
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): company creation when YTJ does not provide all data
  backend/kesaseteli/companies/services.py
  backend/kesaseteli/companies/tests/test_company_services.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: add support for new shared OIDC login
  .env.benefit-backend.example
  backend/benefit/helsinkibenefit/settings.py
  frontend/benefit/handler/src/hooks/useLogin.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): upgrade pdfjs-dist and react-pdf to fix CVE security alert
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/applicant/src/components/pdfViewer/usePdfViewer.ts
  frontend/benefit/applicant/src/types/pdf-worker.d.ts
  frontend/next.config.js
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): fix pdfjs worker import for Next.js webpack compatibility
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/applicant/src/types/pdf-worker.d.ts
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): add pdfjs-dist to transpilePackages to fix ESM external error
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(deps): serve pdfjs worker as static file to avoid ESM import issues
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/applicant/src/types/pdf-worker.d.ts
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared,backend): add resiliency to OIDC redirect related tests
  backend/shared/shared/azure_adfs/tests/test_adfs_login.py
  backend/shared/shared/common/tests/test_utils.py
  backend/shared/shared/oidc/tests/test_eauth_views.py
  backend/shared/shared/oidc/tests/test_utils.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: 403 errors on language change
  frontend/benefit/applicant/src/components/header/useHeader.ts
  frontend/benefit/handler/src/components/header/useHeader.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: fix PR issues
  frontend/benefit/applicant/src/components/header/useHeader.ts
  frontend/benefit/handler/src/components/header/useHeader.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react from 3.11.0 to 5.0.0 in benefit applicant UI
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/public/assets/siteSettings.json
  frontend/benefit/applicant/src/components/applications/NoApplications.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationAccordionItem.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationDeleteModal.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationFormContainer.tsx
  frontend/benefit/applicant/src/components/applications/alteration/AlterationPage.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/ExpandableApplicationList.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListContents.tsx
  frontend/benefit/applicant/src/components/applications/applicationList/listItem/ListItem.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/consentViewer/ConsentViewer.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/DeMinimisAidForm.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/list/DeMinimisAidsList.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step4/ApplicationFormStep4.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/ApplicationFormStep5.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/companyInfoView/CompanyInfoView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step5/employeeView/EmployeeView.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step6/ApplicationFormStep6.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/stepperActions/StepperActions.tsx
  frontend/benefit/applicant/src/components/cookieConsent/CookieConsent.tsx
  frontend/benefit/applicant/src/components/decisions/DecisionsApplicationList.tsx
  frontend/benefit/applicant/src/components/errorPage/ErrorPage.tsx
  frontend/benefit/applicant/src/components/footer/Footer.tsx
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/applicant/src/components/mainIngress/frontPage/FrontPageMainIngress.tsx
  frontend/benefit/applicant/src/components/notificationView/NotificationView.tsx
  frontend/benefit/applicant/src/components/pdfViewer/PdfViewer.tsx
  frontend/benefit/applicant/src/components/prerequisiteReminder/PrerequisiteReminder.tsx
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/applicant/src/pages/index.tsx
  frontend/benefit/applicant/src/pages/login.tsx
  frontend/benefit/applicant/src/utils/common.ts
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react from 3.11.0 to 5.0.0 in benefit shared package
  frontend/benefit/shared/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react to 5.0.0 in kesaseteli employer UI
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/application.test.tsx
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
  frontend/kesaseteli/employer/src/components/application/form/ActionButtons.tsx
  frontend/kesaseteli/employer/src/components/application/form/AttachmentInput.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmploymentForm.tsx
  frontend/kesaseteli/employer/src/components/application/steps/step1/Step1EmployerAndEmployment.tsx
  frontend/kesaseteli/employer/src/components/application/summary/ApplicationSummary.tsx
  frontend/kesaseteli/employer/src/components/dashboard/Dashboard.tsx
  frontend/kesaseteli/employer/src/components/dashboard/DashboardFilterBar.tsx
  frontend/kesaseteli/employer/src/components/dashboard/StatusTag.tsx
  frontend/kesaseteli/employer/src/components/footer/Footer.tsx
  frontend/kesaseteli/employer/src/hooks/backend/useEmploymentQuery.ts
  frontend/kesaseteli/employer/src/pages/login.tsx
  frontend/kesaseteli/employer/src/pages/thankyou.tsx
  frontend/kesaseteli/employer/src/utils/application-wizard.utils.ts
  frontend/kesaseteli/employer/src/utils/application.utils.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat: bump hds-react to 5.0.0 in Kesaseteli handler UI
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/footer/Footer.tsx
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/pages/login.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat: upgrade hds-react to 5.0.0 in kesaseteli youth UI
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/footer/Footer.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): application numbers to email log
  backend/benefit/applications/management/commands/request_payslip.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): reintroduce signer section
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep2.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(commitlint,github): fix commitlint config path in github actions
  .github/workflows/conventional-commits.yml
Due: none

feat(ks): search summer voucher employment data with birthdate and s/n
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/applications/tests/test_youth_applications_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
