Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(ks,employer): make company city test selector exact
  frontend/kesaseteli/employer/src/__tests__/utils/components/get-application-page-api.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): continue after Ahjo decision errors
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): sonar exclusions page patterns Refs: HL-1853
  frontend/benefit/applicant/sonar-project.properties
  frontend/benefit/handler/sonar-project.properties
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): useApplicationForm fix Refs: HL-1853
  frontend/benefit/handler/src/components/applicationForm/__tests__/useApplicationForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(benefit): useDependentFieldsEffect fix Refs: HL-1853
  frontend/benefit/handler/src/hooks/__tests__/useDependentFieldsEffect.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): continue processing after Ahjo request failures
  backend/benefit/applications/management/commands/send_ahjo_requests.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): implement talpa and reporting integration endpoints
  backend/kesaseteli/README.md
  backend/kesaseteli/applications/api/authentications.py
  backend/kesaseteli/applications/api/employer_summer_voucher_reporting_views.py
  backend/kesaseteli/applications/api/integration_filters.py
  backend/kesaseteli/applications/api/integration_serializers.py
  backend/kesaseteli/applications/api/integration_views.py
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/api/youth_application_views.py
  backend/kesaseteli/applications/tests/test_employer_summer_voucher_reporting_api.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
  backend/kesaseteli/applications/tests/test_youth_application_export_api.py
  backend/kesaseteli/kesaseteli/settings.py
  backend/kesaseteli/kesaseteli/urls.py
  backend/kesaseteli/kesaseteli/utils.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): extract Talpa webhook logic to TalpaWebhookService
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
  backend/kesaseteli/applications/tests/test_talpa_webhook_service.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks): add fields for talpa integration on employer vouchers
  backend/kesaseteli/applications/migrations/0065_employersummervoucher_invoiced_at_and_more.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/kesaseteli/constants.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks): rename serializer and improve excel export audit log
  backend/kesaseteli/applications/api/handler_excel_views.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/tests/test_excel_export.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): aggregate voucher outcomes per application in webhook
  backend/kesaseteli/applications/api/talpa_views.py
  backend/kesaseteli/applications/tests/test_talpa_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): remove distinct from talpa voucher updates
  backend/kesaseteli/applications/api/talpa_views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): frontend allows notes to be modified only in 24 hours
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): make buttons disappear after 24 hours
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): backend allows notes to be modified only in 24 hours
  backend/kesaseteli/handler_notes/api/v1/views.py
  backend/kesaseteli/handler_notes/tests/test_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): rename permission class
  backend/kesaseteli/handler_notes/README.md
  backend/kesaseteli/handler_notes/api/v1/views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add info tooltips to employer application sections
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerCompanyFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerVoucherFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/YouthInfoFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/YouthInfoSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add author tracking for attachments
  backend/kesaseteli/applications/admin.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0066_attachment_author.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/types/HandlerEmployerApplication.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): remove seconds from timeline timestamps
  frontend/kesaseteli/handler/src/components/notes/NotesSectionTimeline.tsx
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): style attachment upload form to match notes section
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): use HDS SelectionGroup and accessible landmarks
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteForm.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): notify on note edit and deletion
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): show error toast on attachment upload failure
  backend/kesaseteli/applications/locale/fi/LC_MESSAGES/django.po
  backend/kesaseteli/applications/locale/sv/LC_MESSAGES/django.po
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/utils/__tests__/attachment.utils.test.ts
  frontend/kesaseteli/handler/src/utils/attachment.utils.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): align HDS icons with text in handler views
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.sc.ts
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationHandlerView.sc.ts
  frontend/kesaseteli/handler/src/types/HandlerEmployerApplication.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks,handler): move employer address to company info section
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerCompanyFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerPaymentFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): notify on successful attachment upload
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): add tooltip to employer-entered address field
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/employer-application/EmployerCompanyFieldsSection.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationHandlerView.test.tsx
  frontend/kesaseteli/handler/src/components/form/Field.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): notify on note and message creation
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(benefit): continue after Ahjo parsing errors
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/tests/test_application_tasks.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(ks,handler): scope tooltip styling to Kesaseteli handler UI
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/handler/src/styles/HandlerGlobalStyle.ts
Due: pipelines/yjdh-tet-api-dev.yml

perf(ks): resolve N+1 query in YouthApplicationExportView
  backend/kesaseteli/applications/api/youth_application_views.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,handler): mock external messages flag in NotesSection test
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(ks): hide attachment author name from employers
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
