Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

feat: use compact_list query parameter for csv
  backend/benefit/applications/api/v1/application_views.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: only include alteration amounts more than 20€
  backend/benefit/applications/services/applications_power_bi_csv_report.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: eslint issues
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationReports/ApplicationReports.tsx
  frontend/benefit/handler/src/components/applicationReports/ReportsSection.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Fix:better text for opening application for editing
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
  backend/benefit/messages/automatic_messages.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Fix:missing localization for handler change log added
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Fix:missing localization for received application status
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: modified_at date for ahjo update request
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Fix: Text in test updated
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: don't block ahjo requests if xml build fails
  backend/benefit/applications/services/ahjo_error_writer.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_xml_builder.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Fix:to prev. commit: received status not used for applicant
  frontend/benefit/applicant/public/locales/fi/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: use company.name instead of app.company_name (#3449)
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/services/pdf_templates/benefit_template.html
  backend/benefit/applications/tests/test_ahjo_payload.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: refactor ahjo client error logging
  backend/benefit/applications/services/ahjo_client.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: replace deprecated react-leaflet-markercluster TETP-292
  frontend/tet/shared/src/components/map/Map.tsx
  frontend/tet/shared/src/components/map/MarkerClusterGroup.tsx
  frontend/tet/youth/next-env.d.ts
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: instalment model
  backend/benefit/applications/tests/factories.py
  backend/benefit/calculator/enums.py
  backend/benefit/calculator/migrations/0017_instalment.py
  backend/benefit/calculator/models.py
  backend/benefit/calculator/tests/factories.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: install HDS v3 and rewrite shared header component
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/footer/Footer.tsx
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/footer/Footer.tsx
  frontend/benefit/handler/src/components/header/Header.sc.ts
  frontend/benefit/handler/src/components/header/Header.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/shared/package.json
  frontend/shared/src/components/header/HeaderV3.tsx
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: use chromium in ci
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/tet/admin/package.json
  frontend/tet/youth/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: handler test broken
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: chrome v130 crashes on startup (#3450)
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/browser-tests/pages/7-handle-alteration.testcafe.ts
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/tet/admin/package.json
  frontend/tet/youth/package.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: move change history test code to it's own file
  backend/benefit/applications/tests/test_application_change_sets.py
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: consolidate change history to a single list
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/services/change_history.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: test applican and attachment changes
  backend/benefit/applications/tests/test_application_change_sets.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: remove applicant specific ChangeSetList, use single data list
  frontend/benefit/handler/src/components/sidebar/ChangeList.tsx
  frontend/benefit/handler/src/components/sidebar/ChangeListApplicant.tsx
  frontend/benefit/handler/src/components/sidebar/ChangeSet.tsx
  frontend/benefit/handler/src/types/application.d.ts
  frontend/benefit/handler/src/types/changes.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: use a different color for applicant change set
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/ReviewEditChanges.sc.ts
  frontend/benefit/handler/src/components/sidebar/ChangeSet.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test: rewrite test structure
  backend/benefit/applications/tests/test_application_change_sets.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: translate attachment type for change set
  backend/benefit/applications/services/change_history.py
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/ReviewEditChanges.sc.ts
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/utils.ts
  frontend/benefit/handler/src/components/sidebar/ChangeSet.tsx
  frontend/benefit/handler/src/types/changes.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: expose status changes to change history
  backend/benefit/applications/services/change_history.py
  backend/benefit/applications/tests/test_application_change_sets.py
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: new max benefit per month
  backend/benefit/calculator/rules.py
  backend/benefit/helsinkibenefit/settings.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: upgrade to HDS v3
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/package.json
  frontend/shared/package.json
  frontend/tet/admin/package.json
  frontend/tet/shared/package.json
  frontend/tet/youth/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): migrate to renamed euro sign
  frontend/benefit/handler/src/components/applicationReview/employeeView/EmployeeActions/EmployeeActions.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/DecisionCalculationAccordion.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): migrate to new footer
  frontend/benefit/applicant/src/components/footer/Footer.tsx
  frontend/benefit/handler/src/components/footer/Footer.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(shared): introduce shared Header v3 component
  frontend/shared/src/components/header/HeaderV3.tsx
  frontend/shared/src/styles/theme.ts
  frontend/shared/src/types/styled-components.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(benefit): use HDS v3 <Header>
  frontend/benefit/applicant/src/components/header/Header.tsx
  frontend/benefit/handler/src/components/header/Header.sc.ts
  frontend/benefit/handler/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): reformat <Header>'s custom items
  frontend/benefit/handler/src/components/header/Header.sc.ts
  frontend/benefit/handler/src/components/header/Header.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: separate credentials for PowerBI
  backend/benefit/applications/api/v1/power_bi_integration_views.py
  backend/benefit/common/authentications.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: useRouterNavigation hook to centralize and perform "back" actions througout the app
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/sv/common.json
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandling.tsx
  frontend/benefit/handler/src/components/alterationHandling/AlterationHandlingForm.tsx
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.tsx
  frontend/benefit/handler/src/components/applicationHeader/ApplicationHeader.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActions.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/handlingApplicationActions/HandlingApplicationActionsAhjo.tsx
  frontend/benefit/handler/src/components/applicationReview/actions/receivedApplicationActions/ReceivedApplicationActions.tsx
  frontend/benefit/handler/src/components/statusLabel/StatusLabel.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useRouterNavigation.ts
  frontend/benefit/handler/src/hooks/useFormActions.tsx
  frontend/benefit/handler/src/hooks/useHandlerReviewActions.ts
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/shared/src/utils/localstorage.utils.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: bump express version
  frontend/audit-ci.jsonc
  frontend/shared/package.json
  frontend/yarn.lock
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: better text for opening application for editing
  backend/benefit/locale/en/LC_MESSAGES/django.po
  backend/benefit/locale/fi/LC_MESSAGES/django.po
  backend/benefit/locale/sv/LC_MESSAGES/django.po
  backend/benefit/messages/automatic_messages.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: missing localization for handler change log added
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: missing localization for received application status
  frontend/benefit/applicant/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/en/common.json
  frontend/benefit/handler/public/locales/fi/common.json
  frontend/benefit/handler/public/locales/sv/common.json
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: text in test updated
  backend/benefit/applications/tests/test_applications_api.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml
