Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

fix(frontend): transform allowlisted esm packages in jest
  frontend/jest.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: bump dompurify to 3.4.13 for detached-subtree XSS
  frontend/benefit/handler/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test: speed up step6 open-as-pdf test to avoid timeout
  frontend/benefit/applicant/src/components/applications/forms/application/step6/__tests__/ApplicationFormStep6.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(frontend): disable dev indicator to silence HMR warning
  frontend/next.config.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): prevent consent checkbox race in handler form
  frontend/benefit/handler/src/components/applicationForm/useApplicationForm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat: upgrade HDS to v6 and migrate ErrorSummary usage
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/link/OpenInNewTabLink.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.sc.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/SubmitErrorSummary.tsx
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
  frontend/next.config.js
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(frontend): replace react-input-mask with Maskito across apps
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationAccordionItem.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/foreign-iban.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/utils/maskito.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(frontend): remove unused app dependencies
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade styled-components to v6.1.19
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.sc.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handledView/HandledView.sc.ts
  frontend/benefit/handler/src/components/footer/Footer.sc.ts
  frontend/benefit/handler/src/components/layout/Layout.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/Field.tsx
  frontend/kesaseteli/handler/src/components/form/VtjRawData.tsx
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/package.json
  frontend/shared/src/components/benefit/summaryView/SummaryView.sc.ts
  frontend/shared/src/components/container/Container.sc.ts
  frontend/shared/src/components/drawer/Drawer.sc.tsx
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/inputs/Dropdown.sc.ts
  frontend/shared/src/components/forms/inputs/TextInput.sc.ts
  frontend/shared/src/components/forms/section/FormSection.sc.ts
  frontend/shared/src/components/messaging/Messaging.sc.tsx
  frontend/shared/src/components/stepper/Stepper.sc.ts
  frontend/shared/src/components/stepper/WizardStepper.sc.ts
  frontend/shared/src/types/cssprop.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(frontend): migrate suites to Jest 30 and Testing Library 16
  frontend/benefit/applicant/jest-canvas-env.js
  frontend/benefit/applicant/jest.config.js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/jest-canvas-env.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
  frontend/benefit/handler/src/components/header/__tests__/TemporaryAhjoModeSwitch.test.tsx
  frontend/benefit/shared/jest-canvas-env.js
  frontend/benefit/shared/package.json
  frontend/benefit/shared/src/utils/__tests__/common.test.ts
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/tsconfig.json
  frontend/kesaseteli/youth/jest.config.js
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/jest-canvas-env.js
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.utils.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,handler): fix NoteCard visual treatment assertions
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore: remove legacy ts-jest config and dependency
  frontend/benefit/shared/jest.config.js
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/youth/jest.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): stop redirect loop in withAuth HOC
  frontend/shared/src/components/hocs/withAuth.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(applicant): add Sonar-focused hook unit tests
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/useAlterationPage.test.tsx
  frontend/benefit/applicant/src/hooks/__tests__/useApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useApproveTermsOfServiceMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useChangeEmployerAssuranceMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCloneApplicationMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCompanyQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCreateApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCreateMessageQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useDeleteApplicationAlterationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useDeleteApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useMessagesQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useRemoveAttachmentQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useSecondInstalmentInfoQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useSecondInstalmentRespondMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUpdateApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUploadAttachmentQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUserQuery.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(handler): add Sonar-focused hook unit tests
  frontend/benefit/handler/src/hooks/__tests__/useApplicationAlterationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationQueryWithState.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationToBatch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsWithMessagesQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchInspected.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchStatus.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useChangeHandlerMutation.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadBatchFiles.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadP2PFile.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useInstalmentDateChange.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useInstalmentStatusTransition.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useRemoveAppFromBatch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useReportsApplicationBatchesQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useRequireAdditionalInformation.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useReviewStateQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useSearchApplicationQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateApplicationAlterationWithCsvQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateReviewStateQuery.test.ts
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useDecisionProposalDraftMutation.test.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useDecisionProposalTemplateQuery.test.ts
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useHandlingStepper.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

refactor(ks-handler): extract shared note query invalidation helper
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useCreateNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUpdateNoteMutation.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(handler): skip login redirect when already on login page
  frontend/benefit/handler/src/hooks/useUserQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): use the full street address
  backend/shared/shared/ytj/tests/test_ytj_client_v3.py
  backend/shared/shared/ytj/ytj_dataclasses.py
Due: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): populate script uses full address
  backend/kesaseteli/scripts/populate_ytj_data_to_companies.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-handler): fix S6478 inline component definitions in table columns
  frontend/benefit/handler/src/components/alterationList/AlterationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationArchiveList.tsx
  frontend/benefit/handler/src/components/batchProcessing/ApplicationsHandled.tsx
  frontend/benefit/handler/src/components/batchProcessing/BatchApplicationList.tsx
  frontend/benefit/handler/src/components/reviewSection/ReviewSection.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-handler): replace bare globals with Number.* equivalents
  frontend/benefit/handler/src/components/alterationHandling/utils/validation.ts
  frontend/benefit/handler/src/components/applicationForm/companySearch/useCompanySearch.ts
  frontend/benefit/handler/src/components/applicationForm/review/employmentSection/EmploymentSection.tsx
  frontend/benefit/handler/src/components/applicationForm/reviewChanges/utils.ts
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndex.tsx
  frontend/benefit/handler/src/components/applicationList/HandlerIndexManual.tsx
  frontend/benefit/handler/src/components/applicationReview/calculationTable/useCalculationTable.ts
  frontend/benefit/handler/src/components/applicationReview/employmentView/EmpoymentView.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/useInstalmentAccordionSections.ts
  frontend/benefit/handler/src/components/applicationReview/salaryBenefitCalculatorView/SalaryBenefitCalculatorView.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/useRouterNavigation.ts
  frontend/benefit/handler/src/utils/common.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-handler): remove useless void operator from useApplicationForm
  frontend/benefit/handler/src/components/applicationForm/useApplicationForm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(bf-handler): add unit tests for batch application components
  frontend/benefit/handler/src/components/applicationList/__tests__/ApplicationListForInstalments.test.tsx
  frontend/benefit/handler/src/components/batchProcessing/BatchApplicationList.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchApplicationList.test.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-handler): memoize context provider values
  frontend/benefit/handler/src/auth/AuthProvider.tsx
  frontend/benefit/handler/src/components/applicationReview/handlingView/HandlingStep1.tsx
  frontend/benefit/handler/src/context/AppContextProvider.tsx
  frontend/benefit/handler/src/context/DeMinimisProvider.tsx
  frontend/benefit/handler/src/context/FrontPageProvider.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-handler): rewrite groupCalculatorRows loop to fix S1994
  frontend/benefit/handler/src/utils/calculator.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

test(bf-handler): improve coverage with component and hook tests
  frontend/benefit/handler/src/components/applicationReview/handlingView/__tests__/useInstalmentAccordionSections.test.ts
  frontend/benefit/handler/src/components/applicationsArchive/__tests__/ApplicationArchiveList.test.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchApplicationList.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

fix(bf-applicant): avoid unsafe reduce in de minimis blur handler
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/DeMinimisAidForm.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

style(bf-applicant): suppress false-positive Sonar S2245
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/list/DeMinimisAidsList.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-applicant): prefer Number.parseInt over parseInt
  frontend/benefit/applicant/src/utils/common.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
