Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*

chore: remove legacy ts-jest config and dependency
  frontend/benefit/shared/jest.config.js
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/youth/jest.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(handler): skip login redirect when already on login page
  frontend/benefit/handler/src/hooks/useUserQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): restore error summary focus
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/handler/src/components/form/SubmitErrorSummary.tsx
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(applicant): add Sonar-focused hook unit tests
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/useAlterationPage.test.tsx
  frontend/benefit/applicant/src/hooks/__tests__/useApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useApproveTermsOfServiceMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useChangeEmployerAssuranceMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCloneApplicationMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCompanyQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCreateApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCreateMessageQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useDeleteApplicationAlterationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useDeleteApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useMessagesQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useRemoveAttachmentQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useSecondInstalmentInfoQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useSecondInstalmentRespondMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUpdateApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUploadAttachmentQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUserQuery.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat: upgrade HDS to v6 and migrate ErrorSummary usage
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/link/OpenInNewTabLink.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.sc.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/SubmitErrorSummary.tsx
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
  frontend/next.config.js
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: restore Sentry reporting for query failures
  frontend/benefit/applicant/src/pages/_app.tsx
  frontend/benefit/handler/src/pages/_app.tsx
  frontend/kesaseteli/shared/src/query-client/create-query-client.ts
  frontend/shared/src/query-client/__tests__/create-query-caches.test.ts
  frontend/shared/src/query-client/create-query-caches.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(shared): handle query side effects by status
  frontend/shared/src/hooks/__tests__/useQuerySideEffect.test.ts
  frontend/shared/src/hooks/useQuerySideEffect.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(benefit): model successful user query state
  frontend/benefit/applicant/src/hooks/__tests__/useUserQuery.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

chore(frontend): remove unused app dependencies
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(handler): add Sonar-focused hook unit tests
  frontend/benefit/handler/src/hooks/__tests__/useApplicationAlterationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationQueryWithState.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationToBatch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsWithMessagesQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchInspected.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchStatus.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useChangeHandlerMutation.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadBatchFiles.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadP2PFile.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useInstalmentDateChange.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useInstalmentStatusTransition.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useRemoveAppFromBatch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useReportsApplicationBatchesQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useRequireAdditionalInformation.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useReviewStateQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useSearchApplicationQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateApplicationAlterationWithCsvQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateReviewStateQuery.test.ts
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useDecisionProposalDraftMutation.test.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useDecisionProposalTemplateQuery.test.ts
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useHandlingStepper.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix(frontend): stabilize query side effects across frontend hooks
  frontend/benefit/applicant/src/hooks/useUserQuery.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationAlterationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchQuery.test.ts
  frontend/benefit/handler/src/hooks/useApplicationAlterationsQuery.ts
  frontend/benefit/handler/src/hooks/useApplicationsQuery.ts
  frontend/benefit/handler/src/hooks/useBatchQuery.ts
  frontend/benefit/handler/src/hooks/useMessagesQuery.ts
  frontend/benefit/handler/src/hooks/useUserQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useApplicationsQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useCompanyQuery.ts
  frontend/kesaseteli/employer/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useApplicationTimelineQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useEmployerApplicationsListQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useHandlerNotesQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUserQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationQuery.ts
  frontend/kesaseteli/handler/src/hooks/backend/useYouthApplicationsListQuery.ts
  frontend/kesaseteli/shared/src/hooks/useSummerVoucherConfigurationQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useSchoolListQuery.ts
  frontend/kesaseteli/youth/src/hooks/backend/useYouthApplicationStatusQuery.ts
  frontend/shared/src/hooks/useErrorHandler.ts
  frontend/shared/src/hooks/useQuerySideEffect.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade @types/react to 19.2.18 and fix type compatibility
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/__tests__/ApplicationListForInstalments.test.tsx
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationArchiveList.tsx
  frontend/benefit/handler/src/components/applicationsArchive/__tests__/ApplicationArchiveList.test.tsx
  frontend/benefit/handler/src/components/batchProcessing/BatchApplicationList.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/ActionCell.tsx
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/StatusFilter.tsx
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/src/components/attachments/useUploadAttachment.ts
  frontend/shared/src/hooks/usePreviousValue.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): add application status changes to timelinee
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/sidebar/__tests__/ApplicationSidebar.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): fixed linting errors
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): remove sidebar timeline
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): instructions for notes section and modified tag
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/notes/NotesSection.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): move sidebar timeline to bottom
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): create notes timeline
  frontend/kesaseteli/handler/src/components/notes/NotesTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NotesTimeline.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesTimeline.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): disable external messages
  .env.kesaseteli-handler.example
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/flags/is-handler-external-messages-enabled.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks, handler): change env variable handling
  .env.kesaseteli-handler.example
  frontend/Dockerfile
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add RECEIVED_BY_PAYMENT_SYSTEM,ERROR_IN_PAYMENT status
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0063_alter_employerapplication_status.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/docs/diagrams/employer-application-status-changes.mmd
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade next.js to 16.3.3
  frontend/benefit/applicant/next-env.d.ts
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/next-env.d.ts
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/next-env.d.ts
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/next-env.d.ts
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/youth/next-env.d.ts
  frontend/kesaseteli/youth/package.json
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/.eslintignore
  frontend/shared/package.json
  frontend/shared/src/server/next-build.js
  frontend/shared/src/server/next-server.js
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: remove unused eslint-config-next
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

style: add numeric separator to satisfy lint rule
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

fix: resolve handler build failure from cross-app import
  frontend/benefit/applicant/src/constants.ts
  frontend/benefit/handler/src/components/applicationForm/formContent/FormContent.tsx
  frontend/benefit/handler/src/components/applicationForm/formContent/useFormContent.ts
  frontend/benefit/shared/src/constants.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix: keep applicant tests out of the production build
  frontend/benefit/applicant/src/components/cookieConsent/__tests__/CookieConsent.test.tsx
  frontend/benefit/applicant/src/components/link/__tests__/OpenInNewTabLink.test.tsx
  frontend/benefit/applicant/src/utils/__tests__/common.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks): add handler attachment admin API and timeline support
  .gitignore
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/migrations/0064_refactor_timeline_activity_log.py
  backend/kesaseteli/applications/models.py
  backend/kesaseteli/applications/services.py
  backend/kesaseteli/applications/signals.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_signals.py
  backend/kesaseteli/applications/tests/test_timeline_service.py
  backend/kesaseteli/handler_notes/tests/test_api.py
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks,shared): refine timeline UI and shared types
  frontend/kesaseteli/handler/src/components/notes/DeleteNoteDialog.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteCard.tsx
  frontend/kesaseteli/handler/src/components/notes/NoteForm.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesSection.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesSectionTimeline.tsx
  frontend/kesaseteli/handler/src/components/notes/NotesTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/notes/NotesTimeline.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/DeleteNoteDialog.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesSection.test.tsx
  frontend/kesaseteli/handler/src/components/notes/__tests__/NotesTimeline.test.tsx
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationSidebar.sc.ts
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationSidebar.tsx
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/sidebar/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/sidebar/__tests__/ApplicationSidebar.test.tsx
  frontend/kesaseteli/handler/src/components/sidebar/__tests__/useSidebarState.test.ts
  frontend/kesaseteli/handler/src/components/sidebar/useSidebarState.ts
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.sc.ts
  frontend/kesaseteli/handler/src/components/timeline/ApplicationTimeline.tsx
  frontend/kesaseteli/handler/src/components/timeline/TimelineTheme.ts
  frontend/kesaseteli/handler/src/components/timeline/__tests__/ApplicationTimeline.test.tsx
  frontend/kesaseteli/handler/src/pages/employer-applications/[id].tsx
  frontend/kesaseteli/handler/src/pages/youth-applications/[id].tsx
  frontend/kesaseteli/handler/src/types/timeline.ts
  frontend/shared/src/__tests__/utils/FakeObjectFactory.ts
  frontend/shared/src/types/application-status.d.ts
  frontend/shared/src/types/attachment.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,handler): implement attachment admin UI
  frontend/kesaseteli/handler/src/components/employer-application/AttachmentCommentsDialog.tsx
  frontend/kesaseteli/handler/src/components/employer-application/DeleteAttachmentDialog.tsx
  frontend/kesaseteli/handler/src/components/employer-application/EmployerApplicationAttachments.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/DeleteAttachmentDialog.test.tsx
  frontend/kesaseteli/handler/src/components/employer-application/__tests__/EmployerApplicationAttachments.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/invalidateAttachmentQueries.test.ts
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useCreateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useDeleteNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/__tests__/useUpdateNoteMutation.test.tsx
  frontend/kesaseteli/handler/src/hooks/backend/invalidateAttachmentQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useCreateNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteAttachmentMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUpdateNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUploadAttachmentQuery.ts
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,shared): synchronize payment statuses
  backend/kesaseteli/applications/enums.py
  frontend/kesaseteli/employer/public/locales/en/common.json
  frontend/kesaseteli/employer/public/locales/fi/common.json
  frontend/kesaseteli/employer/public/locales/sv/common.json
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/types/application.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml
