Repository City-of-Helsinki/yjdh: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/helsinkilisa-review.yml, azure-pipelines/kesaseteli-api-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

azure-pipelines/helsinkilisa-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-helsinkilisa-review.yml@yjdh-helsinkilisa-pipelines
    parameters:
      configMap:
        LOAD_DEFAULT_TERMS: 1
        LOAD_FIXTURES: 1

azure-pipelines/kesaseteli-api-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-kesaseteli-api-review.yml@yjdh-kesaseteli-pipelines

pipelines/tet-review.yml:
  pool: Default
  extends:
    template: pipelines/yjdh-tet-review.yml@yjdh-tet-pipelines

pipelines/yjdh-tet-api-dev.yml:
  pool: Default
  extends:
    template: components/yjdh-tet-api/pipelines/yjdh-tet-api-dev.yml@yjdh-tet-pipelines

test(bf-handler): add unit tests for batch application components
  frontend/benefit/handler/src/components/applicationList/__tests__/ApplicationListForInstalments.test.tsx
  frontend/benefit/handler/src/components/batchProcessing/BatchApplicationList.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchApplicationList.test.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-handler): remove useless void operator from useApplicationForm
  frontend/benefit/handler/src/components/applicationForm/useApplicationForm.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(bf-applicant): avoid unsafe reduce in de minimis blur handler
  frontend/benefit/applicant/src/components/applications/forms/application/deMinimisAid/DeMinimisAidForm.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): add required cookie groups to all cookie settings pages
  frontend/kesaseteli/employer/src/pages/_app.tsx
  frontend/kesaseteli/employer/src/pages/cookie-settings.tsx
  frontend/kesaseteli/employer/src/utils/get-required-employer-cookie-groups.ts
  frontend/kesaseteli/handler/src/pages/_app.tsx
  frontend/kesaseteli/handler/src/pages/cookie-settings.tsx
  frontend/kesaseteli/handler/src/utils/get-required-handler-cookie-groups.ts
  frontend/kesaseteli/youth/src/pages/_app.tsx
  frontend/kesaseteli/youth/src/pages/cookie-settings.tsx
  frontend/kesaseteli/youth/src/utils/get-required-youth-cookie-groups.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(main): release kesaseteli-handler 2.3.1 [skip azp]
  .release-please-manifest.json
  frontend/kesaseteli/handler/CHANGELOG.md
  frontend/kesaseteli/handler/package.json
Due: pipelines/yjdh-tet-api-dev.yml

feat: upgrade HDS to v6 and migrate ErrorSummary usage
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/link/OpenInNewTabLink.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.sc.ts
  frontend/kesaseteli/employer/src/components/application/steps/step1/EmployerErrorSummary.tsx
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/SubmitErrorSummary.tsx
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/youth/package.json
  frontend/kesaseteli/youth/src/components/youth-form/SubmitErrorSummary.tsx
  frontend/next.config.js
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/package.json
  frontend/shared/src/components/forms/buttons/SaveFormButton.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(handler): skip login redirect when already on login page
  frontend/benefit/handler/src/hooks/useUserQuery.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore: remove legacy ts-jest config and dependency
  frontend/benefit/shared/jest.config.js
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/youth/jest.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(applicant): add Sonar-focused hook unit tests
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/useAlterationPage.test.tsx
  frontend/benefit/applicant/src/hooks/__tests__/useApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useApproveTermsOfServiceMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useChangeEmployerAssuranceMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCloneApplicationMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCompanyQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCreateApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useCreateMessageQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useDeleteApplicationAlterationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useDeleteApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useMessagesQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useRemoveAttachmentQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useSecondInstalmentInfoQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useSecondInstalmentRespondMutation.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUpdateApplicationQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUploadAttachmentQuery.test.ts
  frontend/benefit/applicant/src/hooks/__tests__/useUserQuery.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

feat(frontend): replace react-input-mask with Maskito across apps
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/applications/alteration/__tests__/AlterationAccordionItem.test.tsx
  frontend/benefit/applicant/src/components/applications/forms/application/step1/companyInfo/CompanyInfo.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/formContent/companySection/CompanySection.tsx
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/foreign-iban.test.tsx
  frontend/kesaseteli/employer/src/components/application/form/IbanInput.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/src/components/forms/inputs/TextInput.tsx
  frontend/shared/src/utils/maskito.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(frontend): stop redirect loop in withAuth HOC
  frontend/shared/src/components/hocs/withAuth.tsx
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(ks,handler): fix NoteCard visual treatment assertions
  frontend/kesaseteli/handler/src/components/notes/__tests__/NoteCard.test.tsx
Due: pipelines/yjdh-tet-api-dev.yml

test(frontend): migrate suites to Jest 30 and Testing Library 16
  frontend/benefit/applicant/jest-canvas-env.js
  frontend/benefit/applicant/jest.config.js
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/jest-canvas-env.js
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/header/TemporaryAhjoModeSwitch.tsx
  frontend/benefit/handler/src/components/header/__tests__/TemporaryAhjoModeSwitch.test.tsx
  frontend/benefit/shared/jest-canvas-env.js
  frontend/benefit/shared/package.json
  frontend/benefit/shared/src/utils/__tests__/common.test.ts
  frontend/kesaseteli/employer/jest.config.js
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/employer/src/__tests__/index.test.tsx
  frontend/kesaseteli/handler/jest.config.js
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/shared/package.json
  frontend/kesaseteli/shared/src/hooks/__tests__/useSummerVoucherConfigurationQuery.test.tsx
  frontend/kesaseteli/shared/tsconfig.json
  frontend/kesaseteli/youth/jest.config.js
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/jest-canvas-env.js
  frontend/shared/package.json
  frontend/shared/src/__tests__/utils/setupTests.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.test.ts
  frontend/shared/src/hooks/__tests__/useLeaveConfirm.utils.test.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

test(handler): add Sonar-focused hook unit tests
  frontend/benefit/handler/src/hooks/__tests__/useApplicationAlterationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationQueryWithState.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationToBatch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useApplicationsWithMessagesQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchInspected.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useBatchStatus.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useChangeHandlerMutation.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadBatchFiles.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useDownloadP2PFile.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useInstalmentDateChange.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useInstalmentStatusTransition.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useRemoveAppFromBatch.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useReportsApplicationBatchesQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useRequireAdditionalInformation.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useReviewStateQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useSearchApplicationQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateApplicationAlterationWithCsvQuery.test.ts
  frontend/benefit/handler/src/hooks/__tests__/useUpdateReviewStateQuery.test.ts
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useDecisionProposalDraftMutation.test.tsx
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useDecisionProposalTemplateQuery.test.ts
  frontend/benefit/handler/src/hooks/applicationHandling/__tests__/useHandlingStepper.test.ts
Due: pipelines/yjdh-tet-api-dev.yml

deps: upgrade styled-components to v6.1.19
  frontend/benefit/applicant/package.json
  frontend/benefit/applicant/src/components/termsOfService/TermsOfService.tsx
  frontend/benefit/handler/package.json
  frontend/benefit/handler/src/components/applicationForm/ApplicationForm.sc.ts
  frontend/benefit/handler/src/components/applicationReview/ApplicationReview.sc.ts
  frontend/benefit/handler/src/components/applicationReview/handledView/HandledView.sc.ts
  frontend/benefit/handler/src/components/footer/Footer.sc.ts
  frontend/benefit/handler/src/components/layout/Layout.tsx
  frontend/benefit/shared/package.json
  frontend/kesaseteli/employer/package.json
  frontend/kesaseteli/handler/package.json
  frontend/kesaseteli/handler/src/components/form/ActionButtons.tsx
  frontend/kesaseteli/handler/src/components/form/Field.tsx
  frontend/kesaseteli/handler/src/components/form/VtjRawData.tsx
  frontend/kesaseteli/youth/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/shared/package.json
  frontend/shared/src/components/benefit/summaryView/SummaryView.sc.ts
  frontend/shared/src/components/container/Container.sc.ts
  frontend/shared/src/components/drawer/Drawer.sc.tsx
  frontend/shared/src/components/forms/fields/fieldErrorMessage/FieldErrorMessage.sc.ts
  frontend/shared/src/components/forms/inputs/Dropdown.sc.ts
  frontend/shared/src/components/forms/inputs/TextInput.sc.ts
  frontend/shared/src/components/forms/section/FormSection.sc.ts
  frontend/shared/src/components/messaging/Messaging.sc.tsx
  frontend/shared/src/components/stepper/Stepper.sc.ts
  frontend/shared/src/components/stepper/WizardStepper.sc.ts
  frontend/shared/src/types/cssprop.d.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(ks-handler): extract shared note query invalidation helper
  frontend/kesaseteli/handler/src/hooks/backend/invalidateNoteQueries.ts
  frontend/kesaseteli/handler/src/hooks/backend/useCreateNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useDeleteNoteMutation.ts
  frontend/kesaseteli/handler/src/hooks/backend/useUpdateNoteMutation.ts
Due: pipelines/yjdh-tet-api-dev.yml

chore(frontend): remove unused app dependencies
  frontend/benefit/applicant/package.json
  frontend/benefit/handler/package.json
  frontend/kesaseteli/employer/package.json
  frontend/pnpm-lock.yaml
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

deps: upgrade @types/react to 19.2.18 and fix type compatibility
  frontend/benefit/handler/src/components/applicationList/ApplicationList.tsx
  frontend/benefit/handler/src/components/applicationList/ApplicationListForInstalments.tsx
  frontend/benefit/handler/src/components/applicationList/__tests__/ApplicationListForInstalments.test.tsx
  frontend/benefit/handler/src/components/applicationsArchive/ApplicationArchiveList.tsx
  frontend/benefit/handler/src/components/applicationsArchive/__tests__/ApplicationArchiveList.test.tsx
  frontend/benefit/handler/src/components/batchProcessing/BatchApplicationList.tsx
  frontend/benefit/handler/src/components/batchProcessing/__tests__/BatchApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/ActionCell.tsx
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/StatusFilter.tsx
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/shared/src/components/attachments/useUploadAttachment.ts
  frontend/shared/src/hooks/usePreviousValue.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/tet-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): fix docker build by removing unused sqlite & sqlite-devel
  backend/docker/kesaseteli.Dockerfile
Due: pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): update employer application statuses & transitions
  backend/kesaseteli/applications/api/v1/permissions.py
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/api/v1/views.py
  backend/kesaseteli/applications/employer_excel_export.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0043_migrate_target_group_data.py
  backend/kesaseteli/applications/migrations/0062_update_employer_application_status.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_applications_api.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_cleanup_applications_command.py
  backend/kesaseteli/applications/tests/test_excel_export.py
  backend/kesaseteli/applications/tests/test_foreign_iban_fields.py
  backend/kesaseteli/applications/tests/test_models.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/common/tests/conftest.py
  backend/kesaseteli/companies/tests/test_company_services.py
  backend/kesaseteli/docs/diagrams/employer-application-status-changes.mmd
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(ks): fix frontend after status changes, WIP! DO NOT MERGE!
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  frontend/kesaseteli/handler/public/locales/fi/common.json
  frontend/kesaseteli/handler/src/components/applicationList/ApplicationListTable.tsx
  frontend/kesaseteli/handler/src/components/applicationList/EmployerApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/YouthApplicationList.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ActionCell.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/ApplicationListTable.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/EmployerApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/__tests__/YouthApplicationList.test.tsx
  frontend/kesaseteli/handler/src/components/applicationList/searchFilters/StatusFilter.tsx
  frontend/kesaseteli/handler/src/components/form/HandlerForm.tsx
  frontend/kesaseteli/handler/src/types/application.ts
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor: replace pytz with stdlib timezone
  backend/benefit/applications/management/commands/seed.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): validation Number.parseFloat Refs: HL-1855
  frontend/benefit/handler/src/components/alterationHandling/utils/validation.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): error util reduce regex runtime Refs: HL-1855
  frontend/benefit/shared/src/utils/__tests__/errors.test.ts
  frontend/benefit/shared/src/utils/errors.ts
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): annotate Ahjo request class attributes
  backend/benefit/applications/services/ahjo_client.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): add PDF logo alt text
  backend/benefit/applications/services/pdf_templates/base.html
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

fix(benefit): use bash conditional syntax
  backend/benefit/docker-entrypoint.sh
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): modernize type annotations
  backend/benefit/applications/api/v1/search_views.py
  backend/benefit/applications/api/v1/serializers/application.py
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/services/ahjo/request_handler.py
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/services/ahjo_authentication.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_payload.py
  backend/benefit/applications/services/ahjo_xml_builder.py
  backend/benefit/applications/services/application_alteration_csv_report.py
  backend/benefit/applications/services/applications_power_bi_csv_report.py
  backend/benefit/applications/services/csv_export_base.py
  backend/benefit/calculator/api/v1/serializers.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): improve exception logging
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/api/v1/serializers/attachment.py
  backend/benefit/applications/management/commands/ahjo_base_command.py
  backend/benefit/applications/management/commands/send_ahjo_requests.py
  backend/benefit/applications/management/commands/subscribe_to_decisions_api.py
  backend/benefit/applications/services/ahjo/response_handler.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
  backend/benefit/applications/services/ahjo_xml_builder.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): use specific exception types
  backend/benefit/applications/api/v1/application_views.py
  backend/benefit/calculator/models.py
  backend/benefit/common/delay_call.py
  backend/benefit/terms/models.py
  backend/benefit/users/management/commands/set_group_permissions.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

feat(ks,backend): add new employer application statuses & status changes
  backend/kesaseteli/applications/api/v1/serializers.py
  backend/kesaseteli/applications/enums.py
  backend/kesaseteli/applications/migrations/0062_alter_employerapplication_status.py
  backend/kesaseteli/applications/tests/test_application_validation.py
  backend/kesaseteli/applications/tests/test_attachments_api.py
  backend/kesaseteli/applications/tests/test_security_with_non_staff_user.py
  backend/kesaseteli/docs/diagrams/employer-application-status-changes.mmd
Due: azure-pipelines/kesaseteli-api-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): centralize repeated literals
  backend/benefit/applications/api/v1/ahjo_integration_views.py
  backend/benefit/applications/api/v1/serializers/decision_text.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/terms/models.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): align integration return annotations
  backend/benefit/applications/api/v1/talpa_integration_views.py
  backend/benefit/applications/services/ahjo/request_handler.py
  backend/benefit/applications/services/ahjo_client.py
  backend/benefit/applications/services/ahjo_integration.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): define admin fields explicitly
  backend/benefit/applications/admin.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

refactor(benefit): simplify serializer validation
  backend/benefit/applications/api/v1/serializers/application.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

chore(benefit): remove commented configuration
  backend/benefit/users/__init__.py
Due: azure-pipelines/helsinkilisa-review.yml, pipelines/yjdh-tet-api-dev.yml

Path conditions:
  azure-pipelines/helsinkilisa-review.yml: any of: azure-pipelines/helsinkilisa-review.yml, backend/docker/benefit.Dockerfile, backend/benefit, backend/shared, frontend, frontend/benefit, frontend/shared, but not: README.md, backend/kesaseteli, backend/tet, frontend/kesaseteli, frontend/tet, frontend/**/browser-tests, frontend/**/__tests__
  azure-pipelines/kesaseteli-api-review.yml: any of: backend/kesaseteli, backend/shared, but not: README.md
  pipelines/tet-review.yml: any of: pipelines/tet-review.yml, backend/docker/tet.Dockerfile, backend/tet, backend/shared, frontend, frontend/tet, frontend/shared, but not: README.md, backend/benefit, backend/kesaseteli, frontend/benefit, frontend/kesaseteli, frontend/**/browser-tests, frontend/**/__tests__
  pipelines/yjdh-tet-api-dev.yml: any file but: *release-please*, *.md, .github, pipelines/yjdh-tet-api-release.yml, pipelines/yjdh-tet-api-review.yml, docker-compose*
